{% extends 'shop/layouts/base.html' %}
{% block title %}dashboard{% endblock %}
{% block content %}
	{% load static %}
{% if user.is_authenticated %}
	<div class="wrapper">
		{% include 'dashboard/layouts/dashboard_base.html' %}
			<div class="">
				<div class="container">
					<div class="row">
						{% include 'dashboard/include/sitebar.html' %}
							<div class="col-lg-9 col-md-8">
								<div class="dashboard-right">
									<div class="row">
										<div class="col-md-12">
											<div class="main-title-tab">
												<h4><i class="uil uil-box"></i>Мои заказы</h4>
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="pdpt-bg">
												<div class="pdpt-title">
													<h6>Delivery Timing 10 May, 3.00PM - 6.00PM</h6>
												</div>
												<div class="order-body10">
													<ul class="order-dtsll">
														<li>
															<div class="order-dt-img">
																<img src="{% static 'file/shop/images/groceries.svg' %}" alt="">
															</div>
														</li>
														<li>
															<div class="order-dt47">
																<h4>Ludhiana</h4>
																<p>Delivered</p>
																<div class="order-title">2 шт <span data-inverted="" data-tooltip="2кг Брокколи, 1кг Яблоко" data-position="top
																center">?</span></div>
															</div>
														</li>
													</ul>
													<div class="total-dt">
														<div class="total-checkout-group">
															<div class="cart-total-dil">
																<h4>Sub Total</h4>
																<span>$25</span>
															</div>
															<div class="cart-total-dil pt-3">
																<h4>Delivery Charges</h4>
																<span>Free</span>
															</div>
														</div>
														<div class="main-total-cart">
															<h2>Total</h2>
															<span>$25</span>
														</div>
													</div>
													<div class="call-bill">
														<div class="delivery-man">
															Курьер - <a href="#"><i class="uil uil-phone"></i> Позвонить</a>
														</div>
														<div class="order-bill-slip">
															<a href="#" class="bill-btn5 hover-btn">View Bill</a>
														</div>
													</div>
												</div>
											</div>
                                        </div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
{% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}" />
</head>
<!-- Body End -->

{% endif %}
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}
