{% extends 'shop/layouts/base.html' %}
{% block title %}dashboard{% endblock %}
{% block content %}
    {% load static %}
    <div class="wrapper">
        {% include 'dashboard/layouts/dashboard_base.html' %}
        <div class="">
            <div class="container">
                <div class="row">
                    {% include 'dashboard/include/sitebar.html' %}
                    <div class="col-lg-9 col-md-8">
                        <div class="dashboard-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-title-tab">
                                        <h4><i class="uil uil-box"></i>Заказы</h4>
                                    </div>
                                    <div class="contact-form-cart-order">
                                        <div class="card-body-table">
                                            <div class="table-responsive">
                                                <table class="table ucp-table1 table-hover table_sort">
                                                    <thead>
                                                    <tr>
                                                        <th>Номер заказа</th>
                                                        <th>Дата доставки</th>
                                                        <th>Статус</th>
                                                    </tr>
                                                    </thead>
                                                    {% for i in ord %}
                                                        <tr>
                                                            <td><a href="/dashboard/dashboard_order/{{ i.id }}">{{ i.id }}</a></td>
                                                            <td>{{ i.cal }}</td>
                                                            <td>
                                                                {% if i.status == '0' %}<span class="bullet" style="background-color: #8892d6"></span><span>В ожидании</span>{% endif %}
                                                                {% if i.status == '1' %}<span class="bullet" style="background-color: #45bbe0"></span><span>Формирование</span>{% endif %}
                                                                {% if i.status == '2' %}<span class="bullet" style="background-color: #78c350"></span><span>Доставка</span>{% endif %}
                                                                {% if i.status == '3' %}<span class="bullet" style="background-color: cadetblue"></span><span>Закрыто</span>{% endif %}
                                                                {% if i.status == '4' %}<span class="bullet" style="background-color: #fc544b"></span><span>Отмена</span>{% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% if not ord %}
                                                    <p style="text-align: center">К сожалению, Вы не совершали покупок</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'shop/layouts/footer.html' %}
    {% include 'shop/includes/scripts.html' %}
{% endblock content %}
