{% extends 'shop/layouts/base.html' %}
{% block title %}dashboard{% endblock %}
{% block content %}
    {% load static %}
    <div class="wrapper">
        {% include 'dashboard/layouts/dashboard_base.html' %}
        <div class="">
            <div class="container">
                <div class="row">
                    {% include 'dashboard/include/sitebar.html' %}
                    <div class="col-lg-9 col-md-8">
                        <div class="dashboard-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-title-tab">
                                        <h4><i class="uil uil-box"></i>Заказы</h4>
                                    </div>
                                </div>
                                {% for val in ord %}
                                    {% if val.status == '0' or val.status == '1' or val.status == '2' %}
                                        <div class="col-lg-12 col-md-12">
                                            <div class="pdpt-bg">
                                                <div class="pdpt-title">
                                                    <h6>ID Заказ : {{ val.id }}</h6>
                                                    <h6>Дата доставки : {{ val.cal }}</h6>
                                                </div>
                                                <div style="margin: 0 3px 0 3px" class="card-body-table">
                                                    <div class="table-responsive">
                                                        <table id="mytable" class="table ucp-table1 table-hover table_sort">
                                                            <thead>
                                                            <tr>
                                                                <th>№</th>
                                                                <th>Название</th>
                                                                <th>Кол-во</th>
                                                                <th>Цена за ед.</th>
                                                                <th>Общая цена</th>
                                                            </tr>
                                                            </thead>
                                                            {% for key,val in zakaz_dict.items %}
                                                                <tr>
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>{{ key }}</td>
                                                                    <td>{{ val.0 }} шт</td>
                                                                    <td>{{ val.1 }} р.</td>
                                                                    <td> р.</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                </li>
                                                </ul>

                                                {% for k in shop %}
                                                    {% if val.address_city == k.name %}
                                                        <input type="hidden" id="nal" value="{% if val.money %}{{ val.money }}{% else %}0{% endif %}">
                                                        <input type="hidden" id="delivery_price" value="{{ k.delivery_price }}">
                                                        <input type="hidden" id="delivery_price_min" value="{{ k.delivery_price_min }}">
                                                    {% endif %}
                                                {% endfor %}

                                                <div class="total-dt">
                                                    <div class="total-checkout-group">
                                                        <div class="cart-total-dil">
                                                            <h4>Итого</h4>
                                                            <span id="cart"> р.</span>
                                                        </div>
                                                        <div class="cart-total-dil pt-3">
                                                            <h4>Доставка</h4>
                                                            {% if val.delivery == 0 %}
                                                                <span>Бесплатно</span>
                                                            {% else %}
                                                                <span id="delivery">{{ val.delivery }} р.</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="main-total-cart">
                                                        <h2>Общая стоимость заказа</h2>
                                                        <span>{{ val.total_price }} р.</span>
                                                    </div>
                                                </div>
                                                <div class="alert-offer">
                                                    <label for="status" style="font-weight: 600">Оплата</label>
                                                    <div class="status-active_order">
                                                        {{ val.payment }}
                                                    </div>
                                                    {% if val.money %}
                                                        <div class="order-total-right-text" value="{{ val.money }}"> Наличными: {{ val.money }} р.
                                                            <total_change_text></total_change_text>
                                                            <total_change></total_change>
                                                        </div>{% endif %}
                                                </div>
                                                <div class="call-bill">
                                                    {% for c in shops %}
                                                        <div class="delivery-man">
                                                            Магазин : {{ c.name }} </br>
                                                            Телефон : {{ c.phone }} </br>
                                                            Время работы : {{ c.times|cut:"["|cut:"'"|cut:"]" }} </br>
                                                            Юр.адрес : {{ c.uraddress }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="order-bill-slip">
                                                        <div class="bill-btn5 hover-btn">View Bill</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'shop/layouts/footer.html' %}
    {% include 'shop/includes/scripts.html' %}
    <script src="{% static 'file/shop/js/order/editorder.js' %}"></script>
    <script src="{% static 'file/shop/js/order/editorder1.js' %}"></script>
{% endblock content %}
