{% extends 'shop/layouts/base.html' %}
{% block title %}dashboard{% endblock %}
{% block content %}
	{% load static %}
{% if user.is_authenticated %}
	<!-- Body Start -->
				<div class="wrapper">
						{% include 'dashboard/layouts/dashboard_base.html' %}
								<div class="">
									<div class="container">
										<div class="row">
										{% include 'dashboard/include/sitebar.html' %}
												<div class="col-lg-9 col-md-8">
													<div class="dashboard-right">
														<div class="row">
															<div class="col-md-12">
																<div class="main-title-tab">
																	<h4><i class="uil uil-user"></i>Профиль</h4>
																</div>
															</div>
															<div class="col-lg-12 col-md-12">
																<div class="pdpt-bg">
																	<div class="address-body">
																		<div class="address-item">
                                                                        <form method="post" enctype="multipart/form-data">
                                                                            {% csrf_token %}
																			<div class="news-content-right pd-20">
                                                                                <div class="form-group">
                                                                                    <label class="form-label">Имя</label>
                                                                                    <input type="text" class="form-control_user" name="name" value="{{ user.first_name }}" placeholder="Изменить
                                                                                    имя">
                                                                                </div>
                                                                                <div class="form-group inputs">
                                                                                    <label class="form-label">Смена пароля</label>
                                                                                    <input type="password" class="form-control_user password"  placeholder="Введите пароль" name="password">
                                                                                    <label><input type="checkbox" class="showPassword">Показать пароль</label>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label">Номер телефона</label>
                                                                                    <input id="phone" type="tel" class="form-control_user" name="edit_phone" value="{{ user.phone}}" pattern="+7\
                                                                                    ([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label">Адрес доставки</label>
                                                                                    <input type="text" class="form-control_user" name="edit_address" value="{{ user.address }}" >
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="form-label">Email*</label>
                                                                                    <input type="email" class="form-control_user" name="edit_email" value="{{ user.email }}" pattern="" >
                                                                                </div>
                                                                                <button class="save-btn hover-btn" type="submit">Сохранить</button>
                                                                            </div>
                                                                        </form>
																		</div>
                                                                    </div>
																</div>
															</div>
														</div>
													</div>
												</div>
                                        </div>
                                    </div>
                                </div>
                </div>
{% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}" />
</head>

{% endif %}
	<!-- Body End -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}
