{% extends 'shop/layouts/base.html' %}
{% block title %}dashboard{% endblock %}
{% block content %}
    {% load static %}
    <!-- Body Start -->
    <div class="wrapper">
        {% include 'dashboard/layouts/dashboard_base.html' %}
        <div class="">
            <div class="container">
                <div class="row">
                    {% include 'dashboard/include/sitebar.html' %}
                    <div class="col-lg-9 col-md-8">
                        <div class="dashboard-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-title-tab">
                                        <h4><i class="uil uil-user"></i>Профиль</h4>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="pdpt-bg">
                                            <div class="address-body">
                                                <div class="address-item">
                                                    <div class="news-content-right pd-20">
                                                        <div class="form-group">
                                                            <label class="form-label">Имя</label>
                                                            <input type="text" name="first_name" class="form-control_user" value="{{ users.first_name }}"
                                                                   placeholder="Изменить имя">
                                                        </div>
                                                        <div class="form-group inputs">
                                                            <label class="form-label">Смена пароля</label>
                                                            <input type="password" name="password" class="form-control_user password" placeholder="Введите пароль">
                                                            <label><input type="checkbox" class="showPassword"> Показать пароль</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label">Номер телефона</label>
                                                            <input id="phone" type="tel" name="edit_phone" class="form-control_user" value="{{ users.phone }}" pattern="+7\
                                                                                    ([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label">Адрес</label>
                                                            <input type="text" name="edit_address" class="form-control_user" {% if users.address != None and user.address %}
                                                                   value="{{ users.address }}" {% else %} placeholder="Адрес доставки" {% endif %}>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label">E-mail*</label>
                                                            <input type="email" name="edit_email" class="form-control_user" value="{{ users.email }}" required="">
                                                        </div>
                                                        <button class="save-btn hover-btn" type="submit" value="Submit">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->}
    {% include 'shop/layouts/footer.html' %}
    {% include 'shop/includes/scripts.html' %}

{% endblock content %}
