{% load static %}
<div class="col-lg-3 col-md-4">
  <div class="left-side-tabs">
      <a href="{% url 'dashboard' %}" class="user-item {% if request.path == '/dashboard/' %}active{% endif %}"><i class="uil uil-apps"></i>Обзор</a>
      <a href="{% url 'my_orders' %}" class="user-item {% if request.path == '/dashboard/my_orders/' %}active{% endif %}"><i class="uil uil-box"></i>Мои заказы</a>
      <a href="{% url 'my_wallet' %}" class="user-item {% if request.path == '/dashboard/my_wallet/' %}active{% endif %}"><i class="uil uil-wallet"></i>Мой кошелек</a>
      <a href="{% url 'my_wishlist' %}" class="user-item {% if request.path == '/dashboard/my_wishlist/' %}active{% endif %}"><i class="uil uil-heart"></i>Избранные продукты</a>
      <a href="{% url 'my_addresses' %}" class="user-item {% if request.path == '/dashboard/my_addresses/' %}active{% endif %}"><i class="uil uil-location-point"></i>Мои адреса</a>
      <a href="{% url 'logout' %}" class="user-item"><i class="uil uil-exit"></i>Выход</a>
  </div>
</div>