{% load static %}
<div class="gambo-Breadcrumb"><div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'list_order_dashboard' %}"></a></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<div class="dashboard-group">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="user-dt">
					<h4> {{ user.first_name }}</h4>
                    <h5>{{ user.email }}</h5>
                    {% if user.phone and user.phone != '+7 (___) ___-__-__' %}
                        <p>{{ user.phone }}</p>
                    {% else %}
                        <p>Телефон не указан</p>
                    {% endif %}
					<div class="address-dt-all">
                        {% if user.address != None and user.address %}
                            <p>{{ user.address }}</p>
                        {% else %}
                            <p>Адрес доставки</p>
                        {% endif %}
                        </ul>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
