<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description-panel" content="">
    <meta name="tsyrenschikov.ru" content="">
    <title>КООП Панель Управления - {% block title %}{% endblock %}</title>
    <link href="{% static 'file/panel/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/admin-style.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{% static 'file/panel/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/modal_update.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

</head>

{% block content %}{% endblock %}

</html>