<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load hosts %}
{% host_url 'contact' as contact_url %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description-panel" content="">
    <meta name="tsyrenschikov.ru" content="">
    <title>КООП Панель Управления - {% block title %}{% endblock %}</title>
    <link href="{% static 'file/panel/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/admin-style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!--Select Add -->
    <link href="{% static 'file/panel/css/docsupport/style.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/docsupport/prism.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/chosen.css' %}" rel="stylesheet">


    <!-- Add locations Day -->
    <script src="{% static 'file/panel/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'file/panel/js/jquery.multiselect.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Vendor Stylesheets -->
    <link href="{% static 'file/panel/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock stylesheet %}

</head>

<body class="sb-nav-fixed">
{% include 'panel/include/navbar.html' %}
<div id="layoutSidenav">
    {% include 'panel/include/sidenav.html' %}
    <div id="layoutSidenav_content">
        {% block content %}{% endblock content %}
        {% include 'panel/layouts/footer.html' %}
    </div>
</div>
{% include 'panel/include/scripts.html' %}{% block js %}{% endblock js %}
</body>

</html>