{% load hosts %}
{% host_url 'homepage' as homepage_url %}
<footer class="py-4 bg-footer mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted-1">© 2021-{% now 'Y' %} КООП Доставка продуктов</div>
                            <div class="footer-links">
                                <a href="{{ homepage_url }}" target="_blank">В магазин</a>
                            </div>
                        </div>
                    </div>
</footer>