{% extends 'shop/layouts/base.html' %}

{% block title %}shop{% endblock %}

{% block content %}
	{% load static %}
  	<!-- Body Start -->
		<div class="wrapper">
            <!-- Categories Start -->
            <div class="section145">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-title-tt">
                                <div class="main-title-left">
                                    <h2>Категории</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="owl-carousel cate-slider owl-theme">
                                {% for subcat in subcat %}
                                    {% if categories.status %}
                                        <div class="item">
                                            <a href="#" class="category-item">
                                                {% if subcat.image %}
                                                    <div class="cate-img">
                                                        <img src="{{ subcat.image.url }}" alt="">
                                                    </div>
                                                {% endif %}
                                                <h4>{{ subcat.name }}</h4>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		<!-- Categories End -->

		<!-- Featured Products Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2></h2>
							</div>
							<a href="#" class="see-more-btn">Весь список</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
                            {% for product in product %}
                            {% if product.status %}
                            <div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										{% if product.image %}
                                            <img src="{{ product.image.url }}" width="250" height="180" alt="">
                                        {% endif %}
										<div class="product-absolute-options">
											<span class="like-icon" title="wishlist"></span>
										</div>
									</a>
									<div class="product-text-dt">
										<p><span>В наличии</span></p>
										<h5>{{ product.name}}</h5>
										<div class="product-price">{{ product.price }} р.</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
                            {% endif %}
                                {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Featured Products End -->
	</div>
	<!-- Body End -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}