#edit_email {
	background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(91, 230, 132, 0.93), rgba(245, 195, 44, 0.75));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#edit_phone {
	background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(91, 230, 132, 0.93), rgba(245, 195, 44, 0.75));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#edit_address {
	background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(91, 230, 132, 0.93), rgba(245, 195, 44, 0.75));
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#okno_email {
	width: 300px;
	height: 50px;
	color: #000000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#okno_phone {
	width: 300px;
	height: 50px;
	color: #000000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#okno_address {
	width: 300px;
	height: 50px;
	color: #000000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
#edit_email:target {display: block;}
#edit_phone:target {display: block;}
#edit_address:target {display: block;}

.save-btn {
    background: #f55d2c;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    margin-top: 20px;
	margin-left: 90px;
}

.hover-btn:hover {
	text-decoration: none !important;
	background: #f55d2c;
	color: #fff !important;
	transition: all .2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
	background-image: -webkit-linear-gradient(left, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
    background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
}

.action-btns {
	display: flex;
	align-items: center;
}

.action-btns a {
	font-size: 14px;
	color: #2b2f4c;
	margin-right: 15px;
}

.action-btns a:last-child {
	margin-right: 0;
}

.action-btns a:hover {
	color: #f55d2c !important;
}