{% load static %}
<li class="ui dropdown">
    {% if 'manager' in groups %}
        <head>
            <meta http-equiv="refresh" content="0; https://panel.coop-dostavka.ru"/>
        </head>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="#" class="opts_account">
            <img src="{% static 'file/shop/images/avatar/img_icon.jpg' %}" alt="">
            <span class="user__name">{{ user.first_name }}</span>
            <i class="uil uil-angle-down"></i>
        </a>
        <div class="menu dropdown_account">
            <div class="night_mode_switch__btn">
                <a href="#" id="night-mode" class="btn-night-mode">
                    <i class="uil uil-moon"></i> Черная тема
                    <span class="btn-night-mode-switch">
											<span class="uk-switch-button"></span>
										</span>
                </a>
            </div>
            <a href="{% url 'list_order_dashboard' %}" class="item channel_item"><i class="uil uil-box icon__1"></i>Заказы</a>
            <a href="/dashboard/edit_profile/{{ user.id }}" class="item channel_item"><i class="uil uil-user icon__1"></i>Профиль</a>
            <a href="{% url 'logout' %}?next={{ request.path }}" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>Выход</a>
        </div>
    {% else %}
        <li class="ui dropdown">
            <a href="#" class="opts_account">
                <img src="{% static 'file/shop/images/avatar/img-21.jpg' %}" alt="">
                <span class="user__name">Личный кабинет</span>
                <i class="uil uil-angle-down"></i>
            </a>
            <div class="menu right dropdown_account dropdown_account_rl" style="right: 0;left: auto;">
                <div class="rl-account">
                    <div class="rl-account-step">
                        <p><h4>Авторизация</h4></p>
                        <a href="{% url 'login' %}?next={{ request.path }}" class="item lr-acount-btn hover-btn">Войти</a>
                    </div>
                    <div class="rl-account-step">
                        <p><h4>Регистрация</h4></p>
                        <a href="{% url 'signup' %}?next={{ request.path }}" class="item lr-acount-btn hover-btn">Создать аккаунт</a>
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
</li>