{% load static %}

<!-- Footer Start -->
<footer class="footer">
    <div class="footer-first-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="call-email-alt">
                        <li><a href="#" class="callemail"><i class="uil uil-envelope-alt"></i>info@coop-dostavka.ru</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-second-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item">
                        <h4>Категории</h4>
                        <ul>
                            {% for categories in categories %}
                                {% if categories.status %}
                                    <li><a href="#">{{ categories.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item">
                        <h4>Полезные ссылки</h4>
                        <ul>
                            <li><a href="{% url 'grid' %}">Последние поступления</a></li>
                            <li><a href="{% url 'offers' %}">Акция</a></li>
                            <li><a href="{% url 'faq' %}">Помощь</a></li>
                            <li><a href="{% url 'career' %}">Вакансии</a></li>
                            <li><a href="{% url 'contact' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item">
                        <h4>Магазины</h4>
                        <ul>
                            <li><a href="#">Екатеринбург</a></li>
                            <li><a href="#">Красноуфимск</a></li>
                            <li><a href="#">Первоуральск</a></li>
                            <li><a href="#">Арти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item-app">
                        <h4>Скачать приложение</h4>
                        <ul>
                            <li><a href="#"><img class="download-btn" src="{% static 'file/shop/images/download-1.svg' %}" alt=""></a></li>
                            <li><a href="#"><img class="download-btn" src="{% static 'file/shop/images/download-2.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="second-row-item-payment">
                        <h4>Способы оплаты</h4>
                        <div class="footer-payments">
                            <ul id="paypal-gateway" class="financial-institutes">
                                <li class="financial-institutes__logo">
                                    <img alt="Visa" title="Visa" src="{% static 'file/shop/images/footer-icons/pyicon-6.svg' %}">
                                </li>
                                <li class="financial-institutes__logo">
                                    <img alt="Visa" title="Visa" src="{% static 'file/shop/images/footer-icons/pyicon-1.svg' %}">
                                </li>
                                <li class="financial-institutes__logo">
                                    <img alt="MasterCard" title="MasterCard" src="{% static '/file/shop/images/footer-icons/pyicon-2.svg' %}">
                                </li>
                                <li class="financial-institutes__logo">
                                    <img alt="Discover" title="Discover" src="{% static '/file/shop/images/footer-icons/pyicon-4.svg' %}">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="second-row-item-payment">
                        <h4>Новости</h4>
                        <div class="newsletter-input">
                            <input id="email" name="email" type="text" placeholder="Email адрес" class="form-control input-md" required="">
                            <button class="newsletter-btn hover-btn" type="submit"><i class="uil uil-telegram-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-last-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-links">
                        <ul>
                            <li><a href="{% url 'contact' %}">Обратная связь</a></li>
                            <li><a href="privacy_policy.html">Политика конфедециальности</a></li>
                            <li><a href="term_and_conditions.html">Сроки и условия</a></li>
                            <li><a href="refund_and_return_policy.html">Политика возврата</a></li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <i class="uil uil-copyright"></i>Copyright  КООП Доставка продуктов</b> .
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->