{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Доставка продуктов питания, готовой еды, товаров повседнего спроса, бытовой техники, строительных материалов и мебели">
<meta name="robots" content="Доставка продуктов питания, готовой еды, товаров повседнего спроса, бытовой техники, строительных материалов и мебели в
        {% for l in local %}{{ l }}, {% endfor %},купить, пицца,пироги, роллы, диван, кухонный гарнитур, цемент, стиральная машина, холодильник, плита">
<meta name="author" content="V.Tsyrenschikov">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'file/shop/images/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'file/shop/images/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'file/shop/images/favicon/favicon-16x16.png' %}">
<link rel="icon" type="image/x-icon" href="{% static 'file/shop/images/favicon/favicon.ico' %}">
<link rel="manifest" href="{% static 'file/shop/images/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'file/shop/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">