<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Доставка продуктов питания, готовой еды, товаров повседнего спроса, бытовой техники, строительных материалов и мебели">
<meta name="robots" content="Доставка продуктов питания, готовой еды, товаров повседнего спроса, бытовой техники, строительных материалов и мебели в {% for l in local %}{{ l }}, {% endfor %}" />
<meta name="author" content="V.Tsyrenschikov">