@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* --- base --- */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus:not(.focus-visible) {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

.focus-visible {
  outline: .25rem solid orange;
  outline-offset: .125em;
}

:focus-visible {
  outline: .25rem solid orange;
  outline-offset: .125em;
}

/* --- page --- */

html,
body {
  height: 100%;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 0, 0, 0.04);
}

/* --- catalog --- */

.catalog {
  position: relative;
  display: inline-block;
}

.catalog__navigation {
  position: absolute;
  top: calc(100% + 1.25rem);
  left: 0;
}

/* --- trigger --- */

.trigger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .75em;
     -moz-column-gap: .75em;
          column-gap: .75em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75em 1em;
  margin: 0;
  border: none;
  border-radius: .25em;
  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trigger:hover {
    background-color: #fff;
  }

.trigger__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/* --- burger --- */

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger--active .burger__bar {
      background-color: transparent;
    }

.burger--active .burger__bar::before {
        -webkit-transform: translateY(.375em) rotate(45deg);
            -ms-transform: translateY(.375em) rotate(45deg);
                transform: translateY(.375em) rotate(45deg);
      }

.burger--active .burger__bar::after {
        -webkit-transform: translateY(-.375em) rotate(-45deg);
            -ms-transform: translateY(-.375em) rotate(-45deg);
                transform: translateY(-.375em) rotate(-45deg);
      }

.burger__bar,
.burger__bar::before,
.burger__bar::after {
  display: block;
  width: 1em;
  height: .125rem;
  border-radius: .25rem;
  background-color: currentColor;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.burger__bar {
  position: relative;
}

.burger__bar::before,
  .burger__bar::after {
    content: "";
    position: absolute;
  }

.burger__bar::before {
    top: -.375em;
  }

.burger__bar::after {
    bottom: -.375em;
  }

/* --- navigation --- */

.navigation {
  -webkit-animation: slideUp .1s ease-out forwards;
          animation: slideUp .1s ease-out forwards;
}

.navigation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 1.5em;
    width: 0;
    height: 0;
    margin-top: -.75em;
    margin-left: -.75em;
    border: .75em solid transparent;
    border-top: 0;
    border-bottom-color: white;
  }

.navigation:not(.navigation--active) {
    display: none;
  }

@-webkit-keyframes slideUp {

  from {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {

  from {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* --- list --- */

.list {
  width: 16rem;
  height: 100%;
  padding: .5rem 0;
  margin: 0;
  border-radius: .25rem;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 0 6px 18px rgba(14, 21, 47, 0.1), 0 -2px 6px rgba(14, 21, 47, 0.06);
          box-shadow: 0 6px 18px rgba(14, 21, 47, 0.1), 0 -2px 6px rgba(14, 21, 47, 0.06);
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item[focus-within] > .list__sublist-container {
      display: block;
    }

.list__item:focus-within > .list__sublist-container {
      display: block;
    }

.list__item--active > .list__link {
      background-color: rgba(0, 0, 0, 0.04);
    }

.list__item--active > .list__sublist-container {
      display: block;
    }

.list__item--has-sublist > .list__link {
      padding-right: 1.75em;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' fill='rgb(0 0 0 / 32%)'><path d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
      background-repeat: no-repeat;
      background-position: right .5em center;
      background-size: .75em .75em;
    }

.list__link {
  width: 100%;
  padding: .5em .75em;
  margin: 0 .5em;
  border-radius: .25em;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  text-decoration: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.list__sublist-container {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 100%;
  height: 100%;
}

.list__sublist-container .list {
    overflow-y: auto;
  }