<ul class="accordions-list">
  <li class="accordion-single">
    <div class="accordion-single-brief">
        <h5>Выбрать способ замены товара</h5>
      <div class="accordion-icon icon-open">
        <span></span>
        <span></span>
      </div>
      <div class="accordion-icon icon-close">
        <span></span>
      </div>
    </div>
    <div class="accordion-single-details">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </li>
  <li class="accordion-single">
    <div class="accordion-single-brief">
      <h5>Оплата товара</h5>
      <div class="accordion-icon icon-open">
        <span></span>
        <span></span>
      </div>
      <div class="accordion-icon icon-close">
        <span></span>
      </div>
    </div>
    <div class="accordion-single-details">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>
  </li>
    <li class="accordion-single">
    <div class="accordion-single-brief">
      <h5>Комментарий</h5>
      <div class="accordion-icon icon-open">
        <span></span>
        <span></span>
      </div>
      <div class="accordion-icon icon-close">
        <span></span>
      </div>
    </div>
    <div class="accordion-single-details">
        <div class="col-lg-62">
            <div class="form-group mb-3">
                <textarea type="text" class="form-control" name="commit"></textarea>
            </div>
        </div>
    </div>
  </li>
</ul>