{% load static %}
<ul class="accordions-list">
    <li class="accordion-single">
        <div class="accordion-single-brief">
            <h5>Cпособ замены товара</h5>
            <div class="accordion-icon icon-open">
                <span></span>
                <span></span>
            </div>
            <div class="accordion-icon icon-close">
                <span></span>
            </div>
        </div>
        <div class="accordion-single-details">
            <div class="col-lg-62">
                <div class="form-group mb-3">
                    <div>
                        <label class="mi-radio__label">
                        </label>
                    </div>
                    <fieldset class="mi-fieldset">
                        <div class="fieldset__option mi-radio">
                            <label class="mi-radio__label">
                                <input type="radio" class="mi-radio__input js-radio-input" name="replace" value="Позвонить мне. Подобрать замену если не смогу ответить." checked/>
                                <span><h4>Позвонить мне. Подобрать замену если не смогу ответить.</h4></span>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="mi-fieldset">
                        <div class="fieldset__option mi-radio">
                            <label class="mi-radio__label">
                                <input type="radio" class="mi-radio__input js-radio-input" name="replace" value="Позвонить мне. Удалить с заказа если не смогу ответить." checked/>
                                <span><h5>Позвонить мне. Удалить с заказа если не смогу ответить.</h5></span>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="mi-fieldset">
                        <div class="fieldset__option mi-radio">
                            <label class="mi-radio__label">
                                <input type="radio" class="mi-radio__input js-radio-input" name="replace" value="Не звонить мне. Подобрать замену." checked/>
                                <span class="mi-radio__text"><h5>Не звонить мне. Подобрать замену.</h5></span>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset class="mi-fieldset">
                        <div class="fieldset__option mi-radio">
                            <label class="mi-radio__label">
                                <input type="radio" class="mi-radio__input js-radio-input" name="replace" value="Не звонить мне. Удалить с заказа." checked/>
                                <span class="mi-radio__text"><h5>Не звонить мне. Удалить с заказа.</h5></span>
                            </label>
                        </div>
                    </fieldset>
                    <div class="fieldset__option mi-radio">
                        <label class="mi-radio__label">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="accordion-single">
        <div class="accordion-single-brief">
            <h5>Оплата товара</h5>
            <div class="accordion-icon icon-open">
                <span></span>
                <span></span>
            </div>
            <div class="accordion-icon icon-close">
                <span></span>
            </div>
        </div>
        <div class="accordion-single-details">
            <div class="col-lg-62">
                <fieldset class="mi-fieldset">
                    <div class="fieldset__option mi-radio">
                        <label class="mi-radio__label">
                            <input type="radio" class="mi-radio__input js-radio-input" name="payment" value="Курьеру.Наличный расчет." checked/>
                            <span><h4><i class="icon-wallet1"></i>Курьеру.Наличный расчет.</h4></span>
                        </label>
                        <div class="col-lg-62">
                            <div class="form-group mb-3">
                                <input name="money" type="text" class="form-control" min="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                       value="" placeholder="С какой суммы вам подготовить сдачу?">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="mi-fieldset">
                    <div class="fieldset__option mi-radio">
                        <label class="mi-radio__label">
                            <input type="radio" class="mi-radio__input js-radio-input" name="payment" value="Курьеру. Безналичный расчет."/>
                            <span><h4><i class="icon-cart"></i>Курьеру. Безналичный расчет.</h4></span>
                        </label>
                    </div>
                </fieldset>
                {% comment %}SBP{% endcomment %}
                {% include 'shop/includes/sbp.html' %}
            </div>
        </div>
    </li>
    <li class="accordion-single">
        <div class="accordion-single-brief">
            <h5>Комментарий</h5>
            <div class="accordion-icon icon-open">
                <span></span>
                <span></span>
            </div>
            <div class="accordion-icon icon-close">
                <span></span>
            </div>
        </div>
        <div class="accordion-single-details">
            <div class="col-lg-62">
                <div class="form-group mb-3">
                    <textarea type="text" class="form-control" name="commit" maxlength="250"></textarea>
                </div>
            </div>
        </div>
    </li>
</ul>