{% if product.fabricator or product.color or product.material or product.width or product.height or product.length %}
    <div class="pdp-details">
        <ul>
            <li>
                <div class="pdp-group-dt">
                    {% if product.fabricator or product.color or product.material %}
                        <div class="pdp-icon"><i class="uil uil-drill"></i></div>
                        <div class="pdp-text-dt">
                            <span>Заводские данные</span>
                            {% if product.fabricator %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Производитель</div>
                                    <div class="product-characteristics__spec-value">{{ product.fabricator }}</div>
                                </div>
                            {% endif %}
                            {% if product.color %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Цвет материала</div>
                                    <div class="product-characteristics__spec-value">{{ product.color }}</div>
                                </div>
                            {% endif %}
                            {% if product.material %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Материал</div>
                                    <div class="product-characteristics__spec-value">{{ product.material }}</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if product.width or product.height or product.length %}
                        <div class="pdp-icon"><i class="uil uil-tape"></i></div>
                        <div class="pdp-text-dt">
                            <span>Технические характеристики</span>
                            {% if product.width %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Высота</div>
                                    <div class="product-characteristics__spec-value">{{ product.width }} мм</div>
                                </div>
                            {% endif %}
                            {% if product.height %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Ширина</div>
                                    <div class="product-characteristics__spec-value">{{ product.height }} мм</div>
                                </div>
                            {% endif %}
                            {% if product.length %}
                                <div class="product-characteristics__spec product-characteristics__ovh">
                                    <div class="product-characteristics__spec-title">Глубина</div>
                                    <div class="product-characteristics__spec-value">{{ product.length }} мм</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
{% endif %}