<header>

    <div class="cf">

        <nav id="main-nav">

            <ul class="first-nav">
                <li class="cryptocurrency">
                    <a href="#" target="_blank">Криптовалюта</a>
                    <ul>
                        <li><a href="#">Bitcoin</a></li>
                        <li><a href="#">Ethereum</a></li>
                        <li><a href="#">NEO</a></li>
                        <li><a href="#">ZCash</a></li>
                        <li><a href="#">Dogecoin</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="second-nav">
                <li class="devices">
                    <a>Девайсы</a>
                    <ul>
                        <li class="mobile">
                            <a href="#">Мобильные телефоны</a>
                            <ul>
                                <li><a href="#">Смартфоны</a></li>
                                <li><a href="#">Планшеты</a></li>
                                <li><a href="#">Фаблеты</a></li>
                                <li><a href="#">Кнопочные</a></li>
                            </ul>
                        </li>
                        <li class="television">
                            <a href="#">Телевизоры</a>
                            <ul>
                                <li><a href="#">Для дома</a></li>
                                <li><a href="#">Супер LED</a></li>
                                <li><a href="#">Дешевые</a></li>
                                <li><a href="#">3D телевизоры</a></li>
                                <li><a href="#">Обычные</a></li>
                            </ul>
                        </li>
                        <li class="camera">
                            <a href="#">Камеры</a>
                            <ul>
                                <li><a href="#">Профессиональные</a></li>
                                <li><a href="#">Маленькие</a></li>
                                <li><a href="#">Удобные</a></li>
                                <li><a href="#">Супер Pixel</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="magazines">
                    <a href="#">Издания</a>
                    <ul>
                        <li><a href="#">National Geographic</a></li>
                        <li><a href="#">Scientific American</a></li>
                        <li><a href="#">The Spectator</a></li>
                        <li><a href="#">The Rambler</a></li>
                        <li><a href="#">Physics World</a></li>
                        <li><a href="#">The New Scientist</a></li>
                    </ul>
                </li>
                <li class="store">
                    <a href="#">Магазины</a>
                    <ul>
                        <li>
                            <a href="#">Одежды</a>
                            <ul>
                                <li>
                                    <a href="#">Женская одежда</a>
                                    <ul>
                                        <li><a href="#">Топы</a></li>
                                        <li><a href="#">Платья</a></li>
                                        <li><a href="#">Юбки</a></li>
                                        <li><a href="#">Обувь</a></li>
                                        <li><a href="#">Sale</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Мужская одежда</a>
                                    <ul>
                                        <li><a href="#">Рубашки</a></li>
                                        <li><a href="#">Штаны</a></li>
                                        <li><a href="#">Обувь</a></li>
                                        <li><a href="#">Sale</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Украшения</a>
                        </li>
                        <li>
                            <a href="#">Музыка</a>
                        </li>
                        <li>
                            <a href="#">Бакалия</a>
                        </li>
                    </ul>
                </li>
                <li class="collections"><a href="#">Коллекции</a></li>
                <li class="credits"><a href="#">Кредиты</a></li>
            </ul>

        </nav>

            <a class="category_drop hover-btn  toggle"><i class="uil uil-apps"></i><span
                    class="cate__icon">Категории</span></a>

        </div>

</header>
