<!-- Category Model Start-->
	<div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
						<i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content">
                    <div class="cate-header">
                        <h4>Публичная оферта {{ name }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% include 'shop/includes/pagelic.html' %}</p>
                    </div>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <a href="#" class="morecate-btn"><i class="uil uil-multiply"></i>Закрыть</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
	<!-- Category Model End-->