{% load thumbnail %}


<!-- Featured Products Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2>Новое поступление</h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
                            {% for products in new_products %}
							<div class="item">
								<div class="product-item">
                                    <a href="/bogdan/product/{{ products.id }}" class="product-img">
									{% thumbnail products.image "300x300" crop="center" as im %}
                                        <img src="{{ im.url }}"alt="">
                                    {% endthumbnail %}
								</a>
									<div class="product-text-dt">
										<h4 class="cuttedText">{{ products.name }}</h4>
										<div class="product-price">{{ products.price }} р.</div>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Featured Products End -->