{% load static %}
<!-- Offers Start -->
<div class="main-banner-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel offers-banner owl-theme">
                    <div class="item" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="offer-item">
                            <div class="offer-item-img">
                                <div class="gambo-overlay"></div>
                                <img src="{% static 'file/shop/images/banners/offer-2.webp' %}" alt="">
                            </div>
                            <div class="offer-text-dt">
                                <div class="offer-top-text-banner">
                                    <div class="top-text-1">Воды, соки, напитки</div>
                                    <span>Вода питьевая,газированная, Квас, Соки ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="offer-item">
                            <div class="offer-item-img">
                                <div class="gambo-overlay"></div>
                                <img src="{% static 'file/shop/images/banners/offer-3.webp' %}" alt="">
                            </div>
                            <div class="offer-text-dt">
                                <div class="offer-top-text-banner">
                                    <div class="top-text-1">Яйца</div>
                                    <span>Яйца куриные, перепелиные </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="offer-item" data-toggle="modal" data-target="#exampleModalCenter">
                            <div class="offer-item-img">
                                <div class="gambo-overlay"></div>
                                <img src="{% static 'file/shop/images/banners/offer-4.jpg' %}" alt="">
                            </div>
                            <div class="offer-text-dt">
                                <div class="offer-top-text-banner">
                                    <div class="top-text-1">Фрукты и овощи</div>
                                    <span>Свежие овощи и фрукты</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="offer-item" data-toggle="modal" data-target="#exampleModalCenter">
                            <div class="offer-item-img">
                                <div class="gambo-overlay"></div>
                                <img src="{% static 'file/shop/images/banners/offer-5.webp' %}" alt="">
                            </div>
                            <div class="offer-text-dt">
                                <div class="offer-top-text-banner">
                                    <div class="top-text-1">Бакалея</div>
                                    <span>Крупы, Мука, Чай ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offers End -->