
{% for name,ogrn,uraddress,times,days,slug in shop %}
    {% if slug == address_str %}
        <p style="text-align: center"><b>ПРЕДЛОЖЕНИЕ "{{ name }}" О ЗАКЛЮЧЕНИИ ДОГОВОРА РОЗНИЧНОЙ КУПЛИ-ПРОДАЖИ ДИСТАНЦИОННЫМ СПОСОБОМ в редакции от 10.11.2021г.</b></p>
        <p class="plic">Настоящая Публичная оферта (Соглашение) заключается между юридическим лицом потребительским обществом,
        районным потребительским обществом или потребительским кооперативом (далее –Владелец) и любым лицом,
        становящимся после принятия условий данного соглашения пользователем сервиса Coop-dostavka,
            в дальнейшем именуемый «Пользователь», вместе по тексту Соглашения именуемые «Стороны», а по отдельности – «Сторона».</p>

        <p class="plic"> Под сервисом Coop-dostavka понимается совокупность программного обеспечения интернет-сайта,
        размещенного в сети Интернет по адресу: www.coop-dostavka.ru,мобильного приложения Coop-dostavka
        (программы для ЭВМ, предназначенной для мобильных устройств), базы данных,  любого из перечисленных компонентов сервиса.</p>
        <p class="plic">В соответствии со статьей 435 Гражданского кодекса РФ настоящее Пользовательское соглашение признается офертой.</p>
        <p class="plic">В соответствии со статьей 438 Гражданского кодекса РФ безусловным принятием (акцептом) условий настоящего Соглашения считается факт регистрации на Сайте.</p>
         <p class="plic">Настоящий документ является публичной офертой в соответствии со ст. 437 Гражданского Кодекса Российской Федерации, и содержит в себе предложение
        Продавца о заключении с любым лицом (юридическим лицом, физическим лицом, достигшим 18 летнего возраста, индивидуальным предпринимателем)
        договора розничной купли-продажи товаров на основании ознакомления с описанием товара, представленного на Сайте. <p class="plic">
        <p class="plic">Настоящая Публичная оферта действует до момента принятия оферты в новой редакции.</p>
        <p class="plic">В своей деятельности Продавец руководствуется положениями Гражданского кодекса РФ о розничной купле-продаже (§ 2, гл. 30),
        Закона РФ «О защите прав потребителей», Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", а также Правилами продажи
        Товаров дистанционным способом, утвержденными Постановлением Правительства № 2463 от 31.12.2020, и иными правовыми актами РФ.
        Законодательство о защите прав потребителей распространяется на Покупателя в случае, если Товар был приобретен им для личного,
        семейного, домашнего или иного использования, не связанного с предпринимательской деятельностью.</p>
        <p class="plic">В тех случаях, когда условия Соглашения содержат пункты с активными гиперссылками на конкретные тематические разделы
        Сайта с более подробной информацией и (или) условиями, определяющими права и обязанности Покупателя и Продавца, при этом условия,
        размещённые по таким гиперссылкам, являются неотъемлемой частью Соглашения. Способ обеспечения доступа к тем или иным частям настоящего Соглашения
            посредством активных гиперссылок является общепринятым способом размещения информации в сети Интернет.</p>
        <p class="plic">Настоящее Соглашение, заключаемое путем акцепта настоящей оферты, не требует двустороннего подписания и действительно
            в электронном виде.</p>
        <p style="text-align: center"><b>1. Термины и определения, используемые в Соглашении</b></p>
        <p class="plic">В Соглашении, если из текста Соглашения прямо не вытекает иное, следующие слова и выражения будут иметь указанные ниже значения:</p>
<p class="list">1.1.	Акцепт оферты – полное и безоговорочное принятие всех без исключения положений настоящего Договора Покупателем.
        Акцептом признается получение продавцом сообщения о намерении Покупателя приобрести товар, сопровождающееся оплатой Товара,
    в случае приобретения товара на условиях предварительной оплаты.</p>
<p class="list">1.2.   Сайт – совокупность программных и аппаратных средств для ЭВМ, обеспечивающих публикацию для всеобщего обозрения информации и
    данных, объединенных общим целевым назначением, посредством технических средств, применяемых для связи между ЭВМ в сети Интернет.</p>
<p class="list">1.3. Администратор/Владелец Сайта – название райпо, расположенное по адресу: {{ uraddress }}</p>
<p class="list">1.4. Контентом Сайта признаются все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения,
        иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки. Владелец Сайта является обладателем
    исключительных прав на использование Сайта, включая весь контент Сайта.</p>
        <p class="list">1.5. Пользователь – пользователь сети Интернет, в частности Сайта, имеющий свою личную страницу (профиль/аккаунт).</p>
        <p class="list">1.6. Профиль/аккаунт (Профиль) – личная страница Пользователя на Сайте, доступная всем Пользователям Сайта.</p>
        <p class="list">1.7. Учетная запись – уникальное имя Пользователя (логин) и пароль для входа на Сайт, указываемые Пользователем при регистрации на Сайте.</p>
<p class="list">1.8. Модерация – просмотр Владельцем Сайта размещаемой (или планируемой к размещению – Премодерация) на Сайте
    Пользователем информации на предмет ее соответствия положениям настоящего Соглашения.</p>

        <p style="text-align: center"><b>2. Процедура присоединения Пользователя к Публичной оферте</b></p>
<p class="list">2.1. Перед использованием сервиса Coop-dostavka Пользователь обязан ознакомиться с настоящей Публичной офертой и в
    случае согласия с её положениями, присоединиться к ней путем совершения одного из следующих действий:</p>
        <ul class="plic-list">
        <li>•	Нажатие кнопки «Войти» при регистрации по номеру мобильного телефона на сайте www.coop-dostavka.ru, приложении Coop-dostavka;</li>
            <li>•	Нажатие кнопки «Оформить заказ/Заказать» при оформлении заказа Пользователем без авторизации на сайте www.coop-dostavka.ru либо приложении
                Coop-dostavka, в том числе, мобильном (далее по тексту настоящего Соглашения именуемые – Сайт/сервис);</li>
        </ul>
<p class="list">2.2. Присоединяясь к настоящей Публичной оферте, Пользователь выражает полное и безоговорочное согласие
        со всеми её условиями, в том числе, в части предоставления согласия Coop-dostavka на обработку персональных данных
    Пользователя и на получение рассылок информационного и рекламного содержания.</p>
        <p class="list">2.3. Присоединяясь к настоящей Публичной оферте, Пользователь подтверждает, что он:</p>
        <ul class="plic-list">
<li>- ознакомился с офертой Coop-dostavka о правилах интернет-торговли на доставку заказа
    (далее - «Правила интернет-торговли», размещенной в сети Интернет по адресу: www.coop-dostavka.ru/{{slug}};</li>
        <li>- согласен с условиями указанной выше оферты и принимает такую оферту.</li>
        </ul>
<p class="list">2.4. Настоящее Соглашение может быть изменено Coop-dostavka в одностороннем порядке без предварительного уведомления.
        Новая редакция Соглашения вступает в силу с момента ее опубликования на странице сайта www.coop-dostavka.ru , если иное
    не предусмотрено новой редакцией Соглашения.</p>
<p class="list">2.5. Пользователь вправе отказаться от принятия изменений Оферты, осуществленных Coop-dostavka, что означает полный
    отказ Пользователя от использования сервиса Coop-dostavka.</p>
        <p style="text-align: center"><b>3. Регистрация Пользователя</b></p>
<p class="list">3.1. В целях пользования услугами, предоставляемыми Владельцем Сайта по настоящему Соглашению,
        Пользователь должен пройти процедуру регистрации, заполнив форму регистрации (на Сайте под заголовком
    «Войдите в аккаунт», в приложении - «Войти»). Регистрация Пользователя на Сайте является бесплатной, добровольной.</p>
<p class="list">3.2. После заполнения обязательных полей и ознакомления с настоящей Офертой присоединяется (принимает) к
        настоящей Оферте путем ввода номера телефона, что по смыслу ст. 428 и ст. 438 Гражданского кодекса РФ является принятием
    (акцептом) оферты, а равно заключением договора, порождающего у Пользователя обязанности соблюдать условия Оферты, в том числе применимых документов.</p>
<p class="list">3.3. Принятие настоящей Оферты допускается только в полном объеме, принятие Оферты с изъятиями и/или в части
    допускается только в случаях, прямо это предусматривающих.</p>
<p class="list">3.4. Пользователь при заполнении формы регистрации обязан предоставить Владельцу Сайта необходимую достоверную и актуальную
        информацию для формирования Профиля, включая уникальные для каждого Пользователя достоверный номер мобильного телефона и
        электронную почту (логин), а также фамилию и имя. При этом Пользователь понимает и подтверждает понимание того факта, что
        выполнение обязанности Пользователя по предоставлению достоверных данных необходимо для исполнения заказа(ов), в том числе,
        для верификации Пользователя, осуществления надлежащей доставки, коммуникации с Пользователем по любым вопросам, связанным с
        выполнением заказа. В случае предоставления недостоверных данных (в том числе, чужих либо виртуальных), Coop-dostavka имеет
    право приостановить либо отменить регистрацию Пользователя и отказать ему в использовании сервиса.</p>
<p class="list">3.5. Пользователь несет ответственность за безопасность и ограничение доступа к своему мобильному устройству и
        учетной записи в Coop-dostavka. Все действия, совершенные в рамках использования сервиса с использованием учетной записи Пользователя,
    считаются совершенными Пользователем.</p>
<p class="list">3.6. Пользователь соглашается с тем, что он обязан немедленно уведомить Coop-dostavka о любом случае неавторизованного
    (неразрешенного) доступа под своей учетной записью и/или о любом нарушении безопасности.</p>
<p class="list">3.7. Пользователь вправе иметь только один профиль в системе сервиса Coop-dostavka. Создание нескольких
        профилей для получения выгоды путем введения в заблуждение является нарушением настоящей Оферты и может привести к
        немедленной блокировке всех профилей Пользователя, а также к невозможности применения всех указанных/использованных номеров
    телефонов/электронных адресов/банковских карт такого Пользователя в системе сервиса Coop-dostavka в дальнейшем.</p>
<p class="list">3.8. Объем доступа Пользователя к сервису Coop-dostavka зависит от региона и адреса доставки,
        зоны доставки Партнера (лица, осуществляющего доставку), наличия конкретных товаров, нагрузки и режима работы
    Партнера (лица, осуществляющего доставку) и других обстоятельств, которые могут повлиять на функциональность Сайта для конкретного Пользователя.</p>
        <p style="text-align: center"><b>4. Предмет Публичной оферты</b></p>
<p class="list">4.1. Сервис Coop-dostavka представляет собой информационную площадку, на которой размещаются предложения о реализации
        готовой еды, продуктов питания, мелких бытовых и иных товаров Coop-dostavka, а также о доставке
        сформированных заказов силами логистов и самозанятых в соответствии с Договорами на доставку заказов,
        при этом Coop-dostavka обеспечивает возможность принятия денежных средств от Пользователей в счет оплаты товаров и их доставки.
        Кроме этого, Coop-dostavka выступает информационным связующим звеном между магазинами представленными на сайте Coop-dostavka,
    лицами, осуществляющими доставку и Пользователями.</p>
<p class="list">4.2. По настоящей Оферте и при условии соблюдения её условий Coop-dostavka оказывает Пользователям услуги
        по предоставлению права использования сервиса Coop-dostavka в течение срока действия настоящей Оферты способами,
        указанными в настоящем Оферте, с учетом пределов, установленных настоящей Офертой. Предоставление права использования
        носит возмездный характер (также - Сервисный сбор). Размер Сервисного сбора устанавливается Coop-dostavka на основании,
        учитывающих регион и адрес доставки заказа, и указывается на этапе оформления заказа, оформленный Пользователем
        посредством сервиса Coop-dostavka. Coop-dostavka вправе в любое время, в одностороннем порядке ограничить, расширить,
    изменить содержание сервиса, а также изменить и модифицировать сервис без предварительного уведомления Пользователя.</p>
        <p class="list">4.3. Права использования предоставляются Пользователю исключительно для личного некоммерческого использования и включают:</p>
        <ul class="plic-list">
        <li>- право воспроизведения отдельных элементов сервиса Coop-dostavka (в т.ч. мобильное приложение) на персональных устройствах Пользователя,</li>
        <li>- право использования данных и команд, доступных в рамках пользовательского интерфейса сервиса Coop-dostavka,</li>
        <li>- право на извлечение отдельных материалов из базы данных в пределах, необходимых для осуществления заказа посредством сервиса Coop-dostavka.</li>
        </ul>
        <p style="text-align: center"><b>5. Права и обязанности Владельца Сайта</b></p>
        <p class="list">5.1. Владелец Сайта обязуется:</p>
<p class="list">5.1.1. Оказывать Пользователю услуги, указанные в пункте 4.2 настоящего Соглашения. Доступ к Сайту предоставляется путем присвоения Пользователю Учетной записи в течение 1 (одного) рабочего дня с даты регистрации последнего по адресу www.coop-dostavka.ru
    5.1.2. Предоставлять Пользователю возможность самостоятельно публиковать информацию о самом себе.</p>
        <p class="list">5.1.3. Не разглашать третьим лицам Учетную запись Пользователя.</p>
        <p class="list">5.1.4. Обеспечивать круглосуточную доступность сервера, на котором расположен Сайт, за исключением времени проведения профилактических работ.</p>
        <p class="list">5.2. Владелец Сайта имеет право:</p>
<p class="list">5.2.1. В случае нарушения Пользователем условий Соглашения направить Пользователю предупреждение,
        содержащее перечень нарушений. В случае если Пользователь не устранит нарушения в течение одного дня с момента направления ему
        уведомления или повторно нарушит указанные условия или иные условия, Владелец Сайта имеет право в одностороннем порядке отказаться
    от исполнения Соглашения, заблокировать доступ Пользователей к Профилю Пользователя и аннулировать Профиль Пользователя.</p>
<p class="list">5.2.2. Осуществлять Модерацию в случаях, когда информация, размещаемая Пользователем, пропагандирует ненависть и/или
        дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам; пропагандирует употребление
        наркотических и прочих средств, наносящих вред здоровью; призывает к бесчеловечному обращению с животными; нарушает права национальных
    и иных меньшинств; содержит призывы к насильственным действиям; нарушает права авторов и иных владельцев интеллектуальных прав.</p>
<p class="list">5.2.3. Распоряжаться статистической информацией, связанной с функционированием Сайта, а также информацией Пользователей
    для обеспечения адресного показа рекламной информации различным аудиториям Пользователей Сайта.</p>
<p class="list">5.2.4. Направлять Пользователю информацию о развитии Сайта и его сервисов; отправлять sms-сообщения с целью
        информирования о кодах активации, проведения опросов о качестве работы Сайта, предоставления и запросов прочей информации,
    а также рекламировать собственную деятельность и услуги.</p>
        <p style="text-align: center"><b>6. Права и обязанности Пользователя</b></p>
        <p class="list">6.1. Пользователь обязуется:</p>
        <p class="list">6.1.1. Полностью ознакомиться с условиями настоящего Соглашения до момента регистрации на Сайте.</p>
        <p class="list">6.1.2. Соблюдать все условия настоящего Соглашения.</p>
        <p class="list">6.1.3. Не передавать сведения о других Пользователях, полученные посредством Сайта, третьим лицам.</p>
        <p class="list">6.1.4. Не передавать свою Учетную запись третьим лицам.</p>
<p class="list">6.1.5. Не размещать на Сайте персональные данные других лиц, а также не использовать персональные данные
    других Пользователей или Пользователей каким-либо образом, не соответствующим требованиям законодательства РФ, в противоправных
    или противозаконных целях, в целях извлечения выгоды и любых иных целях, не соответствующих целям создания Сайта.</p>
        <p class="list">6.1.6. Не размещать в Профиле информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц.</p>
<p class="list">6.1.7. Не регистрироваться в качестве Пользователя от имени или вместо другого лица или регистрировать группу
    (объединение) лиц или юридическое лицо/индивидуального предпринимателя в качестве Пользователя.</p>
        <p class="list">6.1.8. Не загружать, не хранить, не публиковать, не распространять любую информацию, которая:</p>
        <ul class="plic-list">
<li>– содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность
    частной жизни других Пользователей или третьих лиц;</li>
        <li>– нарушает права несовершеннолетних лиц;</li>
<li>– является вульгарной или непристойной, содержит нецензурную лексику, содержит порнографические изображения
    и тексты или сцены сексуального характера с участием несовершеннолетних;</li>
        <li>– содержит сцены насилия либо бесчеловечного обращения с животными;</li>
        <li>– содержит описание средств и способов суицида, любое подстрекательство к его совершению;</li>
<li>– пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды,
    пропагандирует фашизм или идеологию расового превосходства;</li>
        <li>– содержит экстремистские материалы;</li>
        <li>– пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</li>
<li>– содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственную и коммерческую
    тайну, информацию о частной жизни третьих лиц;</li>
<li>– содержит рекламу или описывает привлекательность употребления алкоголя и/или наркотических веществ,
        в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека
    за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</li>
        <li>– носит мошеннический характер;</li>
        <li>– а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства РФ.</li>
        </ul>
<p class="list">6.1.9. Не использовать программное обеспечение и не осуществлять действия, направленные на нарушение нормального
    функционирования Сайта и его сервисов или персональных страниц Пользователей, не загружать, не хранить, не публиковать,
    не распространять и не предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;
    не использовать без специального на то разрешения Владельца Сайта автоматизированные скрипты (программы) для сбора
    информации на Сайте и (или) взаимодействия с Сайтом и его сервисами.</p>
<p class="list">6.1.10. Не пытаться получить доступ к логину и паролю другого Пользователя, в том числе включая, но не ограничиваясь,
    обман, взлом Профилей других Пользователей и прочее.</p>
        <p class="list">6.2. Пользователю запрещено:</p>
        <p class="list">6.2.1. Осуществлять незаконные сбор и обработку персональных данных других Пользователей.</p>
<p class="list">6.2.2. Осуществлять доступ к каким-либо услугам иным способом, кроме как через интерфейс, предоставленный Владельцем Сайта, за исключением случаев, когда такие действия были прямо разрешены
    Пользователю в соответствии с отдельным соглашением с Владельцем Сайта.</p>
<p class="list">6.2.3. Воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать
    услуги для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с
    условиями отдельного соглашения с Владельцем Сайта.</p>
        <p class="list">6.2.4. Размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных Владельцем Сайта.</p>
<p class="list">6.2.5. Размещать любую информацию, которая, по мнению Владельца Сайта, является нежелательной, ущемляет интересы
    Пользователей или по другим причинам является нежелательной для размещения на Сайте.</p>
        <p class="list">6.3. Пользователь имеет право:</p>
        <p class="list">6.3.1. Круглосуточно получать доступ к серверу, на котором расположен Сайт, за исключением времени проведения профилактических работ.</p>
        <p class="list">6.3.2. Самостоятельно изменять пароль, не уведомляя об этом Владельца Сайта.</p>
        <p class="list">6.3.3. Самостоятельно редактировать ранее размещенную о себе информацию на Сайте.</p>
        <p class="list">6.3.4. Обратиться в службу поддержки для блокирования своего Профиля (при отсутствии действующих демодоступов и подписок).</p>
        <p class="list">6.4. Пользователь согласен с тем, что, осуществляя доступ к Сайту и пользуясь его контентом, он:</p>
<p class="list">6.4.1. Выражает свое безоговорочное согласие со всеми условиями настоящего Соглашения и обязуется их соблюдать или прекратить
    использование Сайта.</p>
<p class="list">6.4.2. Получает личное неисключительное и непередаваемое право использовать контент Сайта на одном компьютере при условии,
    что ни сам Пользователь, ни любые иные лица при содействии Пользователя не будут копировать или изменять программное обеспечение;
    создавать программы, производные от программного обеспечения; проникать в программное обеспечение с целью получения кодов программ;
    осуществлять продажу, уступку, сдачу в аренду, передачу третьим лицам в любой иной форме прав в отношении программного обеспечения сервисов,
    предоставляемых Сайтом.</p>
<p class="list">6.4.3. В целях реализации настоящего Соглашения Пользователи дают Владельцу Сайта разрешение на использование, хранение, обработку
        и распространение персональных данных тем способом и в той мере, в которой это необходимо для исполнения условий
        настоящего Соглашения. Порядок использования, хранения, обработки и распространения персональных данных Пользователей размещен на
        Сайте по адресу: www.coop-dostavka.ru/{{ slug }}. Пользователь соглашается на передачу третьим лицам персональных и
        иных данных, в том числе для целей их обработки, для обеспечения
        функционирования
        Сайта, реализации партнерских и иных программ, при условии обеспечения в отношении передаваемых данных режима, аналогичного режиму,
    существующему на Сайте.</p>
        <p style="text-align: center"><b>7. Оформление заказа</b></p>
<p class="list">7.1. Заказ должен быть оформлен Пользователем с помощью функционала сервиса Coop-dostavka.
    Оформление заказа и его доставки осуществляется Пользователем на условиях, указанных на Сайте, и является подтверждением согласия Пользователя
    с существенными условиями продажи товаров. В отношении отдельных категорий заказов стоимость доставки Заказов может быть не установлена,
    Пользователь информируется об этом при оформлении заказа (снижение/отсутствие стоимости доставки в зависимости от суммы заказа).</p>
        <p class="list">7.2. Для оформления заказа на сервисе Пользователь осуществляет действия:</p>
        <ul class="plic-list">
        <li>а) по выбору страницы сайта (на странице сайта может быть указана минимальная сумма заказа, при соблюдении которой заказ может быть принят),</li>
        <li>б) выбору товаров на указанной странице из представленного каталога товаров,</li>
<li>в) заполнению информации об адресе доставки (включая корректное название населенного пункта, улицы (проспекта, шоссе, пр.), номер
    дома (включая корпус, строение, владение, прочее), подъезда, </li>
        квартиры, этаж, код домофона) либо по выбору актуального адреса доставки из доступной выборки, при этом Пользователь обязан проверить корректность указанных ранее данных. Если Пользователь предоставляет неверную/некорректную информацию или у Coop-dostavka есть серьезные основания полагать, что предоставленная им информация неверна, неполна или неточна, Coop-dostavka имеет право приостановить либо отменить регистрацию пользователя и отказать ему в использовании сервиса, кроме того, Coop-dostavka вправе удержать денежные средства, полученные от Пользователя за заказ, доставку и Сервисный сбор как компенсацию затрат и расходов лица, доставившего заказ и платеж Coop-dostavka за предоставление права использование сервиса соответственно.
        <li>г) применению Промокода/баллов (если применимо),</li>
        <li>д) оплате заказа (если выбрана онлайн-оплата).</li>
        </ul>
<p class="list">7.3. Информация о количестве, наличии конкретных товаров, их составе (если применимо), ассортименте и стоимости товаров, а
    также доставке (в случае, если она осуществляется Партнером Coop-dostavka) предоставляется Партнером Coop-dostavka. Coop-dostavka
    размещает такие данные на основании предоставленных Партнерами исходных данных и не может нести ответственность за соответствие этих
    параметров товаров Партнера.</p>
<p class="list">7.4. Пользователь соглашается с тем, что при оформлении Заказа товаров из магазинов фактическая стоимость заказа может отличаться
    от стоимости заказа, ретранслированной магазинами на сервис Coop-dostavka в связи с корректировками весовых товаров, а также возможным фактическим
    отсутствием товаров в магазине, при этом при оформлении заказа на банковской карте Пользователя может быть заблокирована сумма, превышающая
    стоимость заказа не более 10% от стоимости заказа. В случае, если фактическая стоимость заказа ниже заблокированной суммы, излишние денежные
    средства подлежат возврату. Окончательный расчет по Заказу происходит в момент доставки заказа.</p>
        <p class="list">7.5. Фотографии товаров, размещенные на сервисе, носят справочный характер, реальные товары могут не соответствовать таким фотографиям.</p>
<p class="list">7.6. Поле «Комментарии» может содержать только комментарии, уточняющие, но не изменяющие, адрес и порядок доставки.
    Самостоятельное указание времени доставки/приема заказа, изменение рецептуры блюд, альтернативный номер телефона и иные пожелания в таком поле не
    допускается и может являться основанием для отмены возврата денежных средств за заказ, включая стоимость доставки и Сервисный сбор.</p>
<p class="list">7.7. Сформированный заказ подлежит подтверждению либо отмене со стороны Coop-dostavka в зависимости от его нагрузки в момент
    оформления заказа.</p>
        <p class="list">7.8. Coop-dostavka вправе отменить заказ в случае отсутствия в зоне доставки заказа лица, осуществляющего доставку.</p>
<p class="list">7.9. Уведомления о сроках доставки, предоставляемые Пользователю, носят информационный характер и могут не учитывать обстоятельства,
    не зависящие от воли Coop-dostavka, Партнера, лица, осуществляющего доставку, в том числе: задержки в связи с неблагоприятными метеоусловиями,
    дорожными заторами и пр. Также Пользователь подтверждает свое согласие с тем, что в период повышенного спроса (сезонного или вызванного
    распространением массовых промокодов) сроки подтверждения заказа и его доставки могут быть увеличены.</p>
<p class="list">7.10. Пользователь несет ответственность за полноту, достаточность и корректность данных, введенных при оформлении заказа.
    Пользователь несет риски последствий некорректного указания сведений, необходимых для выполнения заказа, в том числе, приводящих к
    невозможности надлежащего выполнения Заказа.</p>
<p class="list">7.11. Coop-dostavka оставляет за собой право отказать Пользователю в применении сервиса Coop-dostavka без уведомления
    Пользователя и/или без объяснения причин.</p>
        <p style="text-align: center"><b>8. Доставка заказа</b></p>
<p class="list">8.1. Пользователь обязуется обеспечить беспрепятственный проход для лиц, осуществляющих доставку, до места
    доставки, а также обеспечить свое присутствие либо присутствие третьего лица, способного принять заказ по поручению Пользователя,
    по месту указанного адреса доставки.</p>
<p class="list">8.2. В момент приемки заказа Пользователь обязуется проверить содержимое заказа на предмет соответствия оформленному заказу.
    В случае выявления проблем с доставленным заказом Пользователь вправе не принимать такой заказ.</p>
        <p class="list">8.3. Обязательства по доставке считаются выполненными в момент вручения заказа Пользователю.</p>
<p class="list">8.4. Важно! Если в случае своевременной доставки Заказа Пользователь не обеспечил свое присутствие для приема Заказа
    по указанному адресу доставки, не ответил на звонок либо отказался от принятия Заказа (по причинам, не связанным с качеством/комплектностью Заказа),
    Coop-dostavka вправе удержать денежные средства, полученные от Пользователя за Заказ, в связи с необходимостью возмещения расходов
    Партнеров Coop-dostavka на товары (в отношении услуг доставки, осуществляемых третьими лицами, Coop-dostavka также вправе удержать сумму
    в размере стоимости доставки в случае доставки собственным транспортом).</p>
<p class="list">8.5. Пользователь обязан в течение 24 часов с момента наступления предполагаемого времени доставки/получения Заказа сообщить
    Coop-dostavka о факте неполучения Заказа (при этом настоящий пункт не распространяется на случаи, предусмотренные п. 8.4).
    Возврат денежных средств производится Coop-dostavka в течение 2 (двух) рабочих дней с момента оплаты Заказа либо в срок,
    установленный правилами банка-эмитента Пользователя. По истечении 2 (двух) дней с момента оплаты Заказа при неполучении Coop-dostavka уведомления
    от Пользователя об отказе от Заказа и возврате денежных средств, Заказ считается выполненным, денежные средства за него возврату не подлежат.</p>
<p class="list">8.6. Coop-dostavka вправе отказать Пользователю в оформлении Заказа с формой оплаты "наличными или банковской картой при
    получении заказа", если ранее оформленные Заказы Пользователя не были доставлены по его вине (например, если Пользователь не открыл
    дверь или не ответил по телефону курьеру при доставке Заказа, или Пользователь указал несуществующий адрес доставки и т.п.).
8.7. В случае возникновения спорных ситуаций для Coop-dostavka /Партнера/лица, осуществляющего доставку, основным средством связи с
    Пользователем является указанный Пользователем при регистрации номер телефона.</p>
        <p style="text-align: center"><b>9. Оплата заказа</b></p>
        <p class="list">9.1. Пользователь оплачивает заказ одним из следующих доступных способов:</p>
<p class="list">9.1.1. непосредственно при получении заказа наличными денежными средствами, банковской картой или иными способами,
    предоставленными Партнером Coop-dostavka (если применимо).</p>
<p class="list">9.1.2. онлайн-оплата (безналичная оплата) на Сайте Coop-dostavka банковской картой VISA/MasterCard.
    Все дополнительные расходы по перечислению денежных средств за заказ несёт Пользователь. Данные платежных карт
    хранятся на стороне эквайера с соблюдением требований стандартов PCI DCC.</p>
        <p class="list">9.1.3. В порядке, предусмотренном Публичной офертой соответствующей Партнерской площадки.</p>
<p class="list">9.2. Пользователь имеет возможность привязать банковскую карту к своему Личному кабинету. В дальнейшем сумма
    любого последующего Заказа Пользователя будет списываться автоматически с прикрепленной к Личному кабинету банковской
    карты без указания реквизитов, при подтверждении платежа с его стороны путем нажатия кнопки «Оплатить» в корзине Личного
    кабинета и ввода одноразового пароля, в случае, если банк-эмитент банковской карты клиента предусматривает использование данной защиты.</p>
<p class="list">9.3. Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция
    носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами являются
    уголовным преступлением.</p>
<p class="list">9.4. Во избежание случаев мошенничества при оплате банковскими картами платежи, оплаченные банковской картой, могут проверяться
    Coop-dostavka в рамках имеющихся возможностей. Пользователь, оформивший такой платеж, обязан по запросу, поступившему от Coop-dostavka,
    предоставить копию необходимых документов для подтверждения правомерного использования банковской карты.</p>
<p class="list">9.5. Возврат денежных средств, оплаченных Пользователем через платежную систему на Сайте банковской картой,
    осуществляется только на ту карту, с которой была произведена оплата, в соответствии с правилами международных платежных систем
    и действующим законодательством РФ о национальной платежной системе. Сроки возврата денежных средств регулируются банками-эмитентами
    и не зависят от сервиса Coop-dostavka.</p>
<p class="list">9.6. При использовании Пользователем безналичного способа оплаты кассовый чек направляется Пользователю на
    адрес электронной почты, указанной Пользователем при регистрации в Приложении. Кассовый чек также доступен Пользователю
    после совершения заказа в разделе «Мои заказы» на Сайте и в приложении. В случае, если Пользователь имеет трудности с
    ознакомлением с кассовым чеком, Пользователь вправе обратиться в контакт-центр.</p>
        <p style="text-align: center"><b>10. Самостоятельный забор заказа «на вынос» (самовывоз)</b></p>
<p class="list">10.1. Заказы, оформленные Пользователем с помощью сервиса Coop-dostavka и оплаченные только в режиме онлайн, могут быть
    доступны для самостоятельного вывоза на вынос (самовывоза) Пользователем в заранее выбранном ресторане.</p>
<p class="list">10.2. Пользователь вправе определить момент времени забора заказа с учетом времени приготовления заказа и такой момент
    отражается в мобильном приложении Coop-dostavka. Если Пользователь определяет момент забора заказа «Как можно скорее»,
    то момент самовывоза наступит через 60 минут с момента подтверждения принятия заказа либо по истечении иного срока,
    согласованного в приложении Coop-dostavka.</p>
<p class="list">10.3. Пользователь вправе отказаться от ожидания заказа в случае, если к указанному моменту самовывоза заказ не был готов.
    В этом случае Coop-dostavka возвращает денежные средства Пользователю, при этом срок возврата денежных средств зависит от банка-эмитента.</p>
<p class="list">10.4. Важно: В случае, если Пользователь нарушил установленный срок самовывоза заказа, то Coop-dostavka вправе по
    своему усмотрению передать такой заказ Пользователю, но вне зависимости от факта забора заказа стоимость заказа Пользователю не
    возвращается и перечисляется магазину с целью компенсации его расходов.</p>
<p class="list">10.5. Важно: Отмена заказа Пользователем возможна только до момента получения подтверждения о принятии заказа либо при
    обращении в контактный центр Coop-dostavka в том случае, если магазин не начал приготовление заказа.</p>
<p class="list">10.6. В случае отмены заказа, когда заказ принят магазином к выполнению, стоимость заказа Пользователю не возвращается и
    перечисляется магазину с целью компенсации его расходов.</p>
<p class="list">10.7. Coop-dostavka несет ответственность за качество заказа, его комплектность и своевременность приготовления заказа в
    полном размере. В случае возникновения любых претензий со стороны Пользователя, в том числе, в части возмещения причиненных убытков,
    такие претензии должны направляться магазину (информация о конкретном магазине размещена на его странице на сервисе Coop-dostavka,
    также такую информацию можно получить путем обращения в контактный центр Coop-dostavka).</p>
        <p style="text-align: center"><b>11. Конфиденциальность</b></p>
        <p class="list">11.1. Персональные данные Пользователя обрабатываются в соответствии с ФЗ «О персональных данных» №152-ФЗ.</p>
<p class="list">11.2. Coop-dostavka имеет право отправлять Пользователю от своего имени самостоятельно или с привлечением технических
    партнеров информационные, в том числе сервисные и рекламные сообщения, на электронную почту Пользователя, мобильный телефон
    (смс, телефонные звонки) или через используемые им сервисы партнеров Coop-dostavka (социальные сети, мессенджеры и иные).
    Сервисные сообщения, информирующие Пользователя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Пользователем.</p>
<p class="list">11.3. Coop-dostavka вправе для целей оптимизации (совершенствования) функциональных возможностей сервиса, в том числе
    для контроля качества и совершенствования обслуживания (в том числе с привлечением третьих лиц):</p>
        <p class="list">•	осуществлять запись разговоров Пользователя со специалистами Службы Поддержки;</p>
        <p class="list">•	использовать полученную запись разговоров в указанных в настоящем пункте целях.</p>
        <p style="text-align: center"><b>12. Условия использования материалов</b></p>
<p class="list">12.1. Сервис содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая,
    но не ограничиваясь: тексты, фотографии, графические изображения.</p>
<p class="list">12.2. При этом все содержание Сайта охраняется авторским правом как произведение, созданное коллективным творческим трудом
    в соответствии с законодательством Российской Федерации об авторском праве и смежных правах.</p>
<p class="list">12.3. Coop-dostavka принадлежит право на использование содержания сервиса (в том числе, право на подбор, расположение,
    систематизацию и преобразование данных, содержащихся на сайте Coop-dostavka, а также на сами исходные данные), кроме случаев,
    отдельно отмеченных в содержании опубликованных на сайте материалов.</p>
        <p style="text-align: center"><b>13. Ответственность сторон</b></p>
<p class="list">13.1. Стороны несут ответственность за невыполнение либо ненадлежащее выполнение своих обязательств в соответствии
    с действующим законодательством РФ.</p>
<p class="list">13.2. Coop-dostavka вправе принимать вопросы от Пользователей относительно доставки Заказа в течение 24
    (двадцать четыре) часов с момента доставки/ожидаемой доставки, при этом во избежание мошенничества Пользователь обязуется
    предоставить материалы с фото-/видеофиксацией повреждений заказа либо иных нарушений качества/комплектности с соблюдением
    требований контакт-центра (в том числе, но не ограничиваясь, указать на упаковке заказа комбинации цифр и букв по требованию оператора
    контакт-центра, предоставление фото утилизированного заказа/товаров). Пользователь обязуется не уничтожать поврежденные заказ/товары
    до решения ситуации оператором контакт-центра.</p>
<p class="list">13.3. Coop-dostavka вправе верифицировать Пользователя с помощью номера телефона, указанного при регистрации,
    в случае возникновения сомнений или спорных ситуаций, претензии и жалобы от Пользователей, не прошедших верификацию
    (например, осуществившие регистрацию с помощью виртуального номера с мошенническими целями), к рассмотрению не принимаются.</p>
<p class="list">13.4. Пользователь соглашается с тем, что все услуги предоставляются «как есть» и что Coop-dostavka не несет ответственность за
    задержки, сбои, неверную или несвоевременную доставку (осуществляемую Партнерами Coop-dostavka или третьими лицами), за сбои в работе платежных систем.</p>
<p class="list">13.5. Coop-dostavka оставляет за собой право отменить заказ Пользователя, заблокировать учетную запись
    Пользователя в случаях использования Пользователем нецензурной лексики в общении с контакт-центром, лицом, осуществляющим доставку,
    Партнером Coop-dostavka, грубого, невежливого, некорректного поведения Пользователя, нарушения требований настоящей Оферты, а
    также в случае, когда поведение Пользователя создает угрозу жизни, физическому или психологическому здоровью или имуществу указанных
    выше лиц и их представителей.</p>
        <p style="text-align: center"><b>14. Порядок разрешения споров и урегулирования претензий</b></p>
<p class="list">14.1. В случае возникновения споров между Пользователем и Владельцем Сайта по вопросам, связанным с исполнением
    Соглашения, Стороны примут все меры к разрешению их путем переговоров между собой. Претензионный порядок разрешения споров обязателен.
    Претензии Пользователей по предоставляемым Услугам принимаются и рассматриваются Владельцем Сайта только в письменном виде и в порядке,
    предусмотренном настоящим Соглашением и действующим законодательством РФ.</p>
<p class="list">14.2. Для разрешения споров, возникших между Пользователем и Владельцем Сайта в результате использования услуг,
    применяется следующий претензионный порядок. Пользователь, считающий, что его права нарушены из-за действий Владельца Сайта,
    направляет последнему претензию, содержащую суть предъявляемого требования, обоснование его предъявления, а также все данные Пользователя.
    Претензия также направляется Владельцу Сайта в письменном виде посредством отправки по почте России или по факсу;</p>
<p class="list">– в течение 5 (пяти) рабочих дней со дня получения претензии Владелец Сайта обязан изложить свою позицию по указанным
    в ней принципиальным вопросам и направить свой ответ по адресу электронной почты или почтовому адресу, указанному в претензии Пользователя;</p>
        <p class="list">– в случае не достижения разрешения спора путем претензионного порядка спор подлежит рассмотрению в соответствии с пунктом 14.4 Соглашения;</p>
<p class="list">– Владельцем Сайта не рассматриваются анонимные претензии или претензии, не позволяющие идентифицировать Пользователя
    на основе предоставленных им при регистрации данных, или претензии, не содержащие данных, указанных в настоящем пункте настоящего Соглашения.</p>
<p class="list">14.3. Для решения технических вопросов при определении вины Пользователя в результате его неправомерных действий при пользовании
    сетью Интернет и Сайтом, в частности, Владелец Сайта вправе самостоятельно привлекать компетентные организации в качестве экспертов.
    В случае установления вины Пользователя последний обязан возместить затраты на проведение экспертизы.</p>
<p class="list">14.4. При не достижении согласия между Сторонами путем переговоров спор, вытекающий из настоящего Соглашения, подлежит
    рассмотрению в суде общей юрисдикции либо в Арбитражном суде по месту нахождения Владельца Сайта.</p>

        <p style="text-align: center"><b>15. Общие положения</b></p>
        <p class="list">15.1. Соглашение регулируется нормами действующего законодательства РФ.</p>
        <p class="list">15.2. Все возможные споры по поводу Публичной оферты разрешаются согласно нормам действующего законодательства РФ.</p>
<p class="list">15.3. Ничто в Публичной оферте не может пониматься как установление между Пользователем и Coop-dostavka агентских
    отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма либо каких-то иных отношений,
    прямо не предусмотренных Публичной офертой.</p>
        <p class="list">15.4. По вопросам, связанным с исполнением Публичной оферты, необходимо обращаться по адресу местонахождения Coop-dostavka:</p>
        <p class="list">Название организации: {{ name}}</p>
        <p class="list">Юридический адрес: {{ uraddress }}</p>
        <p class="list">ОГРН: {{ ogrn }}</p>
        <p class="list">Часы работы: {{ times|cut:"'"|cut:"["|cut:"]" }}</p>
        <p class="list">Часы работы контакт-центра – круглосуточно.</p>







<p style="text-align: center"><b>ПРАВИЛА ИНТЕРНЕТ-ТОРГОВЛИ</b></p>
        <p style="text-align: center"><b>1. Общие положения</b></p>
<p class="plic">Настоящие правила продажи товаров через интернет-сайт и мобильное приложение (далее, Правила)
    определяют порядок продажи представленных товаров и оказания в связи с такой продажей услуг, а также регулируют отношения между
    Покупателем и Продавцом товара.
Интернет-сайт с доменным именем www.coop-dostavka.ru и мобильное приложение coop-dostavka,в которых любой посетитель может ознакомиться
    с описанием и ценами представленных товаров, выбрать определенные условия оплаты и доставки, сформировать заказ на сайте или по телефону.
    Интернет-магазин является местом, где заключается договор о купле-продаже товара между продавцом и покупателем путем оформления покупателем
    заказа и отправки его продавцу (фактическим адресом продажи товара является фактический адрес продавца,
    указанный в разделе интернет-магазина "Контакты").</p>
        <p style="text-align: center"><b>2. Термины и определения</b></p>
<p class="plic">Под Продавцом далее подразумевается ({{ name }}),осуществляющий продажу товаров на основании ознакомления покупателя с предложенными
        Продавцом описаниями, содержащимися в электронном каталоге наинтернет-сайте именем www.coop-dostavka.ru и в мобильном приложении
        coop-dostavka. Реквизиты и контактные данные продавца указываются в разделе интернет-магазина Контакты;Под Покупателем подразумевается
        гражданин, имеющий намерение приобрести либо приобретающий или использующий товары исключительно для личных семейных, домашних и иных нужд,
        не связанных с осуществлением предпринимательской деятельности или организация и индивидуальный предприниматель,
    имеющие намерение приобрести либо приобретающие товары для целей, связанных с предпринимательской деятельностью;</p>
        <p style="text-align: center"><b>3. Предмет договора и цена товара</b></p>
<p class="plic">Предложение товара в его описании на интернет-сайте  www.coop-dostavka.ru и в мобильном приложении coop-dostavka является публичной офертой. Продажа товаров осуществляется Продавцом в соответствии с Гражданским кодексом Российской Федерации, Законом Российской Федерации от 07.02.1992 № 2300-1 «О защите прав потребителей», Правилами продажи товаров дистанционным способом (Постановление Правительства РФ № 2463 от 31.12.2020).
Договор (публичная оферта) о купле-продаже товара между продавцом и покупателем-частным лицом считается заключенным  с момента выдачи продавцом покупателю кассового или товарного чека либо иного документа, подтверждающего оплату товара, или с момента получения продавцом сообщения покупателя о намерении заключить договор розничной купли-продажи.
Цены на товары и услуги указаны в счете и соответствуют ценам, представленным в электронном каталоге на момент его выписки. Условия настоящего договора считаются исполненными с момента доставки товара в место, указанное Покупателем.
    Право собственности на товар переходит к Покупателю после оплаты и подписания им товарно-сопроводительных документов при получении товара.</p>
        <p style="text-align: center"><b>4. Права и обязанности сторон</b></p>
        <p class="list">4.1 Доставка товара</p>
<p class="plic">Продавец обязан передать покупателю товар, качество которого соответствует договору и информации, представленной покупателю при заключении договора, а также информации, доведенной до его сведения при передаче товара (в технической документации, прилагаемой к товару, на этикетках, путем нанесения маркировки либо иными способами, предусмотренными для отдельных видов товаров).
Передача покупателю товара производится путем перевозки транспортной компанией с доставкой товара по месту, указанному покупателем или другими способами доставки, выбранными при оформлении покупателем заказа (Информация о доставке указана в разделе интернет-магазина «Доставка  заказа»)
    Продавец обязан передать товар покупателю в порядке и сроки, указанные в заказе.
    Для доставки товаров в место, указанное покупателем, продавец может использовать услуги третьих лиц (с обязательным информированием об этом покупателя).</p>
        <p class="list">4.2 Оплата товара</p>
<p class="plic">Оплата Товара производится в рублях наличными денежными средствами, непосредственно представителю Продавца (курьеру), доставившему
        Товар, при получении Товара, либо путем перечисления по безналичному расчету на расчетный счет Продавца. (Информация по оплате указана в
    разделе интернет-магазина «Оплата заказа»)</p>

        <p class="list">4.3 Возврат товара</p>
<p class="plic">Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ,
        подтверждающий факт и условия покупки указанного Товара. В соответствии с п.1 ст.25 закона РФ «О защите прав потребителей» Продавец не
        принимает возврат товара, бывшего в употреблении. При отказе Покупателя от заказанного Товара, Продавец удерживает из суммы, уплаченной
        Покупателем за Товар в соответствии с договором, расходы Продавца, связанные с возвратом Товара.
В случае продажи товара ненадлежащего качества или с нарушений условий договора, покупатель обязан известить продавца по контактному телефону.
        Все разногласия стороны решают путем переговоров. В случае невозможности их решения путем переговоров, стороны должны действовать в соответствии
    с Законодательством России.</p>

        <p class="list">4.4 Гарантии и ответственность</p>
<p class="plic">Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров,
    приобретённых в Интернет-магазине.</p>
        <p class="plic">Продавец не отвечает за убытки Покупателя, возникшие в результате:</p>
        <p class="plic">	 указания в Заказе неправильных данных;</p>
        <p class="plic">	 неправомерных действий третьих лиц.</p>
<p class="plic">Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если такое
        неисполнение явилось следствием действия обстоятельств непреодолимой силы, возникших после вступления в силу Правил,
        в результате событий чрезвычайного характера, которые Стороны не могли предвидеть и предотвратить разумными мерами (форс-мажор).
В иных случаях неисполнения или ненадлежащего исполнения своих обязательств Стороны несут ответственность в соответствии с действующим
    законодательством Российской Федерации.</p>
        <p class="list">4.5 Прочие условия</p>
<p class="plic">Продавец принимает все предусмотренные законодательством меры по недопущению разглашения персональных данных Покупателя.
        При этом не считается разглашением предоставление Продавцом информации своим агентам и иным третьим лицам, действующим на основании
        договора с Продавцом, для исполнения обязательств перед Покупателем.В случае, если в соответствующих разделах
        Интернет-сайта или мобильном приложении будут указаны иные условия порядка и стоимости доставки Товара, порядка оплаты,
        условия гарантии и пр., нежели это определено в настоящих Правилах, впредь до внесении соответствующих изменений в настоящие
    Правила применению подлежат условия, содержащиеся в соответствующих разделах Интернет-сайта и мобильного приложения.</p>
{% endif %}
{% endfor %}