{% load static %}
<!-- Javascripts -->
	<script src="{% static 'file/shop/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'file/shop/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'file/shop/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'file/shop/js/custom.js' %}"></script>
	<script src="{% static 'file/shop/js/offset_overlay.js' %}"></script>
	<script src="{% static 'file/shop/js/night-mode.js' %}"></script>
    <script src="{% static 'file/shop/js/sidebar.js' %}"></script>
    <script src="{% static 'file/shop/js/script_tel.js' %}"></script>
    <script src="{% static 'file/shop/js/user_password.js' %}"></script>
    <script src="{% static 'file/shop/js/jquery_custom.js' %}"></script>

<!-- Search-->
<script>
    (function($){
  $(".top-cities li a, .sub-item li a").click(function(e){
    e.preventDefault();
    $("#cityOutput").val($(this).text().toString());
  });

  var cities = ["Москва","Санкт-Петербург","Казань","Нижний Новгород","Новосибирск","Абакан","Альметьевск","Ангарск","Арзамас","Армавир","Артём","Архангельск","Астрахань","Ачинск"];

function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) {
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
autocomplete(document.getElementById("cityOutput"), cities);
}(jQuery))
</script>
<!-- END Search -->
	<script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  	</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZV7WLHDFF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DZV7WLHDFF');
</script>

	<!-- Vendor Stylesheets -->
	<link href="{% static 'file/shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'file/shop/vendor/semantic/semantic.min.css' %}">
