{% load static %}
<!-- Javascripts -->
	<script src="{% static 'file/shop/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'file/shop/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'file/shop/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'file/shop/js/custom.js' %}"></script>
	<script src="{% static 'file/shop/js/offset_overlay.js' %}"></script>
	<script src="{% static 'file/shop/js/night-mode.js' %}"></script>
    <script src="{% static 'file/shop/js/sidebar.js' %}"></script>
    <script src="{% static 'file/shop/js/script_tel.js' %}"></script>
    <script src="{% static 'file/shop/js/user_password.js' %}"></script>
    <script src="{% static 'file/shop/js/jquery_custom.js' %}"></script>

<script>
    /*jslint  browser: true, white: true, plusplus: true */
/*global $, countries */
$(function () {
    'use strict';

    var countriesArray = $.map(countries, function (value, key) { return { value: value, data: key }; });

    // Setup jQuery ajax mock:
    $.mockjax({
        url: '*',
        responseTime: 2000,
        response: function (settings) {
            var query = settings.data.query,
                queryLowerCase = query.toLowerCase(),
                re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi'),
                suggestions = $.grep(countriesArray, function (country) {
                     // return country.value.toLowerCase().indexOf(queryLowerCase) === 0;
                    return re.test(country.value);
                }),
                response = {
                    query: query,
                    suggestions: suggestions
                };

            this.responseText = JSON.stringify(response);
        }
    });

    // Initialize ajax autocomplete:
    $('#autocomplete-ajax').autocomplete({
        // serviceUrl: '/autosuggest/service/url',
        lookup: countriesArray,
        lookupFilter: function(suggestion, originalQuery, queryLowerCase) {
            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        },
        onSelect: function(suggestion) {
            $('#selction-ajax').html('You selected: ' + suggestion.value + ', ' + suggestion.data);
        },
        onHint: function (hint) {
            $('#autocomplete-ajax-x').val(hint);
        },
        onInvalidateSelection: function() {
            $('#selction-ajax').html('You selected: none');
        }
    });

    var nhlTeams = ['{{ i }}','{{ nam }}'];
    var nbaTeams = [''];
    var nhl = $.map(nhlTeams, function (team) { return { value: team, data: { category: '' }}; });
    var nba = $.map(nbaTeams, function (team) { return { value: team, data: { category: '' } }; });
    var teams = nhl.concat(nba);

    // Initialize autocomplete with local lookup:
    $('#autocomplete').devbridgeAutocomplete({
        lookup: teams,
        minChars: 1,
        onSelect: function (suggestion) {
            $('#selection').html('Вы выбрали: ' + suggestion.value + ', ' );
            window.location.href = 'https://coop-dostavka.ru/arti',
            window.location(window.location.href);
        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: 'В населенный пункт доставка не осуществляется',
        groupBy: 'category'
    });

    // Initialize autocomplete with custom appendTo:
    $('#autocomplete-custom-append').autocomplete({
        lookup: countriesArray,
        appendTo: '#suggestions-container'
    });

    // Initialize autocomplete with custom appendTo:
    $('#autocomplete-dynamic').autocomplete({
        lookup: countriesArray
    });
});
</script>
<script type="text/javascript" src="{% static 'file/shop/js/search_city/jquery-1.8.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'file/shop/js/search_city/jquery.mockjax.js' %}"></script>
<script type="text/javascript" src="{% static 'file/shop/js/search_city/jquery.autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'file/shop/js/search_city/countries.js' %}"></script>
<!-- END Search -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZV7WLHDFF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DZV7WLHDFF');
</script>

	<!-- Vendor Stylesheets -->
	<link href="{% static 'file/shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'file/shop/vendor/semantic/semantic.min.css' %}">
