{% load static %}
<!-- Javascripts -->
	<script src="{% static 'file/shop/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'file/shop/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'file/shop/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'file/shop/js/custom.js' %}"></script>
	<script src="{% static 'file/shop/js/offset_overlay.js' %}"></script>
	<script src="{% static 'file/shop/js/night-mode.js' %}"></script>
    <script src="{% static 'file/shop/js/sidebar.js' %}"></script>
	<script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  	</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZV7WLHDFF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DZV7WLHDFF');
</script>

	<!-- Vendor Stylesheets -->
	<link href="{% static 'file/shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
	<link href="{% static 'file/shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'file/shop/vendor/semantic/semantic.min.css' %}">
