{% load static %}
<!--sidebar widget start-->
<div class="col-lg-3 col-md-12">

    <aside id="aside1" class="sidebar_widget">
        <div class="search_container mobail_s_none">
            <form method="post" action="{% url 'searchproduct_zajkovskoe' %}">
                {% csrf_token %}
                <div class="search_box">
                    <input placeholder="Поиск товара..." type="text" name="name" required="">
                    <button type="submit"><span class="lnr lnr-magnifier"></span></button>
                </div>
            </form>
        </div>
        <div class="widget_inner">
            <div class="widget_list widget_categories">
                <h3><i class="uil uil-apps"></i>Категории</h3>
                <ul>
                    {% for name,sub in category_product.items %}
                        {% if sub %}
                            <li class="widget_sub_categories sub_categories{{ forloop.counter }}"><a style="color: #000000; font-size: 14px" href="javascript:void(0)">{{ name }}</a>
                                <ul class="widget_dropdown_categories dropdown_categories{{ forloop.counter }}">
                                    {% for sub in sub %}
                                        <li><a href="/{{ address_str }}/sort_list/{{ sub }}">{{ sub }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <input id="count_sidebar" type="hidden" value="{{ count_sidebar }}">
                    </br>
                </ul>
            </div>
        </div>
    </aside>
</div>

<!--sidebar widget end-->