<!-- Category Model Start-->
<div class="main-gambo-model modal fade" id="exampleModalCenter" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header_city">
                <h3>Населенный пункт доставки</h3>
                <button class="close1" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="autocomplete">
                    <input type="text" name="country" id="autocomplete" placeholder="Поиск населенного пункта"/>
                </div>
                <div id="selection"></div>
                <ul class="top-cities">
                    <li><a href="{% url 'arti' %}" value="п.Арти Артинского р-на">п.Арти</a></li>
                    <li><a href="{% url 'shop_bogdan' %}" value="г.Богданович Богдановичский р-он">г.Богданович</a></li>
                    <li><a href="{% url 'shop_bugalysh' %}" value="с.Средний Бугалыш Красноуфимского р-на">с.Бугалыш</a></li>
                    <li><a href="{% url 'zajkovskoe' %}" value="п.Зайково Ирбитский р-он">п.Зайково</a></li>
                    <li><a href="{% url 'pokrovskoe' %}" value="с.Покровское Артемовский р-он">с.Покровское</a></li>
                    <li><a href="{% url 'shop_chetkarino' %}" value="с.Четкарино Пышминский р-он">с.Четкарино</a></li>
                </ul>
            </div>
            <input type="submit" hidden="hidden" id="remove" class="clear-cart btn">
            <div class="modal-list">
            </div>
        </div>
    </div>
</div>
<!-- Category Model End-->