<!-- Category Model Start-->
<div class="main-gambo-model modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header_city">
        <h4>Населенный пункт доставки</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="autocomplete">
           <input type="text" name="country" id="autocomplete"/>
        </div>
          <div id="selection"></div>
          <input type="submit" hidden="hidden" id="remove" class="clear-cart btn">
        <ul class="top-cities">
        </ul>
        <div class="modal-list">
        </div>
      </div>
    </div>
  </div>
</div>
	<!-- Category Model End-->