<!--sidebar widget start-->
<aside class="sidebar_widget">
    <div class="widget_inner">
        <div class="widget_list widget_filter">
            <h3>Фильтр цены</h3>
            <form action="#">
                <div id="slider-range"></div>
                <button type="submit">Фильтр</button>
                <input type="text" name="text" id="amount"/>

            </form>
        </div>
        <div class="widget_list tags_widget">
            <h3>Теги товара</h3>
            <div class="tag_cloud">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
            </div>
        </div>
    </div>
</aside>
<!--sidebar widget end-->