<!-- Stylesheets -->
{% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'file/shop/vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
    <link href="{% static 'file/shop/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/search.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/select_city/city.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link href="{% static 'file/panel/css/styles.css' %}" rel="stylesheet">

<!--Home index shop -->
    <link  href="{% static 'file/shop/css/home/stylesheet.css' %}" rel="stylesheet">
    <link  href="{% static 'file/shop/css/home/mmenu.css' %}" rel="stylesheet">
    <link  href="{% static 'file/shop/css/home/icons.css' %}" rel="stylesheet">
    <link  href="{% static 'file/shop/css/home/style.css' %}" id="colors" rel="stylesheet">

