<!-- Stylesheets -->
{% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'file/shop/vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
    <link href="{% static 'file/shop/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/search.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/select_city/city.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link href="{% static 'file/panel/css/styles.css' %}" rel="stylesheet">

<!-- Vendor Stylesheets -->
		<link href="{% static 'file/shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'file/shop/vendor/semantic/semantic.min.css' %}">

