<!--shop toolbar start-->
<div class="shop_toolbar_wrapper">
    <div class="search_container mobail_s_none">
        <form action="arti">
            {% csrf_token %}
            <div class="search_box">
                <input  placeholder="Поиск товара" type="text">
                <button type="button" name="searchproduct" ><span class="lnr lnr-magnifier"></span></button>
            </div>
        </form>
    </div>
    {% include 'shop/includes/toolbar_end.html' %}
    <div id="hidescrollshow" class="page_amount">
        <p-coutn>Показано {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} </p-coutn>
    </div>
</div>
<!--shop toolbar end-->