<!--shop toolbar start-->
<div class="shop_toolbar_wrapper">
    <div class="search_container mobail_s_none">
        <div class="shop_toolbar_btn">
            <button data-role="grid_4" type="button" class="active btn-grid-4" data-toggle="tooltip"></button>
            <button id="hidenscrolb" data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip"></button>
        </div>
    </div>
    {% include 'shop/includes/toolbar_end.html' %}
    <div id="hidescrollshow" class="page_amount">
        <p-coutn>Показано {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} </p-coutn>
    </div>
</div>
<!--shop toolbar end-->