<!--shop toolbar start-->
<div class="shop_toolbar_wrapper">
    <div class="shop_toolbar_btn">

        <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

        <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
    </div>
    <!--<div class=" niceselect_option">
        <form class="select_option" action="#">
            <select name="orderby" id="short">
                <option value="6">Сортировать по алфавиту</option>
                <option value="5">Сортировать по цене</option>
            </select>
        </form>
    </div>
    <div class="page_amount">
        <p>Результат</p>
    </div>-->
</div>
<!--shop toolbar end-->