<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Shop">
    <meta name="author" content="V.Tsyrenschikov">
    <title>Магазин доставки продуктов - {% block title %}{% endblock %}</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{% static 'file/shop/images/fav1.png' %}">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'file/shop/vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
    <link href="{% static 'file/shop/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'file/shop/css/night-mode.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
		<link href="{% static 'file/shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'file/shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'file/shop/vendor/semantic/semantic.min.css' %}">
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
{% block content %}{% endblock content %}
	<!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'file/shop/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'file/shop/vendor/OwlCarousel/owl.carousel.js' %}"></script>
	<script src="{% static 'file/shop/vendor/semantic/semantic.min.js' %}"></script>
	<script src="{% static 'file/shop/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'file/shop/js/custom.js' %}"></script>
	<script src="{% static 'file/shop/js/product.thumbnail.slider.js' %}"></script>
	<script src="{% static 'file/shop/js/offset_overlay.js' %}"></script>
	<script src="{% static 'file/shop/js/night-mode.js' %}"></script>
{% block javascripts %}{% endblock javascripts %}
</body>
</html>