{% extends 'shop/layouts/base.html' %}
{% block title %}contact{% endblock %}
{% block content %}
	{% load static %}
	<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">Обратная связь</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="panel-group accordion" id="accordion0">
							<div class="panel panel-default">
								<div class="panel-heading" id="headingOne">
										<div class="contact-title">
										</div>
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#" aria-expanded="false" aria-controls="collapseOne">
											<i class="uil uil-location-point chck_icon"></i>Екатеринбург
										</a>
									</div>
								</div>
								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0" style="">
									<div class="panel-body">
										г.Екатеринбург:<br>
										#620014, Екатеринбург, улица 8 Марта, д. 4<br>
										E-mail:infosvops@gmail.com<br>
										<div class="color-pink">Тел:+7(343)288-53-07</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingTwo">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#" aria-expanded="false" aria-controls="collapseTwo">
											<i class="uil uil-location-point chck_icon"></i>Красноуфимск
										</a>
									</div>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion0">
									<div class="panel-body">
										г. Красноуфимск :<br>
										#623300, Красноуфимск, улица Ленина, д. 76<br>
										E-mail: koop-kruf77@mail.ru<br>
										<div class="color-pink">Тел: +7(34394)2-20-05, +7(343)942-20-05</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingThree">
									 <div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
											<i class="uil uil-location-point chck_icon"></i>Первоуральск
										</a>
									</div>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion0">
									<div class="panel-body">
										г. Первоуральск :<br>
										#623142, Первоуральск, пос. Билимбай, площадь Свободы, д. 2<br>
										E-mail:...<br>
										<div class="color-pink">Тел: +7(3439)66-42-94</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingfour">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsefour" href="#" aria-expanded="false" aria-controls="collapsefour">
											<i class="uil uil-location-point chck_icon"></i>Арти
										</a>
									</div>
								</div>
								<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion0">
									<div class="panel-body">
										Арти :<br>
										#623340, Арти, улица Ленина, д. 65, кв. 65<br>
										E-mail: aviaclub2010@mail.ru, ashorohova@monetka.ru<br>
										<div class="color-pink">Тел: +7(34391)2-15-89, +7(34391)2-15-95</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingfive">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsefive" href="#" aria-expanded="false" aria-controls="collapseOne">
											<i class="uil uil-location-point chck_icon"></i>Нижние Серги
										</a>
									</div>
								</div>
								<div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0" style="">
									<div class="panel-body">
										Нижние Серги:<br>
										#623090, Свердловская область, Нижнесергинский район, город Нижние Серги, Советская улица, 6<br>
										E-mail:...<br>
										<div class="color-pink">Тел: +7(34398)217-11 </div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingsix">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsesix" href="#" aria-expanded="false" aria-controls="collapsesix">
											<i class="uil uil-location-point chck_icon"></i>Октябрьск
										</a>
									</div>
								</div>
								<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" data-parent="#accordion0">
									<div class="panel-body">
										Октябрьск :<br>
										#623657, Свердловская область, Тугулымский район, с. Верховино, ул. Строителей, 1<br>
										E-mail: po-okt@yandex.ru<br>
										<div class="color-pink">Тел: +7(34367)283-87</div>
									</div>
								</div>
							</div>
						</div>
					</div>
 					<div class="col-lg-6 col-md-6">
						<div class="contact-title">
				<h2>Отправить сообщение</h2>
						</div>
						<div class="contact-form">
							<form role="form" method="POST">
								{% csrf_token %}
								<div class="form-group mt-1">
									<label class="control-label">Имя*</label>
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh19">
											<input type="text" class="form-control" id="subject" name="subject" placeholder="Ваше имя" maxlength="70" required>
										</div>
									</div>
								</div>
								<!--<div class="form-group mt-1">
									<label class="control-label">Тема*</label>
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh19">
											<input class="prompt srch_explore" type="text" name="subject" id="sendersubject" required="" placeholder="Тема"maxlength="50"></input>
										</div>
									</div>
								</div>-->
								<div class="form-group mt-1">
									<label class="control-label">Email Адрес*</label>
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh19">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
										</div>
									</div>
								</div>
								<div class="form-group mt-1">
									<div class="field">
										<label class="control-label">Сообщение*</label>
										<textarea class="form-control" type="textarea" id="message" name="message" placeholder="Сообщение" maxlength="300" rows="5"></textarea>
									</div>
								</div>
								<button type="submit"  name="submit" class="next-btn16 hover-btn mt-3">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}

