{% extends 'shop/layouts/base.html' %}
{% block title %}contact{% endblock %}
{% block content %}
	{% load static %}
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">Обратная связь</li>
								<!--Contact form-->
	<div style="margin:80px">
		<h1>Contact</h1>
		<h4>Contact us directly if you have any questions</h4>
		<p>
			Please write your name, email address and a message below if you have any questions.
			One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
		</p>
		<form method="post">
        {% csrf_token %}
            {{ form }}
            <!--add the reCAPTCHA Privacy and Terms of Service disclosure-->
            <p>This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/terms">Terms and Conditions</a> apply.
            </p>
            <!--add this reCAPTCHA input-->
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <button type="submit">Submit</button>
        </form>
    </div>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
  </form>
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}
