<div class="col-xl-31 col-md-6">
    <a href="{% url 'order' %}">
        <div class="dashboard-report-card purple">
            <div class="card-content">
                <span class="card-title">Ожидание</span>
                {% if count_order %}
                    <span class="card-count">{{ count_order }}</span>
                {% else %}
                    <span class="card-count">0</span>
                {% endif %}
            </div>
            <div class="card-media">
                <i class="fab fa-rev"></i>
            </div>

        </div>
    </a>
</div>
<div class="col-xl-31 col-md-6">
    <a href="{% url 'order_formation' %}">
        <div class="dashboard-report-card info">
            <div class="card-content">
                <span class="card-title">Формирование</span>
                {% if count_order1 %}
                    <span class="card-count">{{ count_order1 }}</span>
                {% else %}
                    <span class="card-count">0</span>
                {% endif %}
            </div>
            <div class="card-media">
                <i class="fas fa-sync-alt rpt_icon"></i>
            </div>
        </div>
    </a>
</div>
<div class="col-xl-31 col-md-6">
    <a href="{% url 'order_delivery' %}">
        <div class="dashboard-report-card success">
            <div class="card-content">
                <span class="card-title">Доставка</span>
                {% if count_order2 %}
                    <span class="card-count">{{ count_order2 }}</span>
                {% else %}
                    <span class="card-count">0</span>
                {% endif %}
            </div>
            <div class="card-media">
                <i class="fas fa-light fa-truck"></i>
            </div>
        </div>
    </a>
</div>
<div class="col-xl-31 col-md-6">
    <a href="{% url 'order_close' %}">
        <div class="dashboard-report-card closes">
            <div class="card-content">
                <span class="card-title">Закрыто</span>
                {% if count_order3 %}
                    <span class="card-count">{{ count_order3 }}</span>
                {% else %}
                    <span class="card-count">0</span>
                {% endif %}
            </div>
            <div class="card-media">
                <i class="far fas fa-check"></i>
            </div>
        </div>
    </a>
</div>
<div class="col-xl-31 col-md-6">
    <a href="{% url 'order_cancellation' %}">
        <div class="dashboard-report-card red">
            <div class="card-content">
                <span class="card-title">Отмена</span>
                {% if count_order4 %}
                    <span class="card-count">{{ count_order4 }}</span>
                {% else %}
                    <span class="card-count">0</span>
                {% endif %}
            </div>
            <div class="card-media">
                <i class="far fa-times-circle"></i>
            </div>
        </div>
    </a>
</div>