{% load hosts %}
{% host_url 'homepage' as homepage_url %}
<nav class="sb-topnav navbar navbar-expand navbar-light bg-clr">
            <a class="navbar-brand logo-brand" href="{% url 'panel' %}">Панель менеджера</a>
			<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <a href="{{ homepage_url }}" class="frnt-link"><i class="fas fa-external-link-alt"></i>В магазин</a>
            <ul class="navbar-nav ml-auto mr-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_short_name }} <i
                            class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item admin-dropdown-item" href="{% url 'edit_profile' %}">Редактировать профиль</a>
						<a class="dropdown-item admin-dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                        <a class="dropdown-item admin-dropdown-item" href="{% url 'logout' %}">Выход</a>
                    </div>
                </li>
            </ul>
</nav>