{% load static %}
                    <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
											<div class="customer_img">
												<img src="{% static 'file/panel/images/avatar/img-1.jpg' %}" alt="">
											</div>
											<div class="shopowner-dt-left mt-4">
												<h4>{{ users.get_full_name }}</h4>
												<span>{% if users.is_staff %}
                                                        Администратор
                                                        {% else %}
                                                        Менеджер магазина
                                                       {% endif %}
                                                </span>
											</div>

											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя</span>
                                                    {% if users.first_name %}
													<span class="right-dt">{{ users.first_name}}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: red">Имя не указано</span>
                                                    {% endif %}
												</div>
                                                <div class="shopowner-dt-list">
													<span class="left-dt">Фамилия</span>
                                                    {% if users.last_name %}
													<span class="right-dt">{{ users.last_name}}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: red">Фамилия не указана</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Email</span>
                                                    {% if users.email %}
													<span class="right-dt">{{ users.email }}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: red">E-mail не указан</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Телефон</span>
                                                    {% if users.phone %}
													<span class="right-dt">{{ users.phone }}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: red">Номер не указан</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Организация</span>
                                                    {% if users.org %}
													<span class="right-dt">{{ users.org }}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: red">Организация не указана</span>
                                                    {% endif %}
												</div>
                                                <div class="shopowner-dt-list">
                                                    <span class="left-dt">Вход в систему</span>
                                                    {% if users.last_login %}
                                                    <span class="right-dt">{{ users.last_login }}</span>
                                                    {% else %}
                                                    <span class="right-dt" style="color: green">Вход не осуществлялся</span>
                                                    {% endif %}
                                                </div>
                                                <div class="shopowner-dt-list">
                                                    <span class="left-dt">Дата регистрации</span>
                                                     <span class="right-dt">{{ users.date_joined }}</span>
                                                </div>
											</div>
										</div>
                                        <div class="col-lg-12">
								            <a href="{% url 'edit_manager' %}" class="add-btn hover-btn">К списку менеджеров</a>
                                        </div>
									</div>
								</div>
							</div>
                        </div>