
							<div class="col-lg-5 col-md-6">
								<div class="bulk-section mt-30">
									<div class="search-by-name-input">
										<input type="text" class="form-control" placeholder="Поиск в таблице" id="search-text" onkeyup="tableSearch()" >
									</div>
								</div>
							</div>
<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mt-30 mb-30">
									<div class="card-title-2">
										<h4>Список продуктов : {{ count_product }} </h4>
									</div>
									<div class="card-body-table">
										<div class="table-responsive">
											<table id="info-table" class="table ucp-table table-hover table_sort">
												<thead>
													<tr>
														<th>Имя</th>
                                                        <th style="width:100px">Изображение</th>
                                                        <th>Цена</th>
                                                        <th>Цена со скидкой</th>
                                                        <th>Описание</th>
                                                        <th>Товарная группа</th>
														<th>Статус</th>
													</tr>
												</thead>
												<tbody>
                                                {% for products in products %}
                                                    <tr>
                                                        <td>
                                                            {{ products.name }}
                                                        </td>
                                                        {% if products.image %}
                                                            <td>
                                                                <div class="cate-img">
                                                                    <img src="{{ products.image.url  }}" width="80" height="40" alt="">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="cate-img">Нет изображения</div>
                                                            </td>
                                                        {% endif %}
                                                        <td>{{ products.price }} .р</td>
                                                        <td>{{ products.discount }} .р</td>
                                                        <td>
                                                            {% if products.description %}
                                                                {{ products.description }}
                                                            {% else %}
                                                                Без описания
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if products.subcat != None %}
                                                                {{ products.subcat|cut:"["|cut:"]"|cut:"'" }}
                                                            {% else %}
                                                                Товарная группа не назначена
                                                            {% endif %}
                                                        </td>
                                                        {% if products.status %}
                                                            <td><span class="badge-item badge-status">Опубликован</span></td>
                                                        {% else %}
                                                            <td><span class="badge-item badge-status">Не опубликован</span></td>
                                                        {% endif %}
                                                       </td>
                                                        <!--<td class="action-btns">
                                                            <a href="/products_view_shop/{{ product_shop.id }}" class="view-shop-btn" title="Просмотр"><i class="fas fa-eye"></i></a>
                                                            <a href="/edit_product/{{ products.id }}" class="edit-btn" title="Редактировать"><i class="fas fa-edit"></i></a>
                                                            <a href="/delete_product/{{ products.id }}" class="delete-btn" title="Удалить" onclick="return confirm('Удалить товар??? (ДЕЙСТВИЕ НЕ' +
                                                             ' ' +
															 'ОБРАТИМО)')"><i class="fas
															fa-trash-alt"></i></a>
                                                        </td>-->
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
										</div>
									</div>
								</div>
							</div>