{% load static %}
        <!-- Javascripts -->
   <script src="{% static 'file/panel/js/jquery-3.4.1.min.js' %}"></script>
   <script src="{% static 'file/panel/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'file/panel/js/scripts.js' %}"></script>
   <script src="{% static 'file/panel/vendor/chart/highcharts.js' %}"></script>
   <script src="{% static 'file/panel/vendor/chart/exporting.js' %}"></script>
   <script src="{% static 'file/panel/vendor/chart/export-data.js' %}"></script>
   <script src="{% static 'file/panel/vendor/chart/accessibility.js' %}"></script>
   <script src="{% static 'file/panel/js/chart.js' %}"></script>
   <script src="{% static 'file/panel/js/script_tel.js' %}"></script>
{% block javascripts %}{% endblock javascripts %}