{% load static %}

        <!-- Javascripts -->
<script src="{% static 'file/panel/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'file/panel/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'file/panel/js/scripts.js' %}"></script>
<script src="{% static 'file/panel/vendor/chart/highcharts.js' %}"></script>
<script src="{% static 'file/panel/vendor/chart/exporting.js' %}"></script>
<script src="{% static 'file/panel/vendor/chart/export-data.js' %}"></script>
<script src="{% static 'file/panel/vendor/chart/accessibility.js' %}"></script>
<script src="{% static 'file/panel/js/chart.js' %}"></script>
<script src="{% static 'file/panel/js/script_tel.js' %}"></script>
<script src="{% static 'file/panel/js/slug.js' %}"></script>

<!-- Календарь -->
<script src="https://cdn.jsdelivr.net/npm/zebra_pin@2.0.0/dist/zebra_pin.min.js"></script>
<script src="{% static 'file/panel/calendar/js/zebra_datepicker.min.js' %}"></script>
<script src="{% static 'file/panel/calendar/js/examples.js' %}"></script>

<!-- Скрипты для выбора из разных окон -->
<!--<script  src="{% static 'file/panel/js/select/script.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>-->

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'file/panel/js/bootstrap-select.min.js' %}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% block javascripts %}{% endblock javascripts %}