<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{% url 'panel' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Панель управления
                </a>
                {% if 'super_manager' in groups %}
                    <a class="nav-link {% if request.path == '/edit_manager/' or request.path == '/add_manager/' %}active{% endif %}" href="#" data-toggle="collapse"
                       data-target="#collapseManager" aria-expanded="false"
                       aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Менеджер
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseManager" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link sub_nav_link" href="{% url 'edit_manager' %}">Список менеджеров</a>
                            <a class="nav-link sub_nav_link" href="{% url 'add_manager' %}">Добавить менеджера</a>

                        </nav>
                    </div>
                {% endif %}
                <a class="nav-link " href="{% url 'customers' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Клиенты
                </a>
                <a class="nav-link {% if request.path == '/subcategory/' %}active{% endif %}" href="{% url 'subcategory' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-basket"></i></div>
                    Товарная группа
                </a>
                <a class="nav-link {% if request.path == '/subsubcategory/' %}active{% endif %}" href="{% url 'subsubcategory' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-basket"></i></div>
                    Товарная подгруппа
                </a>
                <a class="nav-link {% if request.path == '/category/' or request.path == '/add_category/' %}active{% endif %}" href="#" data-toggle="collapse"
                   data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Категории
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCategories" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link sub_nav_link" href="{% url 'category' %}">Список категорий</a>
                        {% if 'super_manager' in groups %}
                            <a class="nav-link sub_nav_link" href="{% url 'add_category' %}">Добавить категорию</a>
                        {% endif %}
                    </nav>
                </div>
                <a class="nav-link {% if request.path == '/locations/' or request.path == '/add_location/' %}active{% endif %}
" href="#" data-toggle="collapse" data-target="#collapseLocations" aria-expanded="false" aria-controls="collapseLocations">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                    Населенный пункт
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLocations" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link sub_nav_link" href="{% url 'locations' %}">Список населенных пунктов</a>
                        {% if 'super_manager' in groups %}
                            <a class="nav-link sub_nav_link" href="{% url 'add_location' %}">Добавить населенный пункт</a>
                        {% endif %}
                    </nav>
                </div>
            {% if request.user.is_superuser %}
                <a class="nav-link {% if request.path == '/areas/' or request.path == '/add_area/' %}active
{% endif %}" href="#" data-toggle="collapse" data-target="#collapseAreas" aria-expanded="false" aria-controls="collapseAreas">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>
                    Территория Обслуживания
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAreas" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link sub_nav_link" href="{% url 'areas' %}">Список территорий</a>
                        {% if 'super_manager' in groups %}
                            <a class="nav-link sub_nav_link" href="{% url 'add_area' %}">Добавить территорию</a>
                        {% endif %}
                    </nav>
                </div>
            {% endif %}
                {% if 'super_manager' in groups %}
                    <a class="nav-link {% if request.path == '/shops/' or request.path == '/add_shop/' %}active{% endif %}" href="#" data-toggle="collapse" data-target="#collapseShops"
                       aria-expanded="false" aria-controls="collapseShops">
                        <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
                        Магазины
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseShops" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link sub_nav_link" href="{% url 'shops' %}">Список магазинов</a>
                            <a class="nav-link sub_nav_link" href="{% url 'add_shop' %}">Добавить магазин</a>
                        </nav>
                    </div>
                {% endif %}
                {% if not request.user.is_superuser %}
                    <a class="nav-link  {% if request.path == '/product/' or request.path == '/add_product/' %}active{% endif %}" href="#" data-toggle="collapse" data-target="#collapseProducts"
                       aria-expanded="false" aria-controls="collapseProducts">
                        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                        Продукты
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseProducts" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link sub_nav_link" href="{% url 'products' %}">Все продукты</a>
                            <a class="nav-link sub_nav_link" href="{% url 'add_product' %}">Добавить продукт</a>
                        </nav>
                    </div>
                {% endif %}
                <a class="nav-link" href="{% url 'order' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                    Заказы
                </a>
                <a class="nav-link" href="{% url 'offer' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                    Акция
                </a>
            </div>
        </div>
    </nav>
</div>
