
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="{%  url 'panel' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Панель управление
							</a>
                            {% if 'super_manager' in groups %}
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManager" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Менеджер
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseManager" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link sub_nav_link" href="{% url 'edit_manager' %}">Список менеджеров</a>
                                    <a class="nav-link sub_nav_link" href="{% url 'add_manager' %}">Добавить менеджера</a>

                                </nav>
                            </div>
                            {% endif %}
                            <a class="nav-link" href="{% url 'customers' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Клиенты
							</a>
                        {% if 'super_manager' in groups %}
							<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShops" aria-expanded="false" aria-controls="collapseShops">
								<div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
                                Магазины
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseShops" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{%  url 'shops' %}">Все магазины</a>
									<a class="nav-link sub_nav_link" href="{%  url 'add_shop' %}">Добавить магазин</a>
								</nav>
                            </div>
                        {% endif %}
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
								<div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                                Категории
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseCategories" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{%  url 'category' %}">Список категорий</a>
									<a class="nav-link sub_nav_link" href="{%  url 'add_category' %}">Добавить категорию</a>
								</nav>
                            </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
								<div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                                Продукты
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseProducts" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{% url 'products' %}">Все продукты</a>
									<a class="nav-link sub_nav_link" href="{% url 'add_product' %}">Добавить продукт</a>
								</nav>
                            </div>
							<a class="nav-link" href="{%  url 'orders' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                                Заказы
							</a>
							<a class="nav-link" href="{% url 'offers' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                                Акция
							</a>
                             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                                Посты
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{%  url 'posts' %}">Посты</a>
									<a class="nav-link sub_nav_link" href="{%  url 'add_post' %}">Добавить пост</a>
									<a class="nav-link sub_nav_link" href="{%  url 'post_categories' %}">Категории</a>
									<a class="nav-link sub_nav_link" href="{%  url 'post_tags' %}">Теги</a>
								</nav>
                            </div>
							<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLocations" aria-expanded="false" aria-controls="collapseLocations">
								<div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                Адреса на карте
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseLocations" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{%  url 'locations' %}">Все адреса</a>
									<a class="nav-link sub_nav_link" href="{% url 'add_location' %}">Добавить адрес</a>
								</nav>
                            </div>
							<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAreas" aria-expanded="false" aria-controls="collapseAreas">
								<div class="sb-nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>
                                Зоны
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseAreas" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link" href="{% url 'areas' %}">Все зоны</a>
									<a class="nav-link sub_nav_link" href="{% url 'add_area' %}">Добавить зону</a>
								</nav>
                            </div>
                            {% if 'super_manager' in groups %}
							<a class="nav-link" href="{% url 'pages' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Страницы
							</a>
                            <a class="nav-link" href="{% url 'menu' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                                Меню
							</a>
							<a class="nav-link active collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
								<div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                                Настройка
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
                            <div class="collapse" id="collapseSettings" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link sub_nav_link active" href="general_setting.html">Общие настройки</a>
									<a class="nav-link sub_nav_link" href="payment_setting.html">Настройка платежей</a>
									<a class="nav-link sub_nav_link" href="email_setting.html">Email настройка</a>
								</nav>
                            </div>
                        {% endif %}
							<a class="nav-link" href="{% url 'reports' %}">
								<div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                                Отчеты
							</a>
                        </div>
                    </div>
                </nav>
            </div>
