{% extends 'shop/auth/layouts/base_login.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
	<div class="sign-inup">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="sign-form">
						<div class="sign-inner">
							<div class="sign-logo" id="logo">
								<a href="/"><img src="{% static 'file/shop/images/logo_login.jpg' %}" alt=""></a>
								<a href="/"><img class="logo-inverse" src="{% static 'file/shop/images/dark-logo.svg' %}" alt=""></a>
							</div>
							<div class="form-dt">
								<div class="form-inpts checout-address-step">
									<form method="post">
                                        {% csrf_token %}
										<div class="form-title"><h6>Вход в личный кабинет</h6></div>
                                            {% if form.errors %}
                                                <div class="alert alert-danger alert-dismissible">
                                                <a href="{% url 'reset_password' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <p>email или пароль не найдены</p>
                                            </div>
                                            {% endif %}
										<div class="form-group pos_rel">
                                            <input id="username" name="username" type="text" placeholder="E-mail" class="form-control lgn_input" required="">
											<i class="uil uil-mobile-android-alt lgn_icon"></i>
										</div>
										<div class="form-group pos_rel">
											<input id="password1" name="password" type="password" placeholder="Пароль" class="form-control lgn_input" required="">
											<i class="uil uil-padlock lgn_icon"></i>
										</div>
										<button class="login-btn hover-btn" type="submit">Войти</button>
									</form>
                                       <!-- <div class="socauth">
                                            <p class="form-title social">
                                            Другие способы входа
                                            </p>-->
                                                <!--Регистрация VK-->
                                            <!--<a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-neutral btn-icon">
                                            <span class="btn-inner--icon"><img src="{% static 'file/shop/images/vk.png'%}"></span></a>-->
                                                <!--Регистрация Google -->
                                            <!--<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-neutral btn-icon">
                                            <span class="btn-inner--icon"><img src="{% static 'file/shop/images/google.svg'%}"></span></a>
                                        </div>-->
								<div class="password-forgor">
									<a href="{% url 'reset_password' %}">Забыли пароль?</a>
								</div>
							</div>
                            <div class="signup-link">
								<p>Нет учетной записи? - <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
							</div>
						</div>
					</div>
					{% include 'auth/include/footer.html' %}
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}