{% extends 'shop/layouts/base_arti.html' %}

{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
                        <p>112112</p>
                    </div>
                </div>
            </div>
    </div>
{% include 'shop/includes/cart_modal_arti.html' %}
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}