{% extends 'shop/layouts/base_arti.html' %}
{% load static %}
{% load qr_code %}
{% block title %}Оплата заказа по qr коду{% endblock %}
{% block content %}
    {% include 'shop/includes/qr_code.css.html' %}
    <div class="wrapper">
        <div class="container">
            <div class="all-product-grid">
                <div class="contact-title-1">
                    <div class="payment">
                        <div class="payment-tabs"><a href="javascript:void(0);">СБП</a><a class="active" href="javascript:void(0);">{{ order.total_price }} р.</a></div>
                        <div class="payment-method">
                            <h2>{% qr_from_text data %}</h2>
                        </div>
                        <div class="payment-actions"><a class="return" href="javascript:void(0);">Отказаться от оплаты</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="total_price" value="{{ order.total_price }}">
    {% include 'shop/layouts/footer.html' %}
    {% include 'shop/includes/scripts.html' %}
{% endblock content %}