{% extends 'shop/auth/layouts/base_login.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% load copyrighttags %}
	<div class="sign-inup">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="sign-form">
						<div class="sign-inner">
							<div class="sign-logo" id="logo">
								<a href="/"><img src="{% static 'file/shop/images/logo_login.jpg' %}" alt=""></a>
								<a href="/"><img class="logo-inverse" src="{% static 'file/shop/images/dark-logo.svg' %}" alt=""></a>
							</div>
							<div class="form-dt">
								<div class="form-inpts checout-address-step">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                    <div class="form-title"><h6>Вход в личный кабинет</h6></div>
                                    <p>Номер телефона</p>
                                        <div class="form-group pos_rel">
											<input id="phone" name="phone" type="text" placeholder="+7" class="form-control lgn_input" maxlength="15" required="">
											<i class="uil uil-mobile-android-alt lgn_icon"></i>
                                        </div>
                                        <div class="signup-link">
                                        <a href="{% url 'logout' %}"><p>Получить код по смс</p></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="socauth">
                                    <p class="form-title social">
                                        Другие способы входа
                                    </p>
                                    <!--Регистрация VK-->
                                    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon"><img src="{% static 'file/shop/images/vk.png'%}"></span></a>
                                    <!--Регистрация Google -->
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon"><img src="{% static 'file/shop/images/google.svg'%}"></span></a>
                                </div>
                            </div>
						</div>
					</div>
					<div class="copyright-text text-center mt-3">
						<i class="uil uil-copyright"></i>Copyright {% getCopyrightYears %}  Интернет-магазин доставки продуктов</b>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block javascripts %}
    <!-- jQuery Mask Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'file/shop/js/mask.js' %}"></script>
    <!-- /jQuery Mask Plugin -->
{% endblock javascripts %}