{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    {% load thumbnail %}
    {% block stylesheet %}
    {% endblock stylesheet %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Продукты</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'products' %}">Продукты</a></li>
                <li class="breadcrumb-item active">Добавить продукт</li>
            </ol>
            <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Добавить продукт (товар) </h4>
                                </div>
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Имя*</label>
                                        <input type="text" name="name" class="form-control" placeholder="Наименование товара" required="">
                                    </div>
                                    {% if name %}
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ name }}
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="form-label">Номенклатура (Артикул)*</label>
                                        <input type="text" name="artikul" id="input_artikul" class="form-control" placeholder="Артикул">
                                        <message></message>
                                    </div>
                                    <table id="artikul" hidden>
                                        <tbody>
                                        <tr>
                                            {% for product in products %}
                                                <td value="{{ product.artikul }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group">
                                        <label class="form-label">Категория*</label>
                                        </br>
                                        <select name="categ" id="selectcat" required class="form-control cat">
                                            {% for category in category %}
                                                <option number="{{ forloop.counter0 }}" name="categ" value="{{ category.name }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        {% comment %}Subcat{% endcomment %}
                                        {% for category in category %}
                                            <namesubcat{{ forloop.counter0 }} hidden value="{{ category.subcat }}"></namesubcat{{ forloop.counter0 }}>
                                        {% endfor %}
                                    </div>
                                    <div id="tgdiv" class="form-group">
                                        <label class="form-label">Товарная группа*</label>
                                        <select id="selectsub" name="subcat" required class="form-control tg">
                                        </select>
                                    </div>
                                    {% comment %}Subsubcategory{% endcomment %}
                                    {% for sub in subcategory %}
                                        {% if sub.subsubcat|length %}
                                            <namesubname hidden value="{{ sub.name }}"></namesubname>
                                            <namesubname hidden value="{{ sub.subsubcat }}"></namesubname>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="form-group tpgdiv">
                                        <label class="form-label">Товарная подгруппа*</label>
                                        <select id="selectsubsub" class="form-control tpg"></select>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="form-label">Цена*</label>
                                        <label class="form-label" style="color: red">(формат записи цены 0.00)</label>
                                        <input type="number" step="any" name="price" class="form-control" placeholder="10 р." required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Цена со скидкой</label>
                                        <label class="form-label" style="color: red">(формат записи цены со скидкой 0.00)</label>
                                        <input type="number" step="any" name="discount" class="form-control" value="0" placeholder="7 р." required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Загрузка изображения*</label>
                                    </div>
                                    {% comment %}Изображение{% endcomment %}
                                    <div class="form-group">
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" value="" name="image0" accept="image/jpeg,image/jpe,image/gif,image/bmp,image/svg,image/tif,image/tiff,image/webp,
                                            image/png"
                                                   id="file"
                                                   required="">
                                            <label type="file" for="file"></label>
                                        </div>
                                    </div>

                                    <message_file_name0></message_file_name0>
                                    <br>
                                    <message_file_type0></message_file_type0>

                                    {% comment %}Изображение1{% endcomment %}
                                    <div class="form-group">
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" value="" name="image1" accept="image/jpeg,image/jpe,image/gif,image/bmp,image/svg,image/tif,image/tiff,image/webp,
                                            image/png" id="file">
                                            <label type="file" for="file"></label>
                                        </div>
                                    </div>

                                    <message_file_name1></message_file_name1>
                                    <br>
                                    <message_file_type1></message_file_type1>

                                    {% comment %}Изображение2{% endcomment %}
                                    <div class="form-group">
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" value="" name="image2" accept="image/jpeg,image/jpe,image/gif,image/bmp,image/svg,image/tif,image/tiff,image/webp,
                                            image/png" id="file">
                                            <label type="file" for="file"></label>
                                        </div>
                                    </div>

                                    <message_file_name2></message_file_name2>
                                    <br>
                                    <message_file_type2></message_file_type2>

                                    {% comment %}Изображение3{% endcomment %}
                                    <div class="form-group">
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" value="" name="image3" accept="image/jpeg,image/jpe,image/gif,image/bmp,image/svg,image/tif,image/tiff,image/webp,
                                            image/png" id="file">
                                            <label type="file" for="file"></label>
                                        </div>
                                    </div>

                                    <message_file_name3></message_file_name3>
                                    <br>
                                    <message_file_type3></message_file_type3>
                                    <div class="form-group">
                                        <label class="form-label">Статус*</label>
                                        </br>
                                        <select id="action" name="status" class="form-control">
                                            <option value="True">Опубликован</option>
                                            <option name="status" value="False">Не опубликован</option>
                                        </select>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="form-label">Описание товара</label>
                                        <textarea class="form-control" name="description" placeholder="Описание товара"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <message_button></message_button>
                                    </div>
                                    <button id="butdis" class="save-btn hover-btn" type="submit">Добавить продукт</button>
                                </div>
                            </div>
                        </div>
                        {% include 'panel/include/characteristiki.html' %}
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!--Выбор из списка-->
    <script src="{% static 'file/panel/js/chosen/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'file/panel/js/chosen/addcategory.js' %}" type="text/javascript"></script>
    <!--Поиск артикула-->
    <script src="{% static 'file/panel/js/artikul_true.js' %}"></script>
    <script src="{% static 'file/panel/js/filesize.js' %}"></script>
{% endblock content %}