{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Зоны</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'areas' %}">Зоны</a></li>
                            <li class="breadcrumb-item active">Добавить зону</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить зону/h4>
									</div>
									<div class="card-body-table">
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Имя*</label>
												<input type="text" type="text" class="form-control" placeholder="Имя зоны">
											</div>
											<div class="form-group">
												<label class="form-label">Локация*</label>
												<select id="location" name="location" class="form-control">
													<option selected>--Выбрать локацию--</option>
													<option value="1">Екатеринбург</option>
													<option value="2">Красноуфимск</option>
													<option value="3">Арти</option>
													<option value="4">Ачит</option>
													<option value="5">Первоуральск</option>
													<option value="6">Нижние Серги</option>
													<option value="7">Михайловск</option>
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">Статус*</label>
												<select id="status" name="status" class="form-control">
													<option selected>Активный</option>
													<option value="1">Не активный</option>
												</select>
											</div>
											<button class="save-btn hover-btn" type="submit">Добавить</button>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}