{% extends 'panel/layouts/base.html' %}
{% load static %}
{% block stylesheet %}
{% endblock stylesheet %}

{% block title %}panel{% endblock %}
{% block content %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Служба поддержки</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'helpdesk' %}">Служба поддержки</a></li>
                <li class="breadcrumb-item active">Создать заявку</li>
            </ol>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-helpdesk">
                            <h4 style="font-size: 1.3em">Подать заявку</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="news-content-right pd-20">
                                    <label class="form-label">Получатель:</label>
                                    <div class="form-group">
                                        <select name="name_user_help" class="form-control">
                                            <option>-- Выберите получателя--</option>
                                        {% if not user.is_superuser %}
                                            {% for supermanager in user_select %}
                                                <option value="{{ supermanager.last_name }} {{ supermanager.first_name }}" data-value="{{ supermanager.email }}">{{ supermanager.org }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for supermanager in user_select %}
                                                <option value="{{ supermanager.last_name }} {{ supermanager.first_name }}" data-value="{{ supermanager.email }}">{{ supermanager.org }}</option>
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Тема заявки: </label>
                                        <input type="text" name="name" class="form-control" placeholder="Кратко назовите свою проблему" required="">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Текст заявки: </label>
                                        <textarea name="descriptions" class="form-control" placeholder="Опишите свою проблему подробно не более 10000 символов" maxlength="10000" required=""></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Прикрепить файл: </label>
                                        <input type="file" name="file" class="form-control" accept=".docx, .doc, .jpg, .jpeg">
                                    </div>
                                    <input type="hidden" name="slug" value="{{ slug_shop }}"/>
                                    <input type="hidden" name="org" value="{{ name_org }}"/>
                                    {% for users in users %}
                                        <input type="hidden" name="name_user" value="{{ users.last_name }} {{ users.first_name }}"/>
                                        <input type="hidden" name="email_user" value="{{ users.email }}">
                                    {% endfor %}
                                    <input type="hidden" id="email_send_manager" name="email_send_manager">
                                    <input type="hidden" name="status" value="0">
                                    <div class="form-group">
                                        <button class="save-btn hover-btn" type="submit">Добавить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'file/panel/js/select/select_add_helpdesk.js' %}"></script>
{% endblock content %}