{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Продукты</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'products' %}">Продукты</a></li>
                            <li class="breadcrumb-item active">Добавить продукт</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить продукт</h4>
									</div>
									<div class="card-body-table">
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Имя*</label>
												<input type="text" class="form-control" placeholder="Имя категории">
											</div>
											<div class="form-group">
												<label class="form-label">Категория*</label>
												<select id="categtory" name="categtory" class="form-control">
													<option selected>--Выбрать категорию--</option>
													<option value="1">Фрукты и овощи</option>
													<option value="2">Основные продукты </option>
													<option value="3">Молочные продукты и яйца </option>
													<option value="4">Напитки</option>
													<option value="5">Закуски</option>
													<option value="6">Домашний уход</option>
													<option value="7">Лапша и соусы</option>
													<option value="8">Личная гигиена</option>
													<option value="9">Уход за животными</option>
													<option value="10">Мясо и морепродукты</option>
													<option value="11">Электроника</option>
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">MRP*</label>
												<input type="text" class="form-control" placeholder="10 р.">
											</div>
											<div class="form-group">
												<label class="form-label">Скидка MRP*</label>
												<input type="text" class="form-control" placeholder="5" р.>
											</div>
											<div class="form-group">
												<label class="form-label">Статус*</label>
												<select id="status" name="status" class="form-control">
													<option selected>Активный</option>
													<option value="1">Не активный</option>
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">Описание*</label>
												<div class="card card-editor">
													<div class="content-editor">
														 <div id='edit'></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Изображение категории*</label>
												<div class="input-group">
													<div class="custom-file">
														<input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
														<label class="custom-file-label" for="inputGroupFile04">Выбрать изображение</label>
													</div>
												</div>
												<div class="add-cate-img-1">
													<img src="{%  static 'file/panel/images/product/img-11.jpg' %}" alt="">
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Добавить изображение*</label>
												<div class="input-group">
													<div class="custom-file">
														<input type="file" class="custom-file-input" id="inputGroupFile05" aria-describedby="inputGroupFileAddon05">
														<label class="custom-file-label" for="inputGroupFile05">Выбрать изображение</label>
													</div>
												</div>
												<ul class="add-produc-imgs">
													<li>
														<div class="add-cate-img-1">
															<img src="{%  static 'file/panel/images/product/big-1.jpg' %}" alt="">
														</div>
													</li>
													<li>
														<div class="add-cate-img-1">
															<img src="{%  static 'file/panel/images/product/big-2.jpg' %}" alt="">
														</div>
													</li>
													<li>
														<div class="add-cate-img-1">
															<img src="{%  static 'file/panel/images/product/big-3.jpg' %}" alt="">
														</div>
													</li>
													<li>
														<div class="add-cate-img-1">
															<img src="{%  static 'file/panel/images/product/big-4.jpg' %}" alt="">
														</div>
													</li>
												</ul>
											</div>
											<button class="save-btn hover-btn" type="submit">Добавить изображение</button>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}