{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Акции</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item active">Акции</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить акцию (Страница в доработке)</h4>
									</div>
									<div class="card-body-table">
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Название*</label>
												<input type="text" class="form-control" placeholder="Название акции">
											</div>
											<div class="form-group">
												<label class="form-label">Скидка*</label>
												<input type="text" class="form-control" placeholder="0">
											</div>
											<div class="form-group">
												<label class="form-label">Добавить продукт*</label>
												<select class="form-control select" multiple>
													<option value="1">Название продукта 1</option>
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">Status*</label>
												<select id="status" name="status" class="form-control">
													<option selected>Active</option>
													<option value="1">Inactive</option>
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">Баннер*</label>
												<div class="input-group">
													<div class="custom-file">
														<input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
														<label class="custom-file-label" for="inputGroupFile04">Выбрать изображение</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Описание*</label>
												<div class="card card-editor">
													<div class="content-editor">
														<textarea class="text-control" placeholder="Ввод описания"></textarea>
													</div>
												</div>
											</div>
											<button class="save-btn hover-btn" type="submit">Добавить акцию</button>
										</div> 
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}