{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'file/panel/select/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'file/panel/css/select/bootstrap-select.min.css' %}">
{% endblock stylesheet %}
{% block content %}

        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Территория продаж</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'areas' %}">Территория обслуживания</a></li>
                            <li class="breadcrumb-item active">Добавить территорию</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить территорию обслуживания</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="news-content-right pd-20">
                                                <div class="form-group">
                                                    <label class="form-label">Имя*</label>
                                                    <input type="text" id="input" name="name" class="form-control" placeholder="Имя территории" required="">
                                                </div>
                                            <div class="form-group">
                                                <label class="form-label">Slug(ссылка на сайт)*</label>
                                                <p style="color: green">(Поле заполняется автоматически)</p>
                                                <input type="text" id="slug" name="slug" class="form-control" placeholder="slug" readonly="readonly" required="">
                                            </div>
                                                {% if area %}
                                                    <div class="alert alert-danger alert-dismissible">
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{ area }}
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                <label class="form-label">Населенный пункт</label>
                                                    <select class="form-control selectpicker" name="local_city" value="{{ local.name }}" multiple data-live-search="true">
                                                        {% for local in local %}
                                                            <option name="local_city">{{ local.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                <div class="form-group">
                                                <label class="form-label">Категории товара</label>
                                                    <select class="form-control selectpicker" name="category_city" value="{{ category_city.name }}" multiple data-live-search="true">
                                                        {% for category in category %}
                                                            <option name="category_city">{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div id="variants">
                                                <div class="form-group">
                                                    <label class="form-label">Статус*</label>
                                                    <select id="status" name="status" class="form-control">
                                                        <option value="True" selected>Активный</option>
                                                        <option value="False">Не активный</option>
                                                    </select>
                                                </div>
                                                    <button class="save-btn hover-btn" type="submit">Добавить</button>
                                                </div>
                                            </div>
                                        </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

<script>
$(function () {
    $('select').selectpick1er();
});
</script>
{% endblock content %}