{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Категории</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'category' %}">Категории</a></li>
                            <li class="breadcrumb-item active">Добавить категорию</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <p style="color: red">Внимание!</p>
                                </div><div class="card-title-2">
                                <p>Строка загрузки изображения активируется после добавления категории в разделе "Список категорий - Редактировать"</p>
                                </div>
									<div class="card-title-2">
										<h4>Добавить категорию</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post">
                                            {% csrf_token %}
                                        <div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Номер*</label>
												<input type="number" name="number" class="form-control" pattern="[0-9]{,3}" placeholder="Порядковый номер" required="">
											</div>
                                                {% if number %}
                                                <div class="alert alert-danger alert-dismissible">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    {{ number }}
                                                </div>
                                            {% endif %}
											<div class="form-group">
												<label class="form-label">Имя*</label>
												<input type="text" name="name" class="form-control" placeholder="Имя категории" required="">
                                            </div>
											<div class="form-group">
                                                {% if name %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ name }}
                                            </div>
                                                 {% endif %}
											</div>
											<div class="form-group">
												<label class="form-label">Статус*</label>
                                                <div></div>
                                                    <p style="color: orangered">Изменить статус можно после добавления категории</p>
                                                <select id="action" name="status" class="form-control">
                                                    <option name="status" value="False">Не активный</option>
										        </select>
											</div>
											<div class="form-group">
												<label class="form-label">Описание категории</label>
												<input type="text" class="form-control" name="descriptions" value="{{ categories.descriptions }}" placeholder="Описание категории" required="">
											</div>
											<button class="save-btn hover-btn" type="submit">Добавить категорию</button>
										</div>
                                        </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
{% endblock content %}