{% extends 'panel/layouts/base.html' %}
{% load static %}

{% block stylesheet %}
    <!--Панель заказа-->
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'file/panel/css/day/days.css' %}" rel="stylesheet">
    <link href="{% static 'file/panel/css/day/mobiscroll.jquery.min.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}panel{% endblock %}
{% block content %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Локации</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'locations' %}">Населенный пункт</a></li>
                <li class="breadcrumb-item active">Добавить населенный пункт</li>
            </ol>
            <div class="row">
                <div class="col-lg-5a col-md-6a">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Добавить населенный пункт</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="post">
                                {% csrf_token %}
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Название населенного пункта*</label>
                                        <input type="text" name="name" class="form-control" placeholder="Название населенного пункта" required="">
                                    </div>
                                    {% if name %}
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ name }}
                                        </div>
                                    {% endif %}
                                    <label class="form-label">Магазин доставки*</label>
                                    <div class="form-group">
                                        <select name="slug" value="{{ shop.slug }}" class="form-control">
                                            {% for shop in shops %}
                                                <option value="{{ shop.slug }}">{{ shop.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Плата за доставку*</label>
                                        <input type="number" name="delivery_price" class="form-control" value="1" placeholder="1 р." oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this
                                        .value = this.value.replace(/(\..*)\./g, '$1');" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Cумма заказа для бесплатной доставки*</label>
                                        <input type="number" name="delivery_price_min" class="form-control" value="1" placeholder="1 р." oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" required="">
                                    </div>
                                    <div class="form-group" id="days">
                                        <label class="form-label">Периодичность доставки (дни недели)*</label><br>
                                        {% for day in day %}
                                            <label class="control control--checkbox">{{ day.name }}
                                                <input name="day" value="{{ day.name }}" number="{{ day.daysdict }}" type="checkbox"/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group" id="days_dop">
                                        <label class="form-label"><input type="checkbox" id="checkbox">Дополнительный период доставки (дни недели, время, стоимость)</label>
                                    </div>
                                    <div class="form-group" id="days_time">
                                        {% for day in day %}
                                            <label class="control control--checkbox">{{ day.name }}
                                                <input id="day_dop" name="day_dop" value="{{ day.name }}" number_dop="{{ day.daysdict }}" type="checkbox"/>
                                                <div class="control__indicator"></div>
                                            </label>
                                            <div id="start-end"></div>
                                            <div class="mbsc-grid mbsc-no-padding" id="day_price_delivery">
                                                <div class="mbsc-row">
                                                    <div class="mbsc-col-6">
                                                        <label>
                                                            Начало
                                                            <input type="time" id="start" time_start="{{ day.daysdict }}" mbsc-input data-input-style="outline" data-label-style="stacked"
                                                                   value="00:00"/>
                                                        </label>
                                                    </div>
                                                    <div class="mbsc-col-6">
                                                        <label>
                                                            Окончание
                                                            <input type="time" id="end" mbsc-input data-input-style="outline" data-label-style="stacked" value="00:00"/>
                                                        </label>
                                                    </div>
                                                    <div class="mbsc-col-6">
                                                        <label>
                                                            Стоимость доставки
                                                            <input type="number" mbsc-input data-input-style="outline" data-label-style="stacked" oninput="this.value =
                                                            this.value.replace
                                                            (/[^0-9
                                                            .]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" value="0" placeholder="1р."/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Статус*</label>
                                        <select name="status" class="form-control">
                                            <option value="True">Опубликован</option>
                                            <option value="False">Не опубликован</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        {% comment %}Массив из списка недель{% endcomment %}
                                        <input type="hidden" name="days_numb" value="" id="array">
                                        {% comment %}Дополнительный список недель оплаты по времени{% endcomment %}
                                        <input type="hidden" name="days_numb_dop" value="" id="array_dop">
                                        <button class="save-btn hover-btn" type="submit">Добавить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Скрипты для выбора checked-->
    <script src="{% static 'file/panel/js/days/selected.js' %}"></script>
    <script src="{% static 'file/panel/js/days/mobiscroll.js' %}"></script>
    <script src="{% static 'file/panel/js/days/mobiscroll.jquery.min.js' %}"></script>
    <script src="{% static 'file/panel/js/days/mobiscroll.js' %}"></script>
{% endblock content %}