{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    {% block stylesheet %}
        <!--Выбор(сss из панели заказа)-->
        <link rel='stylesheet' href="{% static 'file/panel/css/category/chosen.min.css' %}">
    {% endblock stylesheet %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Категории</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category' %}">Категории</a></li>
                <li class="breadcrumb-item active">Добавить категорию</li>
            </ol>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Добавить категорию</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Номер*</label>
                                        <input id="number" type="number" name="number" class="form-control" pattern="[0-9]{,3}" placeholder="Порядковый номер" required="">
                                        <msg_number></msg_number>
                                    </div>
                                    <table id="count_tab" hidden>
                                        <tbody>
                                        <tr>
                                            {% for count in count %}
                                                <td value="{{ count }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table id="name_tab" hidden>
                                        <tbody>
                                        <tr>
                                            {% for count_name in count_name %}
                                                <td value="{{ count_name }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="lab_name" class="form-group">
                                        <label class="form-label">Имя*</label>
                                        <input id="name" type="text" name="name" class="form-control" placeholder="Имя категории" required="">
                                        <msg_name></msg_name>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Загрузка изображения*</label>
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" value="" name="image" id="file">
                                            <label type="file" for="file"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"><em>Товарная группа*</em></label>
                                    </div>
                                    <div class="form-group">
                                        <select name="subcat" data-placeholder="-- Выберите необходимую товарную группу --" multiple="" class="chosen-select form-control">
                                            {% for subcategory in subcategory %}
                                                <option name="subcat">{{ subcategory.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Статус*</label>
                                        <div></div>
                                        <select id="action" name="status" class="form-control">
                                            <option value="True">Активный</option>
                                            <option name="status" value="False">Не активный</option>
                                        </select>
                                    </div>
                                    <button id="button" class="save-btn hover-btn" type="submit">Добавить категорию</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'file/panel/js/category/category.js' %}"></script>
{% endblock content %}