{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Магазины</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'shops' %}">Магазины</a></li>
                            <li class="breadcrumb-item active">Добавить магазин</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-12">
								<div class="add-new-shop">
									<div class="card card-static-2 mb-30">
										<div class="row no-gutters">
											<div class="col-lg-6 col-md-6">
												<div class="card-title-2">
													<h4>Добавить магазин</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label">Имя*</label>
															<input type="text" class="form-control" placeholder="Имя категории">
														</div>
														<div class="form-group">
															<label class="form-label">Локации*</label>
															<select id="location" name="location" class="form-control">
																<option selected>--Выбрать локацию--</option>
																<option value="1">Екатеринбург</option>
																<option value="2">Красноуфимск</option>
																<option value="3">Арти</option>
																<option value="4">Ачит</option>
																<option value="5">Первоуральск</option>
																<option value="6">Нижние Серги</option>
																<option value="7">Михайловск</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Зона*</label>
															<select id="location" name="location" class="form-control">
																<option selected>--Выбрать зону--</option>
																<option value="1">Имя зона</option>
																<option value="2">Имя зона</option>
																<option value="3">Имя зона</option>
																<option value="4">Имя зона</option>
																<option value="5">Имя зона</option>
																<option value="6">Имя зона</option>
																<option value="7">Имя зона</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Категория*</label>
															<select id="categtory" name="categtory" class="form-control">
																<option selected>--Выбрать категорию--</option>
																<option value="1">Фрукты и овощи</option>
																<option value="2">Основные продукты</option>
																<option value="3">Молочные продукты и яйца </option>
																<option value="4">Напитки</option>
																<option value="5">Закуски</option>
																<option value="6">Домашний уход</option>
																<option value="7">Лапша и соусы</option>
																<option value="8">Персональный уход</option>
																<option value="9">Уход за животными</option>
																<option value="10">Мясо и морепродукты</option>
																<option value="11">Электроника</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Плата за доставку*</label>
															<input class="form-control" placeholder="0 р.">
														</div>
														<div class="form-group">
															<label class="form-label">Широта*</label>
															<input class="form-control" placeholder="0">
														</div>
														<div class="form-group">
															<label class="form-label">Долгота*</label>
															<input class="form-control" placeholder="0">
														</div>
														<div class="form-group">
															<label class="form-label">Текущее состояние*</label>
															<select id="status" name="status" class="form-control">
																<option selected>Да</option>
																<option value="1">Нет</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Статус*</label>
															<select id="status" name="status" class="form-control">
																<option selected>Активный</option>
																<option value="1">Не активный</option>
															</select>
														</div>
														<div class="form-group">
															<label class="form-label">Адрес*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" placeholder="Введите адрес"></textarea>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="form-label">Описание*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" placeholder="Описание объекта"></textarea>
																</div>
															</div>
														</div>
														<div class="form-group">
															<label class="form-label">Изображение магазина*</label>
															<div class="input-group">
																<div class="custom-file">
																	<input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
																	<label class="custom-file-label" for="inputGroupFile04">Выбрать изображение</label>
																</div>
															</div>
															<div class="add-cate-img-1">
																<img src="{%  static 'file/panel/images/shop.svg' %}" alt="">
															</div>
														</div>
														<button class="save-btn hover-btn" type="submit">Добавить магазин</button>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="card-title-2">
													<h4>Добавить магазин</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label">Время открытия*</label>
															<input type="time" id="default-picker" class="form-control" placeholder="Select time">
														</div>
														<div class="form-group">
															<label class="form-label">Время закрытия*</label>
															<input type="time" id="default-picker" class="form-control" placeholder="Select time">
														</div>
													</div>
												</div>

												<div class="card-title-2">
													<h4>Владелец магазина</h4>
												</div>
												<div class="card-body-table">
													<div class="add-shop-content pd-20">
														<div class="form-group">
															<label class="form-label">Полное Имя*</label>
															<input class="form-control" type="text" placeholder="Введите полное имя">
														</div>
														<div class="form-group">
															<label class="form-label">Имя пользователя*</label>
															<input class="form-control" type="text" placeholder="Введите имя пользователя">
														</div>
														<div class="form-group">
															<label class="form-label">Email адрес*</label>
															<input class="form-control" type="email" placeholder="Введите Email адрес">
														</div>
														<div class="form-group">
															<label class="form-label">Номер телефона*</label>
															<input class="form-control" type="text" placeholder="Введите номер телефона">
														</div>
														<div class="form-group">
															<label class="form-label">Адрес Владельца*</label>
															<div class="card card-editor">
																<div class="content-editor">
																	 <textarea class="text-control" placeholder="Введите адрес"></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}