{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Продукты</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'products' %}">Продукты</a></li>
                            <li class="breadcrumb-item active">Добавить продукт</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить продукт</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Имя*</label>
												<input type="text" name="name" class="form-control" placeholder="Наименование товара" required="">
											</div>
                                            {% if name %}
                                                <div class="alert alert-danger alert-dismissible">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    {{ name }}
                                                </div>
                                            {% endif %}
											<div class="form-group">
												<label class="form-label">Товарная группа</label>
												<select id="categtory" name="subcat" class="form-control">
													<option selected>{{ products.subcat|cut:"["|cut:"]"|cut:"'" }}</option>
                                                    {% for subcategory in subcategory %}
                                                        <option name="subcat" >{{ subcategory.name }}</option>
                                                    {% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label class="form-label">Цена*</label>
                                                <label class="form-label" style="color: red">(формат записи цены 00.00)</label>
												<input type="number" step="any" name="price" class="form-control" placeholder="10 р." required="">
											</div>
											<div class="form-group">
												<label class="form-label">Цена со скидкой</label>
                                                <label class="form-label" style="color: red">(формат записи цены со скидкой 00.00)</label>
												<input type="number" step="any" name="discount" class="form-control" value="0" placeholder="7 р.">
											</div>
                                        <div class="form-group">
                                                <label class="form-label">Загрузка изображения*</label>
                                            </div>
                                            <div class="form-group">
                                                {% if products.image %}
                                                <label class="" ><img src="{{ products.image.url }}"/></label>
                                                {% endif %}
                                            </div>
                                            <div class="input-group">
													<div class="custom-file">
														<input type="file" value="{{ products.image }}" name="image" id="file" required="" >
														<label type="file"  for="file" ></label>
													</div>
                                            </div>
                                            <div class="form-group">
												<label class="form-label">Статус*</label>
												<select id="action" name="status" class="form-control">
                                                    <option value="True">Опубликован</option>
                                                    <option name="status" value="False">Не опубликован</option>
										        </select>
											</div>
											<div class="form-group">
												<label class="form-label">Описание товара</label>
												<input type="text" class="form-control" name="description" placeholder="Описание товара">
											</div>
											<button class="save-btn hover-btn" type="submit">Добавить продукт</button>
                                        </div>
                                    </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}