{% extends 'panel/layouts/base_panel.html' %}
{% load static %}
{% block title %}Восстановить пароль{% endblock %}
{% block content %}
</head>

    <body class="bg-sign">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header card-sign-header">
										<h3 class="text-center font-weight-light my-4">Смена пароля:</br>менеджер
                                        {{ user.get_short_name }}</h3>
									</div>
                                    <div class="card-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
												<label class="form-label">Старый пароль*</label>
												<input class="form-control py-3" id="id_old_password" name="old_password" type="password" placeholder="Введите старый пароль" required="">
											</div>
                                            {% if form.errors %}
                                                <div class="alert alert-danger alert-dismissible">
                                                <a href="{% url 'password_change' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <p>Старый пароль не найден</p>
                                            </div>
                                            {% endif %}
											<div class="form-group">
												<label class="form-label">Новый пароль*</label>
												<input class="form-control py-3" id="id_new_password1" name="new_password1" type="password" placeholder="Введите новый пароль" minlength="6"
       maxlength="8" size="8" required="">
											</div>
											<div class="form-group">
												<label class="form-label">Подтверждение пароля*</label>
												<input class="form-control py-3" id="id_new_password2" name="new_password2" type="password" placeholder="Повторите ввод нового пароля" minlength="6"
       maxlength="8" size="8" required="">
											</div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-sign hover-btn" type="submit" value="Change">Сменить пароль</button>
											</div>
                                        </form>
                                        <div class="signup-link">
								<p>Панель управления - <a href="{% url 'panel' %}">Вернуться?</a></p>
							            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    {% block javascripts %}
        <script src="{% static 'file/panel/js/password.js' %}"></script>
    {% endblock javascripts %}
    </body>
{% endblock content %}
</html>
