{% extends 'panel/layouts/base_panel.html' %}
{% load static %}
{% block title %}Восстановить пароль{% endblock %}
{% block content %}
</head>

    <body class="bg-sign">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header card-sign-header">
										<h3 class="text-center font-weight-light my-4">Смена пароля</h3>
									</div>
                                    <div class="card-body">
                                        <form method="post" action="{% url 'change_password_done' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
												<label class="form-label" for="id_old_password">Старый пароль*</label>
												<input class="form-control py-3" id="id_old_password" name="old_password" type="password" placeholder="Введите старый пароль" required="">
											</div>
											<div class="form-group">
												<label class="form-label" for="id_new_password1">Новый пароль*</label>
												<input class="form-control py-3" id="id_new_password1" name="new_password1" type="password" placeholder="Введите новый пароль" required="">
											</div>
											<div class="form-group">
												<label class="form-label" for="id_new_password2">Подтверждение пароля*</label>
												<input class="form-control py-3" id="id_new_password2" name="new_password2" type="password" placeholder="Повторите ввод нового пароля" required="">
											</div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-sign hover-btn" type="submit" value="Change">Сменить пароль</button>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock content %}
</html>
