{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Клиенты</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'customers' %}">Клиенты</a></li>
                            <li class="breadcrumb-item active">Просмотр клиента</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
											<div class="customer_img">
												<img src="{% static 'file/panel/images/avatar/img-1.jpg' %}" alt="">
											</div>
											<div class="shopowner-dt-left mt-4">
												<h4>Joginder Singh</h4>
												<span>Клиент</span>
											</div>
											<ul class="product-dt-purchases">
												<li>
													<div class="product-status">
														Куплено <span class="badge-item-2 badge-status">15</span>
													</div>
												</li>
												<li>
													<div class="product-status">
														Награды <span class="badge-item-2 badge-status">5</span>
													</div>
												</li>
											</ul>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя</span>
													<span class="right-dt">Joginder Singh</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя пользователя</span>
													<span class="right-dt">joginder</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Email</span>
													<span class="right-dt">sjas1202@gmail.com</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Телефон</span>
													<span class="right-dt">+918437176189</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Адрес</span>
													<span class="right-dt">Свердловская область, г. Красноуфимск, ул. Свободы 1</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
{% endblock content %}