{% extends 'panel/layouts/base.html' %}
{% load static %}
{% block stylesheet %}
    <!--Панель заказа-->
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'file/panel/css/day/days.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block title %}panel{% endblock %}
{% block content %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Локации</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'locations' %}">Населенные пункты</a></li>
                <li class="breadcrumb-item active">Редактировать населенный пункт</li>
            </ol>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Добавить населенный пункт</h4>
                            <h4 style="color: red; margin-left: 5px">(<strong>Внимание! </strong>Раздел редактируется)</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="post">
                                {% csrf_token %}
                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Название населенного пункта*</label>
                                        <input type="text" name="name" class="form-control" value="{{ local.name }}" placeholder="Название населенного пункта">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Магазин доставки*</label>
                                        <select name="slug" value="{{ local.slug }}" class="form-control">
                                            {% for name,slug in shops %}
                                                {% if slug == local.slug %}
                                                    <option value="{{ slug }}" selected>{{ name }}</option>
                                                {% endif %}
                                                {% if slug != local.slug %}
                                                    <option value="{{ slug }}">{{ name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Плата за доставку*</label>
                                        <input type="text" name="delivery_price" class="form-control" value="{{ local.delivery_price }}" placeholder="0 р.">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Минимальная сумма заказа для бесплатной доставки*</label>
                                        <input type="text" name="delivery_price_min" class="form-control" value="{{ local.delivery_price_min }}" placeholder="0 р.">
                                    </div>
                                    <div class="form-group" id="days">
                                        <label class="form-label">Дни недели поставки*</label><br>
                                        {% for day in days %}
                                            <label class="control control--checkbox">{{ day.name }}
                                                <input name="day" value="{{ day.name }}" number="{{ day.daysdict }}" type="checkbox"/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Статус*</label>
                                        <select id="action" name="status" class="form-control">
                                            {% if local.status %}
                                                <option value="True">Активный</option>
                                                <option name="status" value="False">Не активный</option>
                                            {% else %}
                                                <option name="status" value="False">Не активный</option>
                                                <option value="True">Активный</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <input id="array" type="hidden" value="" name="days_numb">
                                    <button class="save-btn hover-btn" type="submit">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% block js %}
        <!-- Скрипты для выбора из разных окон -->
        <script src="{% static 'file/panel/js/days/check_days.js' %}"></script>
    {% endblock js %}

{% endblock content %}