{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'file/panel/select/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'file/panel/css/select/bootstrap-select.min.css' %}">
{% endblock stylesheet %}
{% block content %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Территория обслуживания</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'areas' %}">Территории</a></li>
                            <li class="breadcrumb-item active">Редактировать территорию</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Редактировать территорию</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post">
                                            {% csrf_token %}
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Название территории*</label>
												<input type="text"  name="name" class="form-control" value="{{ areas.name }}" placeholder="Имя территории">
											</div>
											<div class="form-group">
                                                <label class="form-label">Населенный пункт*</label>
                                                         <select class="form-control selectpicker" name="local_city" multiple data-live-search="true">
                                                        {% for local in local %}
                                                            <option name="local_city">{{ local.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                        <div class="form-group">
                                                <label class="form-label">Категории товара</label>
                                                    <select class="form-control selectpicker" name="category_city" value="{{ categories.name }}" multiple data-live-search="true">
                                                        {% for categories in categories %}
                                                            <option name="category_city">{{ categories.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                        </div>
											<div class="form-group">
												<label class="form-label">Статус*</label>
                                                {% if areas.status %}
												<select name="status" class="form-control">
                                                    <option value="True">Активный</option>
                                                    <option value="False">Не активный</option>
												</select>
                                                {% else %}
                                                <select name="status" class="form-control">
                                                    <option value="False">Не активный</option>
                                                    <option value="True">Активный</option>
												</select>
                                                {% endif %}
											</div>
											<button class="save-btn hover-btn" type="submit">Сохранить</button>
										</div>

                                        </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
    <script>
$(function () {
    $('select').selectpick1er();
});
</script>
{% endblock content %}