{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Территория обслуживания</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'areas' %}">Территории</a></li>
                            <li class="breadcrumb-item active">Редактировать территорию</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Редактировать территорию</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post">
                                            {% csrf_token %}
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Название территории*</label>
												<input type="text"  name="name" class="form-control" value="{{ areas.name }}" placeholder="Имя территории">
											</div>
											<div class="form-group">
                                                <label class="form-label">Населенный пункт</label>
                                                    <select  name="localname"  class="selectpicker form-control" multiple data-live-search="true" value="{{ local.name }}">
                                                        {% for local in local %}
                                                            {% if local.name %}<!--если существует, то вывести с галочкой-->
                                                                <option value="{{ local.name }}">{{ local.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
											<div class="form-group">
												<label class="form-label">Статус*</label>
                                                {% if areas.status %}
												<select name="status" class="form-control">
                                                    <option value="True">Активный</option>
                                                    <option value="False">Не активный</option>
												</select>
                                                {% else %}
                                                <select name="status" class="form-control">
                                                    <option value="False">Не активный</option>
                                                    <option value="True">Активный</option>
												</select>
                                                {% endif %}
											</div>
											<button class="save-btn hover-btn" type="submit">Сохранить</button>
										</div>
                                        </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}