{% extends 'panel/layouts/base.html' %}
{% load static %}
    {% block stylesheet %}
        <link rel='stylesheet' href="{% static 'file/panel/css/semantic_select.css' %}">
    {% endblock stylesheet %}
{% block title %}panel{% endblock %}
{% block content %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Локации</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'locations'%}">Локации</a></li>
                            <li class="breadcrumb-item active">Редактировать локацию</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Добавить населенный пункт</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post">
                                            {% csrf_token %}
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Название населенного пункта*</label>
												<input type="text" name="name" class="form-control" value="{{ local.name }}" placeholder="Название населенного пункта">
											</div>
                                            <div class="form-group">
                                                <label class="form-label">Плата за доставку*</label>
                                                <input type="text" name="delivery_price" class="form-control" value="{{ local.delivery_price }}" placeholder="0 р.">
											</div>
                                            <div class="form-group">
                                                <label class="form-label">Минимальная сумма заказа для бесплатной доставки*</label>
                                                <input type="text" name="delivery_price_min" class="form-control" value="{{ local.delivery_price_min }}" placeholder="0 р.">
											</div>
                                            <div class="form-group">
                                                <label class="form-label">Минимальная сумма заказа для бесплатной доставки*</label>
                                                <input type="text" name="delivery_price_min" class="form-control" value="{{ local.delivery_price_min }}" placeholder="0 р.">
											</div>
                                            <div class="form-group">
                                            <label class="form-label">Дни недели поставки</label>
                                        </div>
                                            <div class="ui">
                                                <select name="day"  class="multiple selection dropdown" multiple>
                                                    {% if local.days %}
                                                        <option value="{{ days.name }}">
                                                            {{ local.days|cut:"["|cut:"]" }}</option>
                                                    {% endif %}
                                                    {% for days in days %}
                                                        <option value="{{ days.name }}">{{ days.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
											<button class="save-btn hover-btn" type="submit">Сохранить</button>
										</div>
                                        </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
{% block js %}
        <script src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js'></script>
        <script src='https://fomantic-ui.com/dist/semantic.min.js'></script>
        <script  src="{% static 'file/panel/js/script_selectcalendar.js' %}"></script>
    {% endblock js %}
{% endblock content %}