{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Клиенты</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'subcategory' %}">Подкатегории</a></li>
                            <li class="breadcrumb-item active">Редактировать</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
                                        <h4>Редактировать подкатегорию товара</h4>
                                        <div class="card-title-2"></div>
                                        <h4 style="color: orangered">"{{ subcategory.name }}"</h4>
									</div>
									<div class="card-body-table">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
										<div class="news-content-right pd-20">
                                            <div class="form-group">
												<label class="form-label">Номер категории*</label>
                                                {% if subcategory.number == null %}
												<input type="text" class="form-control" name="number" placeholder="Номер не присвоен" pattern="^[0-9]*[.]?[0-9]+$">
                                                {% else %}
                                                <input type="text" class="form-control" name="number" value="{{ subcategory.number }}" pattern="^[0-9]*[.]?[0-9]+$">
                                                {% endif %}
											</div>
											<div class="form-group">
												<label class="form-label">Название категории*</label>
												<input type="text" class="form-control" name="name" value="{{ subcategory.name }}" placeholder="Введите название подкатегории">
											</div>
                                            <div class="form-group">
                                                <label class="form-label">Загрузка изображения*</label>
                                            </div>
                                            <div class="form-group">
                                                {% if subcategory.image %}
                                                <label class="" ><img src="{{ subcategory.image.url }}"width="80" height="80"/></label>
                                                {% endif %}
                                            </div>
                                            <div class="input-group">
													<div class="custom-file">
														<input type="file" value="{{ subcategory.image }}"width="80" height="80" name="image" id="file" >
														<label type="file"  for="file" ></label>
													</div>
                                            </div>
                                            <div class="form-group"></div>
											<button class="save-btn hover-btn" type="submit">Сохранить</button>
										</div>
                                    </form>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}