{% extends 'panel/layouts/base.html' %}
{% load static %}
{% block stylesheet %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'file/panel/css/helpdesk/edit_helpdesk.css' %}" rel="stylesheet">
{% endblock stylesheet %}
{% block title %}panel{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2 class="mt-30 page-title">Служба поддержки</h2>
        <ol class="breadcrumb mb-30">
            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
            <li class="breadcrumb-item"><a href="{% url 'helpdesk' %}">Служба поддержки</a></li>
            <li class="breadcrumb-item active">Просмотр заявки</li>
        </ol>
        <div class="body-wrapper">
            <section>
                <article class="wrapper">

                    <!-- Список заявок -->
                    <div class="header">
                        <div class="time">Заявка : #{{ helpdesk.id }}</div>
                    </div>
                    <div class="content-wrapper1">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="news-content-right pd-20">
                                <div class="form-group">
                                    <label class="form-label">Текст: </label>
                                    <textarea name="descriptions" class="form-control" placeholder="Добавить комментарий" maxlength="10000"
                                              required=""></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Прикрепить файл: </label>
                                    <input type="file" name="file" class="form-control" accept=".docx, .doc, .jpg, .jpeg">
                                </div>
                                <div class="form-group">
                                    <button class="edit-btn-helpdesk hover-btn" type="submit">Отправить сообщение</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <!-- Оглавление -->
                    <div class="mail-wrapper" style="display:none">
                        <div class="mail-top shadow">
                            <div class="mail-subject"> {{ helpdesk.descriptions.0 }}</div>
                            <div class="mail-action"></div>
                        </div>

                        <!-- Тело -->
                        <div class="mail-content">
                            <div class="mail-body ">
                                <div class="image">
                                    <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_s_56.png"/>
                                </div>
                                <div class="someClass">
                                    <div class="sender">
                                        <sapn>{{ helpdesk.name_user.0 }}</sapn>
                                        <span>  для {{ helpdesk.name_user_help.0 }} </span>
                                    </div>
                                    <message class="message">
                                        </br>
                                        {{ helpdesk.descriptions.0 }}
                                        </br>
                                        {% if helpdesk.file %}
                                            <a id="download" style="display: block;margin-top: 20px" href="{{ helpdesk.file.url }}" value="{{ helpdesk.file }}" download></a>
                                        {% else %}
                                            <a style="display: block;margin-top: 20px" href="/" value="/" download></a>
                                        {% endif %}
                                    </message>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Шапка -->
                    <div class="content-wrapper">
                        <div class="image">
                            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_s_56.png"/>
                        </div>
                        <div class="name"><span>{{ helpdesk.name_user.0 }}</span></div>
                        <div class="subject">
                            <div class="actions">
                                <a href="#" class="pinned-msg"><i class="fa fa-thumb-tack"></i></a>
                                <ul>
                                    {% comment %}<li><a href="#"><i class="fa fa-thumb-tack"></i></a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-check"></i></a></li>
                                        <li><a href="#"><i class="fa fa-ellipsis-v"></i></a></li>{% endcomment %}
                                </ul>
                            </div>
                            <div class="content">
                                <span class="fs"></span><span class="sn"> {{ helpdesk.descriptions.0 }}</span>
                                <input id="descriptions" type="hidden" value="{{ helpdesk.descriptions }}">
                            </div>
                        </div>
                    </div>

                </article>
            </section>
        </div>
    </div>
    <script src="{% static 'file/panel/js/helpdesk/edit_helpdesk.js' %}"></script>
{% endblock content %}