{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Менеджеры</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'add_manager' %}">Менеджер</a></li>
                <li class="breadcrumb-item"><a href="{% url 'edit_manager' %}">Список менеджеров</a></li>
                <li class="breadcrumb-item active">Редактировать профиль менеджера</li>
            </ol>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4>Редактировать профиль менеджера :</h4>
                        </div>
                        <div class="card-body-table">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="news-content-right pd-20">
                                    <p><span style="color: green; font-size: 1.2em"> {{ users.get_full_name }}</span></p>
                                    <div class="form-group">
                                        <label class="form-label">Имя*</label>
                                        <input type="text" class="form-control" name="first_name" value="{{ users.first_name }}" placeholder="Изменить имя" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Фамилия*</label>
                                        <input type="text" class="form-control" name="last_name" value="{{ users.last_name }}" placeholder="Изменить Фамилию" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail*</label>
                                        <input type="email" class="form-control" name="email" value="{{ users.email }}" placeholder="Изменить E-mail" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Резервный E-mail</label>
                                        {% if users.email2 %}
                                            <input type="email" class="form-control" name="email2" value="{{ users.email2 }}" placeholder="Изменить E-mail">
                                        {% else %}
                                            <input type="email" class="form-control" name="email2" value="" placeholder="Не задан">
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Номер телефона*</label>
                                        <input id="phone"
                                               type="tel" class="form-control" name="phone" value="{{ users.phone }}" pattern="+7\([0-9]{3}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Сменить пароль</label>
                                        <p><span style="color: red; font-size: 0.8em"></span></p>
                                        <input type="password" size=25 class="form-control" name="password" id="password1" placeholder="Введите новый пароль">
                                        <p><span style="color: red; font-size: 0.8em"></span></p>
                                        <input type="password" size=25 class="form-control" name="password2" id="password2" placeholder="Повторите новый пароль">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Наименование организации*</label>
                                        <input type="text" class="form-control" name="org" value="{{ users.org }}" placeholder="Изменить наимнование организации" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Адрес отгрузки</label>
                                        <input type="text" class="form-control" name="address" value="{{ users.address }}" placeholder="Изменить адрес отгрузки">
                                    </div>
                                    <button class="save-btn hover-btn" type="submit">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}