{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    {% block stylesheet %}
        <!--Панель заказа-->
        <link href="{% static 'file/panel/css/chosen.min.css' %}" rel="stylesheet">
    {% endblock stylesheet %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Служба поддержки</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'helpdesk' %}">Служба поддержки</a></li>
                <li class="breadcrumb-item active">Просмотр заявки</li>
            </ol>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-title-2">
                                <h2 class="title1458">Заявка</h2>
                                <span>#{{ helpdesk.id }}</span>
                            </div>
                            <div class="invoice-content">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="ordr-date">
                                            <b>Дата заявки :</b> {{ helpdesk.date }}
                                            </br>
                                            <b>Время заявки :</b> {{ helpdesk.time }}
                                            </br>
                                            <b>Отправитель :</b> {{ helpdesk.name_user }}
                                            </br>
                                            <b>E-mail:</b> {{ helpdesk.email_user }}
                                            </br>
                                            <b>Организация:</b> {{ helpdesk.org }}
                                            </br>
                                            <b>Получатель : </b>{{ helpdesk.name_user_help }}<br>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="card card-static-2 mb-30 mt-30">
                                            <div class="card-body-table">
                                                <div class="table-responsive">
                                                    <table id="mytable" class="table ucp-table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 50px">Тема</th>
                                                            <th style="width:200px">Текст заявки</th>
                                                            <th style="width:50px">Файл</th>
                                                        </tr>

                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>{{ helpdesk.name }}</td>
                                                            <td>{{ helpdesk.descriptions }}</td>
                                                            {% if helpdesk.file %}
                                                                <td><a href="{{ helpdesk.file.url }}" download>Файл скриншот</a></td>
                                                            {% else %}
                                                                <td>Пользователь не прикреплял файл</td>
                                                            {% endif %}
                                                        </tr>
                                                        {#                                                        <tr class="add-row">#}
                                                        {#                                                            <td colspan="7" class="new-row">#}
                                                        {#                                                                <i class="fa fa-plus btn btn-info" aria-hidden="false"></i>#}
                                                        {#                                                                <span>Оставить комментарий</span>#}
                                                        {#                                                            </td>#}
                                                        {#                                                        </tr>#}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}