{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    {% block stylesheet %}
        <link href="{% static 'file/panel/css/modal_update.css' %}" rel="stylesheet">
        <link href="{% static 'file/panel/css/flash_progress.css' %}" rel="stylesheet">
        <link href="{% static 'file/panel/vendor/semantic/semantic.min.css' %}" rel="stylesheet">
    {% endblock stylesheet %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Файлы выгрузки</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'file' %}">Файлы выгрузки</a></li>
            </ol>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-body-table">
                            <div class="shopowner-content-left text-center pd-20">
                                <div class="shopowner-dt-left">
                                    <span>
                                        <ul>
                                            <p style="font-size: 1.2em">Добавить файл обновления номенклатуры</p>
                                        </ul>
                                    </span>
                                </div>
                                <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if not user.is_superuser %}
                                        <div class="paginator">
                                            <section>
                                                <input type="file" accept=".xls,.xlsx,.txt" name="fileart" id="upload"/>
                                                <input type="hidden" value="{{ slug }}" name="slug"/>
                                                <input type="hidden" name="filename" id="filename"/>
                                                <input type="hidden" name="date" id="date"/>
                                                <input type="hidden" name="org" value="{{ n }}"/>
                                                <button class="upload" type="submit">Загрузить</button>
                                            </section>
                                        </div>
                                    {% else %}
                                        <div class="paginator">
                                            <div class="form-group">
                                                <select name="slug" id="selorg" class="form-control">
                                                    <option value="0">--Выберите организацию из списка--</option>
                                                    {% for c,slug,name in shops %}
                                                        <option value="{{ slug }}">{{ name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <section style="margin-left: 30px">
                                                <input type="file" accept=".xls,.xlsx,.txt" name="fileart" id="upload"/>
                                                <input type="hidden" name="slug" id="slug"/>
                                                <input type="hidden" name="filename" id="filename"/>
                                                <input type="hidden" name="date" id="date"/>
                                                <input type="hidden" name="org" id="organiz"/>
                                                <button class="upload" type="submit">Загрузить</button>
                                            </section>
                                        </div>
                                    {% endif %}
                                </form>
                                <br>
                                <div class="shopowner-dt-left">
                                    <span>
                                        <ul>
                                            <p style="font-size: 1.2em"> Список загруженных файлов</p>
                                        </ul>
                                    </span>
                                </div>
                                <div class="card-body-table">
                                    <div class="table-responsive">
                                        <table id="info-table" class="table ucp-table table-hover table_sort">
                                            <thead>
                                            <tr>
                                                <th style="width: 20%">ID</th>
                                                <th style="width: 20%">Имя файла</th>
                                                <th>
                                                    {% if user.is_superuser %}
                                                        Организация
                                                    {% endif %}
                                                </th>
                                                <th>Дата</th>
                                                <th>Время</th>
                                                <th style="width: 20%" class="order-title">Действия
                                                    <span data-inverted="" data-tooltip="При нажатии на кнопку Обновить  база обновится.  Загруженный файл будет удален." data-position="top center">?</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for files in file %}
                                                <tr>
                                                    <td>{{files.id}}</td>
                                                    <td>
                                                        <a href="{{ files.fileart.url }}" download>{{ files.name }}</a>
                                                    </td>
                                                    <td>
                                                        {% if user.is_superuser %}
                                                            {{ files.org }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ files.date }}</td>
                                                    <td>{{ files.time }}</td>
                                                    <td class="display">
                                                        <div data-toggle="modal" data-target="#exampleModalCenter2" class="ost">
                                                            <a id="ost" type="hidden" value="/update_file/{{ files.id }}/" class="link"></a>
                                                        </div>
                                                        <a href="/delete_file/{{ files.id }}" class="delete" onclick="return confirm('Удалить файл???' +
                                                 ' (ДЕЙСТВИЕ НЕ' +
                                                             ' ' +
															 'ОБРАТИМО)')">Удалить</a>
                                                        {% include 'panel/include/modal_progress.html' %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not user.is_superuser %}
                    <div class="col-lg-12">
                        <a href="{% url 'products' %}" class="add-btn hover-btn">К списку продуктов</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'file/panel/js/UploadFile.js' %}"></script>
    <script type="text/javascript" src="{% static 'file/panel/js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'file/panel/js/flash_progress.js' %}"></script>
    <script type="text/javascript" src="{% static 'file/panel/js/select/select_file.js' %}"></script>
{% endblock content %}