{% extends 'panel/layouts/base.html' %}
{% block title %}Менеджер{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'file/panel/calendar/css/daterangepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'file/panel/calendar/css/button.css' %}"/>

    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Панель управления</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item active">Панель управления</li>
            </ol>
            <div class="row">
                {% include 'panel/include/blocks.html' %}
                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4 style="margin-top: 8px">Статистика по организациям</h4>{{ shops }}
                            <button id="printTable" class="view-btn_print hover-btn">Напечатать таблицу</button>
                            <div id="reportrange" class="pull-left"
                                 style=" margin-left: 2%; cursor: pointer; padding: 1px 10px 0 0;background-color: #fff;border: 1px solid #dbdbdb;box-shadow:0 4px 8px 0 rgba(0,0,0,0.03);
                                 font-weight: 400;opacity: 1;border-radius: 4px; margin-bottom: 11px">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span class="main_input_search_part input"></span> <b class="caret"></b>
                            </div>
                            <form method="get" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button type="submit" class="save-btn-filter hover-btn-filter">Сортировать</button>
                                <input type="hidden" id="date_start" name="date_start">
                                <input type="hidden" id="date_end" name="date_end">
                            </form>
                        </div>
                        <div class="card-body-table">
                            <div class="table-responsive">
                                <table class="table ucp-table table-hover" id="superuser">
                                    <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Товары</th>
                                        <th>Опублик.товары</th>
                                        <th>Заказы</th>
                                        <th>Выполнено</th>
                                        <th>Выручка</th>
                                        <th>Отказ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in products_count.items %}
                                        <tr>
                                            <td>
                                                {{ key }}
                                            </td>
                                            <td data-total="{{ value.0 }}">
                                                {{ value.0 }} шт.
                                            </td>
                                            <td data-active="{{ value.1 }}">
                                                {{ value.1 }} шт.
                                            </td>
                                            <td data-order="{{ value.2 }}">
                                                {{ value.2 }}
                                            </td>
                                            <td data-done="{{ value.3 }}">
                                                {{ value.3 }}
                                            </td>
                                            <td data-total_="{{ value.4 }}">
                                                {{ value.4 }} р.
                                            </td>
                                            <td data-refusal="{{ value.5 }}">
                                                {{ value.5 }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="total_table_panel">
                                        <td>
                                            Итого:
                                        </td>
                                        <td class="total_price"></td>
                                        <td class="active_price"></td>
                                        <td class="order_price"></td>
                                        <td class="done"></td>
                                        <td class="total_"></td>
                                        <td class="refusal_price"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'file/panel/js/total_table.js' %}"></script>

    <script>
        jQuery(function ($) {
            const tableToPrint = document.getElementById("superuser");

            function printData(tableToPrint) {
                Popup($(tableToPrint).html());
            }

            function Popup(data) {
                const mywindow = window.open("", "printMe", "height=600, width=1000");
                // стили таблицы
                mywindow.document.write("<link rel=\"stylesheet\" href=\"styles.css\" type=\"text/css\" />");
                mywindow.document.write(tableToPrint.outerHTML);
                mywindow.document.close(); // для IE >= 10
                mywindow.focus(); // для IE >= 10
                mywindow.print();
                mywindow.close();
                return true;
            }

            $(document).on("click", "#printTable", function () {
                printData();
                return false;
            });
        });
    </script>

    {% block js %}
        <script type="text/javascript" src="{% static 'file/panel/calendar/js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'file/panel/calendar/js/daterangepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'file/panel/calendar/js/days_range.js' %}"></script>
    {% endblock js %}
{% endblock content %}