{% extends 'panel/layouts/base.html' %}
{% block title %}Менеджер{% endblock %}
{% block content %}
    {% load static %}
    {% comment %}<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>{% endcomment %}
    {% comment %}<link href="{% static 'file/panel/calendar/css/daterangepicker.css' %}" rel="stylesheet">{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'file/panel/calendar/css/daterangepicker.css' %}"/>

    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Панель управления</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item active">Панель управления</li>
            </ol>
            <div class="row">
                {% include 'panel/include/blocks.html' %}
                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <div class="card-title-2">
                            <h4 style="margin-top: 8px">Статистика по организациям</h4>{{ shops }}
                            <button id="printTable" class="view-btn_print hover-btn">Напечатать таблицу</button>
                            {% comment %}<div class="main_input_search_part_item main-search-input-item search-input-icon">
                                <input type="text1" placeholder="Сортировать по дате" id="booking-date-search">
                                <i class="fa fa-calendar"></i>
                            </div>{% endcomment %}
                            <div id="reportrange" class="pull-left" style=" margin-left: 2%; cursor: pointer; padding: 1px 10px 0 0;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span></span> <b class="caret"></b>
                            </div>
                            <a style="margin-bottom: 10px" href="{% url 'shops' %}" class="view-btn hover-btn">Организации</a>
                        </div>
                        <div class="card-body-table">
                            <div class="table-responsive">
                                <table class="table ucp-table table-hover" id="superuser">
                                    <thead>
                                    <tr>
                                        <th style="width:7em">Название</th>
                                        <th style="width:7em">Товары</th>
                                        <th style="width:7em">Опублик.товары</th>
                                        <th style="width:5em">Заказы</th>
                                        <th style="width:5em">В ожидании</th>
                                        <th style="width:5em">Формируются</th>
                                        <th style="width:5em">Доставка</th>
                                        <th style="width:5em">Выполнено</th>
                                        <th style="width:5em">Отказ</th>
                                        {% comment %}<th style="width:5em">Выручка</th>{% endcomment %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in products_count.items %}
                                        <tr>
                                            <td>
                                                {{ key }}
                                            </td>
                                            <td data-total="{{ value.0 }}">
                                                {{ value.0 }} шт.
                                            </td>
                                            <td data-active="{{ value.1 }}">
                                                {{ value.1 }} шт.
                                            </td>
                                            <td data-order="{{ value.2 }}">
                                                {{ value.2 }}
                                            </td>
                                            <td data-expectation="{{ value.3 }}">
                                                {{ value.3 }}
                                            </td>
                                            <td data-formed="{{ value.4 }}">
                                                {{ value.4 }}
                                            </td>
                                            <td data-delivery="{{ value.5 }}">
                                                {{ value.5 }}
                                            </td>
                                            <td data-perfomed="{{ value.6 }}">
                                                {{ value.6 }}
                                            </td>
                                            <td data-refusal="{{ value.7 }}">
                                                {{ value.7 }}
                                            </td>
                                            {% comment %}<td></td>{% endcomment %}
                                        </tr>
                                    {% endfor %}
                                    <tr class="total_table_panel">
                                        <td>
                                            Итого:
                                        </td>
                                        <td class="total_price"></td>
                                        <td class="active_price"></td>
                                        <td class="order_price"></td>
                                        <td class="expectation_price"></td>
                                        <td class="formed_price"></td>
                                        <td class="delivery_price"></td>
                                        <td class="perfomed_price"></td>
                                        <td class="refusal_price"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'file/panel/js/total_table.js' %}"></script>

    <script>
        jQuery(function ($) {
            const tableToPrint = document.getElementById("superuser");

            function printData(tableToPrint) {
                Popup($(tableToPrint).html());
            }

            function Popup(data) {
                const mywindow = window.open("", "printMe", "height=600, width=1000");
                // стили таблицы
                mywindow.document.write("<link rel=\"stylesheet\" href=\"styles.css\" type=\"text/css\" />");
                mywindow.document.write(tableToPrint.outerHTML);
                mywindow.document.close(); // для IE >= 10
                mywindow.focus(); // для IE >= 10
                mywindow.print();
                mywindow.close();
                return true;
            }

            $(document).on("click", "#printTable", function () {
                printData();
                return false;
            });
        });
    </script>

    {% block js %}
        <script type="text/javascript" src="{% static 'file/panel/calendar/js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'file/panel/calendar/js/daterangepicker.js' %}"></script>
        <script>
            $(function () {

                var start = moment().subtract(29, 'days');
                var end = moment();

                function cb(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                $('#reportrange').daterangepicker({
                    "locale": {
                        "format": "MM/DD/YYYY",
                        "separator": " - ",
                        "applyLabel": "Сохранить",
                        "cancelLabel": "Назад",
                        "daysOfWeek": [
                            "Вс",
                            "Пн",
                            "Вт",
                            "Ср",
                            "Чт",
                            "Пт",
                            "Сб"
                        ],
                        "monthNames": [
                            "Январь",
                            "Февраль",
                            "Март",
                            "Апрель",
                            "Май",
                            "Июнь",
                            "Июль",
                            "Август",
                            "Сентябрь",
                            "Октябрь",
                            "Ноябрь",
                            "Декабрь"
                        ],
                        "firstDay": 1
                    },
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Сегодня': [moment(), moment()],
                        'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
                        'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
                        'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                        'Прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                cb(start, end);

            });
        </script>
    {% endblock js %}
{% endblock content %}