{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <h2 class="mt-30 page-title">Файлы обновления</h2>
        <ol class="breadcrumb mb-30">
            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
            <li class="breadcrumb-item"><a href="{% url 'file' %}">Файлы выгрузки</a></li>
            <li class="breadcrumb-item active">Журнал обновлений</li>
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-static-2 mt-30 mb-30">
                    <div class="card-title-2">
                        <h4 style="padding-bottom: 10px">Журнал обновлений</h4>
                    </div>
                    <div class="card-body-table">
                        <div class="table-responsive">
                            <table id="info-table" class="table ucp-table table-hover table_sort">
                                <thead>
                                <tr>
                                    {% if request.user.is_superuser %}
                                        <th>Магазин</th>
                                    {% endif %}
                                    <th>Номер</th>
                                    <th>Дата загрузки обновления</th>
                                    <th>Время загрузки обновления</th>
                                    <th>Опубликованные позиции</th>
                                    <th>Неопубликованные позиции</th>
                                    <th>Несуществующие позиции</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in obj %}
                                    <tr>
                                        {% if  request.user.is_superuser %}
                                            <td>
                                                {% for name in shops %}
                                                    {% if i.slug == name.1 %}
                                                        {{ name.0 }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                        <td>
                                            <p>{{ i.id }}</p>
                                        </td>
                                        <td>
                                            <p>{{ i.date }}</p>
                                        </td>
                                        <td>
                                            <p>{{ i.time }}</p>
                                        </td>
                                        <td>
                                            <a href="/export_0/{{ i.file_id }}">Скачать</a>
                                        </td>
                                        <td>
                                            <a href="/export_1/{{ i.file_id }}">Скачать</a>
                                        </td>
                                        <td>
                                            <a href="/no_product_/{{ i.file_id }}">Скачать</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <a href="{% url 'file' %}" class="add-btn hover-btn">Файлы выгрузки</a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'file/panel/js/UploadFile.js' %}"></script>
{% endblock content %}