{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Акции</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item active">Акции</li>
                        </ol>
                        <div class="row justify-content-between">
							<div class="col-lg-12">
								<a href="add_offer.html" class="add-btn hover-btn">Добавить</a>
							</div>
							<div class="col-lg-5 col-md-6">
								<div class="bulk-section mt-30">
									<div class="search-by-name-input">
										<input type="text" class="form-control" placeholder="Поиск">
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mt-30 mb-30">
									<div class="card-title-2">
										<h4>Все акции</h4>
									</div>
									<div class="card-body-table">
										<div class="table-responsive">
											<table class="table ucp-table table-hover">
												<thead>
													<tr>
														<th>Название</th>
                                                        <th style="width:130px">Изображение</th>
														<th>Описание</th>
                                                        <th>Территория</th>
														<th>Статус</th>
														<th>Действия</th>
													</tr>
												</thead>
												<tbody>
                                                {% for offer in offer %}
													<tr>
														<td>📢 {{ offer.name}}</td>
                                                        <td>
															<div class="offer-img">
                                                                {% if offer.image %}
																    <img src="{{ offer.image.url }}" alt="">
                                                                {% else %}
                                                                Нет изображения
                                                                {% endif %}
															</div>
														</td>
														<td>
                                                            {% if offer.description %}
                                                                {{ offer.description }}
                                                            {% else %}
                                                            Нет описания
                                                            {% endif %}
                                                        </td>
                                                        <td></td>
														<td><span class="badge-item badge-status">Активный</span></td>
														<td class="action-btns">
															<a href="#" class="edit-btn"><i class="fas fa-edit"></i>Редактировать</a>
														</td>
													</tr>
                                                {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}