{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Заказы</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item active">Заказы</li>
            </ol>
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <a href="{% url 'add_order' %}" class="add-btn hover-btn">Сформировать заказ</a>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="bulk-section mt-30">
                        <div class="search-by-name-input">
                            <input type="text" class="form-control" placeholder="Поиск в таблице" id="search-text" onkeyup="tableSearch()">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="card card-static-2 mt-30 mb-30">
                        <div class="card-title-2">
                            <h4>Все заказы</h4>
                        </div>
                        <div class="card-body-table">
                            <div class="table-responsive">
                                <table id="info-table" class="table ucp-table table-hover table_sort">
                                    <thead>
                                    <tr>
                                        <th style="width:130px">ID</th>
                                        <th>Покупатель</th>
                                        <th>Телефон</th>
                                        <th style="width:200px">Дата доставки</th>
                                        <th style="width:300px">Адрес доставки</th>
                                        <th style="width:300px">Сумма корзины</th>
                                        <th style="width:300px">Доставка</th>
                                        <th style="width:130px">Общая сумма</th>
                                        <th style="width:130px">Статус</th>
                                        <th style="width: 130px">Комментарий</th>
                                        <th style="width:100px">Действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for zakaz in zakaz %}
                                        <tr>
                                        <td>{{ zakaz.id }}</td>
                                        <td>
                                            {{ zakaz.name }}
                                        </td>
                                        <td>
                                            {{ zakaz.phone }}
                                        </td>
                                        <td>
                                            <span class="delivery-time">{{ zakaz.data }}</span>
                                        </td>
                                        <td>{{ address_str }}
                                            {% for name, slug in areas %}
                                                {% if zakaz.slug == slug %}
                                                    #{{ name }},<br>
                                                {% endif %}
                                            {% endfor %}
                                            {{ zakaz.address_city }},<br> {{ zakaz.address_street }}
                                        </td>
                                        <td>{{ zakaz.cart }} р.</td>
                                        <td>
                                            {% if zakaz.delivery == 0.00 %}
                                                <span class="badge-item badge-status">Бесплатно</span>
                                            {% else %}
                                                {{ zakaz.delivery }} р.
                                            {% endif %}
                                        </td>
                                        <td>{{ zakaz.total_price }} р.</td>
                                        <td>
                                            {% if zakaz.status != None %}
                                                {{ zakaz.status }}
                                            {% else %}
                                                <span class="badge-item badge-status">В ожидании</span>
                                            {% endif %}
                                        </td>
                                        <td style="color: green">{{ zakaz.commit }}</td>
                                        <td class="action-btns">
                                            <a href="/order_view/{{ zakaz.id }}" class="views-btn"><i class="fas fa-eye"></i></a>
                                            {% if 'super_manager' in groups %}
                                                <a href="/delete_order/{{ zakaz.id }}" class="delete-btn" title="Удалить" onclick="return confirm('Удалить категорию??? ' +
                                                             '(ДЕЙСТВИЕ НЕ ' +
															 'ОБРАТИМО)')"><i class="fas
															fa-trash-alt"></i></a>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const getSort = ({target}) => {
                const order = (target.dataset.order = -(target.dataset.order || -1));
                const index = [...target.parentNode.cells].indexOf(target);
                const collator = new Intl.Collator(['en', 'ru'], {numeric: true});
                const comparator = (index, order) => (a, b) => order * collator.compare(
                    a.children[index].innerHTML,
                    b.children[index].innerHTML
                );

                for (const tBody of target.closest('table').tBodies)
                    tBody.append(...[...tBody.rows].sort(comparator(index, order)));

                for (const cell of target.parentNode.cells)
                    cell.classList.toggle('sorted', cell === target);
            };

            document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));

        });
    </script>
    <script>
        function tableSearch() {
            var phrase = document.getElementById('search-text');
            var table = document.getElementById('info-table');
            var regPhrase = new RegExp(phrase.value, 'i');
            var flag = false;
            for (var i = 1; i < table.rows.length; i++) {
                flag = false;
                for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                    flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                    if (flag) break;
                }
                if (flag) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }

            }
        }
    </script>
{% endblock content %}