{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
            <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Заказы</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{%  url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item active">Заказы</li>
                        </ol>
                        <div class="row justify-content-between">
							<div class="col-lg-3 col-md-4">
								<div class="bulk-section mb-30">
									<div class="input-group">
										<select id="action" name="action" class="form-control">
											<option selected>Массовые действия</option>
											<option value="1">В ожидании</option>
											<option value="2">Закрыть</option>
											<option value="3">В процессе</option>
											<option value="4">Укомплектован</option>
											<option value="5">Удалить</option>
										</select>
										<div class="input-group-append">
											<button class="status-btn hover-btn" type="submit">Применить</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-6">
								<div class="bulk-section mb-30">
									<div class="search-by-name-input">
										<input type="text" class="form-control" placeholder="Поиск">
									</div>
									<div class="input-group">
										<select id="categeory" name="categeory" class="form-control">
											<option value="1">В ожидании</option>
											<option value="2">Закрыто</option>
											<option value="3">В процессе</option>
											<option value="4">Укомплектован</option>
										</select>
										<div class="input-group-append">
											<button class="status-btn hover-btn" type="submit">Поиск заказа</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mb-30">
									<div class="card-title-2">
										<h4>Все заказы</h4>
									</div>
									<div class="card-body-table">
										<div class="table-responsive">
											<table class="table ucp-table table-hover">
												<thead>
													<tr>
														<th style="width:60px"><input type="checkbox" class="check-all"></th>
														<th style="width:130px">Заказ ID</th>
														<th>Товар</th>
														<th style="width:200px">Дата</th>
														<th style="width:300px">Адрес</th>
														<th style="width:130px">Статус</th>
														<th style="width:130px">Общие</th>
														<th style="width:100px">Действия</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" class="check-item" name="ids[]" value="4"></td>
														<td>ORDER12345</td>
														<td>
															<a href="#" target="_blank">Название продукта</a>
														</td>
														<td>
															<span class="delivery-time">15/06/2021</span>
															<span class="delivery-time">4:00PM - 6.00PM</span>
														</td>
														<td>#623300, Свердловская область, пгт Арти, ул. Свободы, д.1</td>
														<td>
															<span class="badge-item badge-status">В ожидании</span>
														</td>
														<td>900 р.</td>
														<td class="action-btns">
															<a href="{% url 'order_view' %}" class="views-btn"><i class="fas fa-eye"></i></a>
															<a href="order_edit.html" class="edit-btn"><i class="fas fa-edit"></i></a>
														</td>
													</tr>
													<tr>
														<td><input type="checkbox" class="check-item" name="ids[]" value="3"></td>
														<td>ORDER12346</td>
														<td>
															<a href="#" target="_blank">Название продукта</a>
														</td>
														<td>
															<span class="delivery-time">13/06/2021</span>
															<span class="delivery-time">2:00PM - 4.00PM</span>
														</td>
														<td>#623300, Свердловская область, пгт Арти, ул. Свободы, д.1</td>
														 <td>
															<span class="badge-item badge-status">В ожидании</span>
														</td>
														<td>1050 р.</td>
														<td class="action-btns">
															<a href="{% url 'order_view' %}" class="views-btn"><i class="fas fa-eye"></i></a>
															<a href="order_edit.html" class="edit-btn"><i class="fas fa-edit"></i></a>
														</td>
													</tr>
													<tr>
														<td><input type="checkbox" class="check-item" name="ids[]" value="2"></td>
														<td>ORDER12347</td>
														<td>
															<a href="#" target="_blank">Название продукта</a>
														</td>
														<td>
															<span class="delivery-time">13/6/2021</span>
															<span class="delivery-time">5:00PM - 7.00PM</span>
														</td>
														<td>#623300, Свердловская область, пгт Арти, ул. Свободы, д.1</td>
														<td>
															<span class="badge-item badge-status">В ожидании</span>
														</td>
														<td>600 р.</td>
														<td class="action-btns">
															<a href="{% url 'order_view' %}" class="views-btn"><i class="fas fa-eye"></i></a>
															<a href="order_edit.html" class="edit-btn"><i class="fas fa-edit"></i></a>
														</td>
													</tr>
													<tr>
														<td><input type="checkbox" class="check-item" name="ids[]" value="1"></td>
														<td>ORDER12348</td>
														<td>
															<a href="#" target="_blank">Название продукта</a>
														</td>
														<td>
															<span class="delivery-time">12/06/2021</span>
															<span class="delivery-time">01:00PM - 3.00PM</span>
														</td>
														<td>#623300, Свердловская область, пгт Арти, ул. Свободы, д.1</td>
														<td>
															<span class="badge-item badge-status">В ожидании</span>
														</td>
														<td>1200 р.</td>
														<td class="action-btns">
															<a href="{% url 'order_view' %}" class="views-btn"><i class="fas fa-eye"></i></a>
															<a href="order_edit.html" class="edit-btn"><i class="fas fa-edit"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}