{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    {% block stylesheet %}
        <link href="{% static 'file/panel/css/input-edit.css' %}" rel="stylesheet">
    {% endblock stylesheet %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Заказы</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'order' %}">Заказы</a></li>
                <li class="breadcrumb-item active">Просмотр заказа</li>
            </ol>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card card-static-2 mb-30">
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-title-2">
                                <h2 class="title1458">Детализация заказа</h2>
                                <span class="order-id">Заказ #{{ zakaz.id }}</span>
                            </div>
                            <div class="invoice-content">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="ordr-date">
                                            <b>Дата заказа :</b> {{ zakaz.data }}  </br>Время {{ zakaz.time }}
                                            </br>
                                            <b>Дата доставки :</b> {{ zakaz.data }}
                                            </br>
                                            <b>Покупатель: </b> {{ zakaz.name }}  </br>
                                            <b>Телефон: </b>
                                            <label for="inp" class="inp">
                                                <input name="phone" type="text" id="phone" placeholder="&nbsp;">
                                                <span class="label">{{ zakaz.phone }}</span>
                                                <span class="focus-bg"></span>
                                            </label>
                                            </br>
                                            {% if zakaz.email %}
                                                <b>E-mail:</b> {{ zakaz.email }}
                                            {% else %}
                                                <b>E-mail:</b> не указан
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="ordr-date right-text">
                                            <b>Адрес доставки :</b><br>
                                            #Свердловская область,<br>
                                            {{ zakaz.address_city }},<br>
                                            {% for local in local %}
                                                {% if zakaz.address_city == local.name %}
                                                    <input type="hidden" id="delivery_price" value="{{ local.delivery_price }}">
                                                    <input type="hidden" id="delivery_price_min" value="{{ local.delivery_price_min }}">
                                                {% endif %}
                                            {% endfor %}
                                            Улица: <label for="inp" class="inp">
                                            <input name="street" type="text" id="inp" placeholder="&nbsp;">
                                            <span class="label">{{ zakaz.address_street }}</span>
                                            <span class="focus-bg"></span>
                                        </label>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="card card-static-2 mb-30 mt-30">
                                            <div class="card-title-2">
                                                <h4>Товары в заказе<a style="padding: 20px; color: green" href="javascript:window.print()"><i class="fa fa-print" aria-hidden="true"></i></a></h4>
                                                </br>
                                            </div>
                                            <div class="card-body-table">
                                                <div class="table-responsive">
                                                    <table id="mytable" class="table ucp-table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 10px">Номер</th>
                                                            <th>Название</th>
                                                            <th style="width:150px" class="text-center">Кол-во</th>
                                                            <th style="width:150px" class="text-center">Цена за 1 ед.</th>
                                                            <th style="width:100px" class="text-center">Общая</th>
                                                            <th style="width: 5px" class="text-center">Ред.</th>
                                                            <th style="width: 5px" class="text-center">Удал.</th>
                                                        </tr>

                                                        </thead>
                                                        <tbody>
                                                        {% for key, value in zakaz_dict.items %}
                                                            <tr>
                                                                <td class="c"></td>
                                                                <td>{{ key }}</td>
                                                                <td class="data text-center">{{ value.0 }}</td>
                                                                <td class="text-center">{{ value.1 }} р.</td>
                                                                <td class="text-center"></td>
                                                                <td class="edit text-center"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                                                                <td class="trash text-center"><i class="fa fa-trash" aria-hidden="true"></i></td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr class="add-row">
                                                            <td colspan="7" class="new-row"><i class="fa fa-plus btn btn-info" aria-hidden="false"></i> Добавить позицию</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-5">
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text">
                                                Итого
                                            </div>
                                            <div class="order-total-right-text">
                                                <input id="total_cart" type="hidden" value="{{ zakaz.cart }}">
                                                <cart style="font-size: 18px;font-weight: 700"></cart>
                                                р.
                                            </div>
                                        </div>
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text">
                                                Стоимость доставки
                                            </div>
                                            <div id="delivery"></div>
                                        </div>
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text fsz-18">
                                                Общая сумма
                                            </div>
                                            <div id="total_price" class="order-total-right-text fsz-18"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="order-total-left-text">
                                            Способ замены товара
                                        </div>
                                        {{ zakaz.replace }}
                                        </br></br>
                                        <div class="order-total-left-text">
                                            Комментарий к заказу
                                        </div>
                                        {% if zakaz.commit %}
                                            {{ zakaz.commit }}
                                        {% else %}
                                            Отсутствует
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="select-status">
                                            <label for="status">Оплата покупателем</label>
                                            <div class="status-active">
                                                {{ zakaz.payment }} {% if zakaz.money %}
                                                <input type="hidden" id="nal" value="{{ zakaz.money }}">
                                                <div class="order-total-right-text" value="{{ zakaz.money }}"> Наличными: {{ zakaz.money }} р. Сдача:
                                                    <total_change></total_change>
                                                    р.
                                                </div>{% endif %}
                                            </div>
                                            </br>
                                            <label for="status">Статус*</label>
                                            <div class="input-group">
                                                <select id="status" name="status" class="custom-select">
                                                    <option selected>В ожидании</option>
                                                    <option value="1">В процессе сборки</option>
                                                    <option value="2">Доставка</option>
                                                    <option value="3">Закрыт</option>
                                                    <option value="4">Отменен</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <button class="status-btn hover-btn" type="submit">Применить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% block js %}
        <!--Редактировать поля заказа-->
        <script src="{% static 'file/panel/js/order/editorder.js' %}"></script>
        <script src="{% static 'file/panel/js/order/editorder1.js' %}"></script>
    {% endblock %}
{% endblock content %}