{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Магазины</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="shops.html">Магазины</a></li>
                            <li class="breadcrumb-item active">Просмотр продукта</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
                                            {% if products.image %}
											<div class="shop_img">
												<img src="{{ products.image.url }}" alt="">
											</div>
                                            {% endif %}
											<ul class="product-dt-purchases">
												<li>
													<div class="product-status">
														Заказы <span class="badge-item-2 badge-status">...</span>
													</div>
												</li>
												<li>
													<div class="product-status">
														Магазин <span class="badge-item-2 badge-status">...</span>
													</div>
												</li>
											</ul>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Цена</span>
													<span class="right-dt">{{ products.price }} р.</span>
												</div>
                                                <div class="shopowner-dt-list">
													<span class="left-dt">Цена со скидкой</span>
													<span class="right-dt">{{ products.discount }} р.</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Статус</span>
                                                    {% if products.status %}
													<span class="right-dt">Опубликован</span>
                                                    {% else %}
                                                    <span class="right-dt">Не опубликован</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Товарная группа</span>
													<span class="right-dt">{{ product.subcategory__name }}</span>
												</div>
											</div>
										</div>
									</div>
                                    <div class="col-lg-12">
                                        <a href="{% url 'products' %}" class="add-btn hover-btn">К списку товаров</a>
                                    </div>
                                    <div class="mb-30"></div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}