{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Магазины</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="shops.html">Магазины</a></li>
                            <li class="breadcrumb-item active">Просмотр продукта</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
											<div class="shop_img">
												<img src="{% static 'file/panel/images/product/img-1.jpg' %}" alt="">
											</div>
											<ul class="product-dt-purchases">
												<li>
													<div class="product-status">
														Заказы <span class="badge-item-2 badge-status">20</span>
													</div>
												</li>
												<li>
													<div class="product-status">
														Магазин <span class="badge-item-2 badge-status">13</span>
													</div>
												</li>
											</ul>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Цена</span>
													<span class="right-dt">150 р.</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Статус</span>
													<span class="right-dt">Активный</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Создан</span>
													<span class="right-dt">5 May 2021, 03.45 PM</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}