<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container-fluid">
    {% if proverka != 0 %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-static-2 mt-30 mb-30">
                    <div class="card-title-2">
                        <h4>Обработанные позиции</h4>
                    </div>
                    <br>
                    <div class="card-body-table">
                        <div class="table-responsive">
                            <table id="info-table" class="table ucp-table table-hover table_sort" style="border-collapse: collapse;width: 100%">
                                <thead>
                                <tr>
                                    <th style="border: 1px solid #dee2e6 !important;color: #2b2f4c;font-size: 14px;background-color: #ffecec;font-weight: 500;">Номенклатура</th>
                                    <th style="border: 1px solid #dee2e6 !important;color: #2b2f4c;font-size: 14px;background-color: #ffecec;font-weight: 500;">Название продукта</th>
                                    <th style="border: 1px solid #dee2e6 !important;color: #2b2f4c;font-size: 14px;background-color: #ffecec;font-weight: 500;">Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for l in artikul_list %}
                                    <tr>
                                        <td style="font-size: 14px;font-weight: 400;color: #3e3f5e;line-height: 24px;">
                                            {{ l.0 }}
                                        </td>
                                        <td style="font-size: 14px;font-weight: 400;color: #3e3f5e;line-height: 24px;">
                                            {{ l.1 }}
                                        </td>
                                        <td style="font-size: 14px;font-weight: 400;color: #3e3f5e;line-height: 24px;">
                                            {% if l.4 == 'True' %}
                                                <span class="badge-item badge-panel-status">Опубликован</span>
                                            {% elif l.4 == 'False' %}
                                                <span class="badge-item badge-status">Не опубликован</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
{#    {% elif proverka == 1 %}#}
{#        <div class="row">#}
{#            <div class="col-lg-12 col-md-12">#}
{#                <div class="card card-static-2 mb-30">#}
{#                    <div class="card-body-table">#}
{#                        <div class="shopowner-content-left text-center pd-20">#}
{#                            <br>#}
{#                            <div class="shopowner-dt-left">#}
{#                                    <span>#}
{#                                        <ul>#}
{#                                            <p style="font-size: 1.2em; color: red">Файл был обработан с ошибкой</p>#}
{#                                        </ul>#}
{#                                    </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% else %}#}
{#        <div class="row">#}
{#            <div class="col-lg-12 col-md-12">#}
{#                <div class="card card-static-2 mb-30">#}
{#                    <div class="card-body-table">#}
{#                        <div class="shopowner-content-left text-center pd-20">#}
{#                            <br>#}
{#                            <div class="shopowner-dt-left">#}
{#                                    <span>#}
{#                                        <ul>#}
{#                                            <p style="font-size: 1.2em; color: red">Неверный формат загруженного файла.</p>#}
{#                                        </ul>#}
{#                                    </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% endif %}
</div>
</body>