{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
         <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Магазины</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'shops' %}">Магазины</a></li>
                            <li class="breadcrumb-item active">Просмотр магазина</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shop-content-left pd-20">
											<div class="shop_img">
												<img src="{%  static 'file/panel/images/shop.svg' %}" alt="">
											</div>
											<div class="shop-dt-left">
												<h4>{{ shops.name }}</h4>
												<span>{{ shops.address}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dt-left">
												<h4>
                                                    {{ users.customuser__last_name }} {{ users.customuser__first_name }}
                                                </h4>
												<span>Менеджер магазина</span>
											</div>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Фамилия и Имя</span>
													<span class="right-dt">
                                                        {{ users.customuser__last_name }} {{ users.customuser__first_name }}
                                                    </span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Телефон</span>
													<span class="right-dt">{{ users.customuser__phone }}</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Email</span>
													<span class="right-dt">{{ users.customuser__email }}</span>
												</div>
                                                <div class="shopowner-dt-list">
													<span class="left-dt">Наименование организации</span>
                                                    {% if customuser__org %}
													<span class="right-dt">{{ users.customuser__org }}</span>
                                                    {% else %}
                                                    <span class="right-dt">Не указано</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Адрес отгузки</span>
                                                    {% if users.customuser__address %}
													<span class="right-dt">{{ users.customuser__address }}</span>
                                                    {% else %}
                                                    <span class="right-dt">Не указан</span>
                                                    {% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dts mt-0">
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя :</span>
													<span class="right-dt">{{ users.customuser__last_name}} {{ users.customuser__first_name }}</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Зона</span>
													<span class="right-dt">Свердловская область</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Полный адрес</span>
													<span class="right-dt">{{ shops.address }}</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Плата за доставку</span>
													<span class="right-dt">300 р.</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Широта</span>
													<span class="right-dt">30.4152</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Долгота</span>
													<span class="right-dt">45.5582</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Статус</span>
                                                    {% if shops.status %}
													<span class="right-dt">Активный</span>
                                                    {% endif %}
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Время открытия</span>
													<span class="right-dt">09.00 AM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Время закрытия</span>
													<span class="right-dt">10.00 PM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Описание</span>
                                                    {% if users.customuser__descriptions %}
													<span class="right-dt">{{ users.customuser__descriptions }}</span>
                                                    {% else %}
                                                    <span class="right-dt">Без описания</span>
                                                    {% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}