{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
         <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Магазины</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{%  url 'shops' %}">Магазины</a></li>
                            <li class="breadcrumb-item active">Просмотр магазина</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shop-content-left pd-20">
											<div class="shop_img">
												<img src="{%  static 'file/panel/images/shop.svg' %}" alt="">
											</div>
											<div class="shop-dt-left">
												<h4>Название магазина</h4>
												<span>Свердловская область, г.Екатеринбург, ул. Ленина 9</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dt-left">
												<h4>Василий Пупкин</h4>
												<span>Владелец магазина</span>
											</div>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя пользователя</span>
													<span class="right-dt">Joginder1991</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Телефон</span>
													<span class="right-dt">+918437176189</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Email</span>
													<span class="right-dt">gambol943@gmail.com</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Адрес</span>
													<span class="right-dt">Свердловская область, г.Екатеринбург, ул. Ленина 9</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left pd-20">
											<div class="shopowner-dts mt-0">
												<div class="shopowner-dt-list">
													<span class="left-dt">Имя :</span>
													<span class="right-dt">Имя магазина</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Зона</span>
													<span class="right-dt">Свердловская область</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Локация</span>
													<span class="right-dt">г.Екатеринбург, ул.Ленина 9</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Плата за доставку</span>
													<span class="right-dt">300 р.</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Широта</span>
													<span class="right-dt">30.4152</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Долгота</span>
													<span class="right-dt">45.5582</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Текущие состояние</span>
													<span class="right-dt">Да</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Статус</span>
													<span class="right-dt">Активный</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Время открытия</span>
													<span class="right-dt">09.00 AM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Время закрытия</span>
													<span class="right-dt">10.00 PM</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Адрес</span>
													<span class="right-dt">#0000, 623100 г. Екатеринбург, ул. Ленина 9</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Описание</span>
													<span class="right-dt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate, purus at tempor blandit, nulla felis dictum eros, sed volutpat odio sapien id lectus.</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>

{% endblock content %}