{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    <main>
        <div class="container-fluid">
            <h2 class="mt-30 page-title">Продукты</h2>
            <ol class="breadcrumb mb-30">
                <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{% url 'file' %}">Файлы выгрузки</a></li>
                <li class="breadcrumb-item active">Обновления позиций</li>
            </ol>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-static-2 mt-30 mb-30">
                        <div class="card-title-2">
                            <h4>Обновленные позиции (Всего {{ count }} {{ address }})</h4>
                        </div>
                        <br>
                        <div class="card-body-table">
                            <div class="table-responsive">
                                <table id="info-table" class="table ucp-table table-hover table_sort">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%">Номенклатура</th>
                                        <th style="width: 40%">Цена</th>
                                        <th style="width: 40%">Статус</th>
                                    </tr>
                                    {{ log }}
                                    </thead>
                                    <tbody>
                                    {% comment %}{% for l in log %}
                                        <tr>
                                            <td>
                                                {{ l.0 }}
                                            </td>
                                            <td>
                                                {{ l.1 }}
                                            </td>
                                            <td>
                                                {{ l.2 }}
                                            </td>
                                        </tr>
                                    {% endfor %}{% endcomment %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not user.is_superuser %}
                    <div class="col-lg-12">
                        <a href="{% url 'products' %}" class="add-btn hover-btn">К списку продуктов</a>
                    </div>
                {% else %}
                    <div class="col-lg-12">
                        <a href="{% url 'file' %}" class="add-btn hover-btn">К списку файлов</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'file/panel/js/UploadFile.js' %}"></script>
{% endblock content %}