{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <h2 class="mt-30 page-title">Файлы обновления</h2>
        <ol class="breadcrumb mb-30">
            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
            <li class="breadcrumb-item"><a href="{% url 'file' %}">Файлы выгрузки</a></li>
            <li class="breadcrumb-item active">Обновления позиций</li>
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-static-2 mt-30 mb-30">
                    <br>
                    <div class="card-body-table">
                        <div class="table-responsive">
                            <table id="info-table" class="table ucp-table table-hover table_sort">
                                <thead>
                                <tr>
                                    <th>Всего позиций в базе</th>
                                    <th>Позиций в файле</th>
                                    <th>Найдено совпадений</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ count_base }} шт.
                                    </td>
                                    <td>
                                        {{ count }} шт.
                                    </td>
                                    <td>
                                        {{ file_count }} шт.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card card-static-2 mt-30 mb-30">
                    <div class="card-title-2">
                        <h4>Обработанные позиции</h4>
                    </div>
                    <br>
                    {#                    <br><a href="{% url 'export_0' %}">Файл экспорта без контроля остатков</a>#}
                    <div class="card-body-table">
                        <div class="table-responsive">
                            <table id="info-table" class="table ucp-table table-hover table_sort">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Название файла</th>
                                    <th>Ссылка на скачивание</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        Файл - неопубликованные позиции
                                    </td>
                                    <td>
                                        <a href="{% url 'export_1' %}">Скачать</a>
                                    </td>
                                </tr>
                                {% comment %}Файл опубликованные позиции{% endcomment %}
                                <tr>
                                    <td>
                                        <p>2</p>
                                    </td>
                                    <td>
                                        Файл - опубликованные позиции
                                    </td>
                                    <td>
                                        <a href="{% url 'export_0' %}">Скачать</a>
                                    </td>
                                </tr>
                                {% comment %}Файлы не вошедшие в проверку{% endcomment %}
                                <tr>
                                    <td>
                                        <p>3</p>
                                    </td>
                                    <td>
                                        Файл - несуществующие позиции
                                    </td>
                                    <td>
                                        <a href="/no_product_/{{ address_str }}">Скачать</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not user.is_superuser %}
            <div class="col-lg-12">
                <a href="{% url 'products' %}" class="add-btn hover-btn">К списку продуктов</a>
            </div>
        {% else %}
            <div class="col-lg-12">
                <a href="{% url 'file' %}" class="add-btn hover-btn">К списку файлов</a>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'file/panel/js/UploadFile.js' %}"></script>
{% endblock content %}