{% extends 'panel/layouts/base.html' %}
{% block title %}panel{% endblock %}
{% block content %}
    {% load static %}
        <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Клиенты</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="{% url 'panel' %}">Панель управления</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'category' %}">Категории</a></li>
                            <li class="breadcrumb-item active">Просмотр категории</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="card card-static-2 mb-30">
									<div class="card-body-table">
										<div class="shopowner-content-left text-center pd-20">
                                        <h4>Категория товара</h4>
											<div class="customer_img">
                                                {% if images.image %}
												<img src="{{ images.image.url}}" alt="">
                                                {% endif %}
											</div>
											<div class="shopowner-dt-left mt-4">
												<span>{{ categories.category__name }}</span>
											</div>
											<div class="shopowner-dts">
												<div class="shopowner-dt-list">
													<span class="left-dt">Название</span>
													<span class="right-dt">{{ categories.name }}</span>
												</div>
												<div class="shopowner-dt-list">
													<span class="left-dt">Подкатегории</span>
                                                    {% if categories.subcategory__name %}
													<span class="right-dt">{{ categories.subcategory__name }}</span>
                                                    {% else %}
                                                    <span class="right-dt">Не указано</span>
                                                    {% endif %}
												</div>
                                            <div class="shopowner-dt-list">
													<span class="left-dt">Территория</span>
                                                    {% if categories.shop__name %}
													<span class="right-dt">{{ categories.shop__name }}</span>
                                                    {% else %}
                                                    <span class="right-dt">Не указано</span>
                                                    {% endif %}
												</div>
                                            <div class="shopowner-dt-list">
													<span class="left-dt">Описание категории</span>
													<span class="right-dt">{{ categories.descriptions }}</span>
                                            </div>
                                            <div class="shopowner-dt-list ">
													<span class="left-dt ">Статус</span>
                                                {% if categories.status %}
                                                <span class="right-dt ">Опубликован</span>
                                                {% else %}
                                                <span class="right-dt ">Не опубликован</span>
                                                {% endif %}
                                            </div>
											</div>
										</div>
                                        <div class="col-lg-12">
								            <a href="{% url 'category' %}" class="add-btn hover-btn">К списку категорий</a>
                                        </div>
                                    <div class="shopowner-dt-left mt-4">
                                    </div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
{% endblock content %}