.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.card-static-2 {
	border: 1px solid #efefef !important;
	background: #fff;
}

.mb-30 {
	margin-bottom: 30px !important;
}
.post-form {
    padding: 30px;
    border-top: 1px solid #efefef;
}

.dashboard-report-card {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #efefef;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
	background: #fff;
}

.dashboard-report-card .card-media {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,.2);
    justify-content: center;
    right: 20px;
    top: 20px;
    position: absolute;
}

.dashboard-report-card .card-media i {
    font-size: 35px;
    color: #fff;
}

.dashboard-report-card .card-content {
    color: #fff;
    flex-grow: 1;
}

.dashboard-report-card .card-content .card-title {
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
	font-size: 16px;
	font-weight: 500;
}

.dashboard-report-card .card-content .card-count {
    font-size: 28px;
    margin: 8px 0 0;
    display: block;
    font-weight: 600;
}

.dashboard-report-card.purple {
    background-color: #8892d6;
    border-color: #8892d6;
}

.dashboard-report-card.red {
    background-color: #fc544b;
    border-color: #fc544b;
}

.dashboard-report-card.info {
    background-color: #45bbe0;
    border-color: #45bbe0;
}

.dashboard-report-card.success {
    background-color: #78c350;
    border-color: #78c350;
}

.card-body-table-footer {
	padding: 15px 10px;
	border-top: 1px solid #efefef;
}

.card-body-table-footer ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.card-body-table-footer ul li {
	display: inline-block;
}

.form-label {
    font-weight: 500;
    font-size: 14px;
    color: #2b2f4c;
    margin-bottom: 10px;
}

.card-title-1 h4 {
    font-size: 18px;
    font-weight: 600;
    color: #2b2f4c;
    margin-bottom: 0 !important;
}
.card-title-2 h4 {
    font-size: 16px;
    font-weight: 500;
    color: #2b2f4c;
    margin-bottom: 0 !important;
}

.shop-dt-left h4 {
    color: #2b2f4c;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    text-align: left;
}
.shopowner-dt-left h4 {
    color: #2b2f4c;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}
.menu-configs h4 {
	font-weight: 500;
	font-size: 16px;
	color: #2b2f4c;
}