{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}404{% endblock %}
{% block stylesheets %}
	<link href="{% static 'file/shop/css/404.css' %}" rel='stylesheet'>
{% endblock stylesheets %}
{% block content %}
<!-- partial:index.partial.html -->
<section class="page_404">
	<div class="container">
		<div class="row">
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>


		</div>

		<div class="contant_box_404">
		<h3 class="h2">
		Пока мы на этой странице ничего не придумали
		</h3>

		<p>Пожалуйста, перейдите на другую страницу!</p>

		<a href="" class="link_404">Главная</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
<!-- partial -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}