{% extends 'shop/layouts/base.html' %}

{% block title %}about{% endblock %}
{% block content %}
	{% load static %}
	<!-- Body Start -->
	<div class="wrapper">
		<div class="default-dt">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="default_tabs">
							<nav>
								<div class="nav nav-tabs tab_default  justify-content-center">
									<a class="nav-item nav-link active" href="{% url 'about' %}">О Компании</a>
									<!--<a class="nav-item nav-link" href="our_blog.html">Blog</a>-->
									<a class="nav-item nav-link" href="{% url 'career' %}">Карьера</a>
									<!--<a class="nav-item nav-link" href="press.html">Пресса</a>-->
								</div>
							</nav>						
						</div>
						<div class="title129">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="default-title left-text">
							<h2>КООП</h2>
							<p>Клиенты заслуживают лучшего</p>
							<img src="{% static 'file/shop/images/line.svg' %}" alt="">
						</div>
						<div class="about-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac sodales sapien. Sed pellentesque, quam in ornare tincidunt, magna augue placerat nunc, ut facilisis nibh ipsum non ipsum. Cras ac eros non neque viverra consequat sed at est. Fusce efficitur, lacus nec dignissim tincidunt, diam sapien rhoncus neque, at tristique sapien nibh sed neque. Proin in neque in purus luctus facilisis. Donec viverra ligula quis lorem viverra consequat. Aliquam condimentum id enim volutpat rutrum. Donec semper iaculis convallis. Praesent quis elit eget ligula facilisis mattis. Praesent sed euismod dui. Suspendisse imperdiet vel quam nec venenatis. Suspendisse dictum blandit quam, vitae auctor enim gravida et. Sed id dictum nibh. Proin egestas massa sit amet tincidunt aliquet.</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-img">
							<img src="{% static 'file/shop/images/about.svg' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-steps-group white-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="about-step">
							<div class="about-step-img">
								<img src="{% static 'file/shop/images/about/icon-1.svg' %}" alt="">
							</div>
							<h4>400+</h4>
							<p>Покупки в нашем магазине за последние шесть месяцев </p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="about-step">
							<div class="about-step-img">
								<img src="{% static 'file/shop/images/about/icon-2.svg' %}" alt="">
							</div>
							<h4>2x</h4>
							<p>Темпы роста нашей ежемесячной пользовательской базы </p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="about-step">
							<div class="about-step-img">
								<img src="{% static 'file/shop/images/about/icon-3.svg' %}" alt="">
							</div>
							<h4>Мы</h4>
							<p>На всей территории Свердловской области</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="about-step">
							<div class="about-step-img">
								<img src="{% static 'file/shop/images/about/icon-4.svg' %}" alt="">
							</div>
							<h4>95k</h4>
							<p>Загрузки приложений на iOS и Android</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="life-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="default-title">
							<h2>Наша сеть магазинов</h2>

							<img src="{% static 'file/shop/images/line.svg' %}" alt="">
						</div>
						<div class="dd-content">
							<div class="owl-carousel team-slider owl-theme">
								<div class="item">
									<div class="team-item">
										<div class="team-img">
											<img src="{% static 'file/shop/images/team/img-1.jpg' %}" alt="">
										</div>
										<h4>Артинское <br> РАЙПО</h4>
										<span>...</span>
										<ul class="team-social">
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="team-item">
										<div class="team-img">
											<img src="{% static 'file/shop/images/team/img-2.jpg' %}" alt="">
										</div>
										<h4>Красноуфимское <br> РАЙПО</h4>
										<span>...</span>
										<ul class="team-social">
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="team-item">
										<div class="team-img">
											<img src="{% static 'file/shop/images/team/img-3.jpg' %}" alt="">
										</div>
										<h4>Первоуральское <br> РАЙПО</h4>
										<span>...</span>
										<ul class="team-social">
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="item">
									<div class="team-item">
										<div class="team-img">
											<img src="{% static 'file/shop/images/team/img-4.jpg' %}" alt="">
										</div>
										<h4>Нижнесергинское <br> РАЙПО</h4>
										<span>...</span>
										<ul class="team-social">
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="scl-btn hover-btn"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="how-order-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="default-title">
							<h2>Как сделать заказ?</h2>
							<img src="{% static 'file/shop/images/line.svg' %}" alt="">
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-search"></i>
							</div>
							<h4>Найдите продукты на сайте или воспользуйтесь приложением. </h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-shopping-basket"></i>
							</div>
							<h4>Добавьте товар в корзину </h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-stopwatch"></i>
							</div>
							<h4>Выберите удобное время доставки</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-money-bill"></i>
							</div>
							<h4>Выберите подходящий вариант оплаты</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-truck"></i>
							</div>
							<h4>Ваши продукты будут доставлены в место согласно вашему заказу.</h4>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="how-order-steps">
							<div class="how-order-icon">
								<i class="uil uil-smile"></i>
							</div>
							<h4>Довольные клиенты </h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}
