{% extends 'shop/layouts/base.html' %}

{% block title %}career{% endblock %}
{% block content %}
    {% load static %}
    <!-- Body Start -->
    <div class="wrapper">
        <div class="default-dt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="default_tabs">
                            <nav>
                                <div class="nav nav-tabs tab_default  justify-content-center">
                                    <a class="nav-item nav-link active" href="{% url 'career' %}">Вакансии</a>
                                </div>
                            </nav>
                        </div>
                        <div class="title129">
                            <h2>Присоединяйтесь к крупнейшей торговой сети</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="life-gambo white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="default-title">
                            <h2>Открытые вакансии</h2>
                            <img src="{% static 'file/shop/images/line.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-15">
                    {% for work in work %}
                        <div class="job-bg1">
                            <div class="job-item">
                                <h3>Вакансия - {{ work.name }}</h3>
                                {% for shop in shops %}
                                    {% if shop.slug == work.slug %}
                                        <p style="color: #000000; font-size: 15px"><i class="uil uil-map-marker-alt"></i>{{ shop.name }}</p>
                                    {% endif %}
                                {% endfor %}
                                <p style="color: #000000; font-size: 15px">{{ work.descriptions }}</p>
                                Контактный телефон: <a href="tel:{{ work.phone }}">{{ work.phone }}</a>
                                <br>
                                {% if work.zp %}
                                    Зарплата: {{ work.zp }} р.
                                    <br>
                                {% endif %}
                                {% if work.obr %}
                                    Образование: {{ work.obr }}<br>
                                {% endif %}
                                {% if work.opwork %}
                                    Опыт работы: {{ work.opwork }}{% if work.opwork <= '4' %} год(а) {% else %} лет {% endif %}<br>
                                {% endif %}
                                {% if work.timesstart and  work.timesend %}
                                    График работы: {{ work.timesstart }} - {{ work.timesend }}<br>
                                {% endif %}
                            </div>
                            {#                            <i class="uil uil-angle-right-b arrow-icon"></i>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->
    {% include 'shop/layouts/footer.html' %}
    {% include 'shop/includes/scripts_home.html' %}
{% endblock content %}