{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
    <div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="container">
		<div class="all-product-grid">
            <div class="contact-title-1">
                            <div class="card-title-2">
                                <div class="main-cart-title"></div>
                                <h2 style="text-align: center">Ваш заказ успешно добавлен</h2>
                            </div>
                <div class="col-lg-6 col-md-6">
                </div>

            </div>
        </div>
    </div>
    </div>
{% include 'shop/includes/modal_checkbox.html' %}
{% include 'shop/includes/cart_modal_arti.html' %}
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}