{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}shop{% endblock %}
{% block stylesheets %}
    <!-- Style CSS -->
<link  href="{% static 'file/shop/css/home/stylesheet.css' %}" rel="stylesheet">
<link  href="{% static 'file/shop/css/home/mmenu.css' %}" rel="stylesheet">
<link  href="{% static 'file/shop/css/home/icons.css' %}" rel="stylesheet">
<link  href="{% static 'file/shop/css/home/style.css' %}" id="colors" rel="stylesheet">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block content %}

  	<!-- Body Start -->
		<div class="wrapper">
		<!-- Offers Start -->
		<div class="main-banner-slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel offers-banner owl-theme">
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="{% static 'file/shop/images/banners/offer-2.jpg' %}" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<div class="top-text-1">Воды, соки, напитки</div>
											<span>Напитки</span>
										</div>
										<a href="{% url 'arti' %}" class="Offer-shop-btn hover-btn">Купить сейчас</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="{% static 'file/shop/images/banners/offer-3.jpg' %}" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<div class="top-text-1">Яйца</div>
											<span>Яйца</span>
										</div>
										<a href="{% url 'arti' %}" class="Offer-shop-btn hover-btn">Купить сейчас</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="{% static 'file/shop/images/banners/offer-4.jpg' %}" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<div class="top-text-1">Фрукты и овощи</div>
											<span>Свежие овощи и фрукты</span>
										</div>
										<a href="{% url 'arti' %}" class="Offer-shop-btn hover-btn">Купить сейчас</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="offer-item">
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="{% static 'file/shop/images/banners/offer-5.jpg' %}" alt="">
									</div>
									<div class="offer-text-dt">
										<div class="offer-top-text-banner">
											<div class="top-text-1">Бакалея</div>
											<span>Орехи</span>
										</div>
										<a href="{% url 'arti' %}" class="Offer-shop-btn hover-btn">Купить сейчас</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Offers End -->

		<!-- Categories Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2>Категории</h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel cate-slider owl-theme">
                            {% for categories in categories %}
                                {% if categories.status %}
							<div class="item">
								<a href="#" class="category-item">
                                    {% if categories.image %}
									<div class="cate-img">
										<img src="{{ categories.image.url }}" alt="">
									</div>
                                    {% endif %}
									<h4>{{ categories.name }}</h4>
								</a>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories End -->

		<!-- Featured Products Start -->
		<div class="section145">
			<div class="container">
                <div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2></h2>
							</div>
							<a href="#" class="see-more-btn">Весь список</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel featured-slider owl-theme">
                            {% for s in s %}
							<div class="item">
								<div class="product-item">
									<a href="#" class="product-img">
										<img src="{{ s.image.url }}" width="150" height="150" alt="">
									</a>
									<div class="product-text-dt">
										<p>В наличии</p>
										<h4>{{ s.name }}</h4>
										<div class="product-price">{{ s.price }} р.</div>
										<div class="qty-cart">
											<div class="quantity buttons_added">
												<input type="button" value="-" class="minus minus-btn">
												<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
												<input type="button" value="+" class="plus plus-btn">
											</div>
											<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Featured Products End -->
	</div>
	<!-- Body End -->
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}