{% extends 'shop/layouts/base_rezh.html' %}
{% load static %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
<div class="wrapper">
        <div class="container">
            <div class="all-product-grid">
                <div class="contact-title-1">
                    <div class="card-title-2">
                        <div class="main-cart-title"></div>
                        <h2 style="text-align: center">Ваш заказ успешно добавлен</h2>
                    </div>
                </div>
            </div>
        </div>
		<div class="all-product-grid">
            <div class="contact-title-1">
                <div class="col-lg-6 col-md-6">
                </div>
                <div class="contact-form-cart">
                    <h2>   </h2>
                    <div class="form-group mt-1">
                        <label class="control-label-cart">Номер заказа : {{ order.id }}</label>
                    </div>
                    <div class="form-group mt-1">
                        {% for name,phone,times,uraddress, slug in shops %}
                            {% if slug == order.slug %}
                                <label class="control-label-cart">Магазин : {{ name }}</label>
                                <br>
                                <label style="text-indent: 10px" class="control-label-cart">Телефон : {{ phone }}</label>
                                <br>
                                <label style="text-indent: 10px" class="control-label-cart">Время работы : {{ times|cut:"'"|cut:"["|cut:"]" }}</label>
                                <br>
                                <label style="text-indent: 10px" class="control-label-cart">Юр. адрес : {{ uraddress }}</label>
                            {% endif %}
                        {% endfor %}
                    </div>
                <input type="submit" hidden="hidden" id="remove" class="clear-cart btn">
                    <div class="form-group mt-1">
                        <label class="control-label-cart">Статус заказа : {% if order.status == null %}<span style=" color: orangered" >В ожидании</span>{% endif %}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'shop/includes/modal_checkbox.html' %}
{% include 'shop/includes/cart_modal_rezh.html' %}
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
    {% block script %}
<script src="{% static 'file/shop/js/removecart.js' %}"></script>
        {% endblock %}
{% endblock content %}