{% extends 'shop/layouts/base_rezh.html' %}
{% load thumbnail %}

{% block title %}product{% endblock %}

{% block content %}
	{% load static %}

	<div class="wrapper">
        <div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-dt-view">
							<div class="row">
								<div class="col-lg-4 col-md-4">
									<div id="sync1"  class="owl-theme">
                                        {% if product.image %}
										<div class="item">
											{% thumbnail product.image "300x300" crop="center" as im %}
                                                <img src="{{ im.url }}"alt="">
                                            {% endthumbnail %}
										</div>
                                        {% endif %}
									</div>
								</div>
								<div class="col-lg-8 col-md-8">
									<div class="product-dt-right">
										<h2>{{ product.name }}</h2>
										<div class="no-stock">
											<p class="pd-no">Продукт No.<span>{{ product.id }}</span></p>
										</div>
										<p class="pp-descp">{{ product.description }}</p>
										<div class="product-group-dt">
											<ul>
												<li><div class="main-price color-discount">Цена</div></li>
                                                <li><div class="main-price mrp-price">{{ product.price }} р</div></li>
											</ul>
											<ul class="ordr-crt-share">
												<li>
                                                    <button data-name="{{ product.name }}" data-price='{{ product.price }}' class="add-cart-btn hover-btn add-to-cart">
                                                    <i class="uil uil-shopping-cart-alt "></i>Добавить в корзину</button>
                                                </li>
                                            </ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    {% include 'shop/includes/animation_add_cart.html' %}
{% include 'shop/includes/cart_modal_rezh.html' %}
{% include 'shop/includes/featured_rezh.html' %}
{% include 'shop/layouts/footer.html' %}
{% include 'shop/includes/scripts.html' %}
{% endblock content %}